Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

makefile fix
  makefile
Due: .ci/pipeline/ci.yml

FIX: distributed knn double sqrt bug
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/daal/include/algorithms/pca/pca_explained_variance_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

changes to match review
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_impl.i
Due: .ci/pipeline/ci.yml

last reviewer changes
  cpp/daal/src/data_management/finiteness_checker.h
Due: .ci/pipeline/ci.yml

Update finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Due: .ci/pipeline/ci.yml

another try at fixing bazel build issues
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_impl.i
Due: .ci/pipeline/ci.yml

Update BUILD
  cpp/daal/BUILD
Due: .ci/pipeline/ci.yml

minor fixes
  cpp/daal/include/algorithms/pca/pca_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

formatting
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_impl.i
Due: .ci/pipeline/ci.yml

minor fixes for unresolved symbols
  cpp/daal/include/algorithms/algorithm_types.h
  cpp/daal/include/algorithms/pca/pca_explained_variance_types.h
  cpp/daal/include/algorithms/pca/pca_quality_metric_set_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/src/algorithms/pca/metrics/pca_quality_metric.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update data-analytics-pipeline.rst
  docs/source/data-analytics-pipeline.rst
Due: .ci/pipeline/docs.yml

minor fixes
  cpp/daal/include/algorithms/pca/pca_quality_metric_set_batch.h
  cpp/daal/src/algorithms/pca/metrics/pca_quality_metric.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Return incorrectly deleted include back
  cpp/oneapi/dal/detail/cpu.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixed warning on dll exports
  cpp/oneapi/dal/io/csv/detail/read_ops.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

broken tests
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_uniform_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix naming issues
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

code factor doesn't like me
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

float -> float_t
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_uniform_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

added doxygen notation descriptions for data_source class and methods
  cpp/oneapi/dal/io/csv/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixed deleted template declaration in prev commit
  cpp/oneapi/dal/io/csv/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

added default floa type for table data type
  cpp/oneapi/dal/io/csv/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fixes
  cpp/daal/include/algorithms/pca/pca_explained_variance_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Cache base on VM image as well
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

minor fix
  cpp/daal/include/algorithms/algorithm_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix for win
  cpp/daal/include/algorithms/pca/pca_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixed
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc.hpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Cache BLAS and TBB builds in CI (#2728)
  .ci/env/tbb.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
Due: .ci/pipeline/ci.yml

forgotten AVX naming leading to infinte loop
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
Due: .ci/pipeline/ci.yml

add comments
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Due: .ci/pipeline/ci.yml

feat(samples): add CMakeLists.txt for mpi/ccl samples
  .ci/pipeline/ci.yml
  .ci/scripts/test.sh
  makefile
  samples/cmake/FindCCL.cmake
  samples/cmake/setup_samples.cmake
  samples/daal/cpp/mpi/CMakeLists.txt
  samples/oneapi/dpc/ccl/CMakeLists.txt
  samples/oneapi/dpc/mpi/CMakeLists.txt
Due: .ci/pipeline/ci.yml

adding online distributed for pcacov
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_impl.hpp
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_impl_dpc.cpp
  cpp/oneapi/dal/algo/pca/detail/finalize_train_ops_dpc.cpp
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
  cpp/oneapi/dal/algo/pca/test/online_spmd.cpp
  cpp/oneapi/dal/test/engine/fixtures.hpp
  cpp/oneapi/dal/test/engine/spmd.hpp
  samples/oneapi/dpc/ccl/onedal_lnx.lst
  samples/oneapi/dpc/ccl/sources/pca_online_distr_ccl.cpp
  samples/oneapi/dpc/mpi/onedal_lnx.lst
  samples/oneapi/dpc/mpi/sources/pca_online_distr_mpi.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/daal/include/algorithms/pca/pca_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add Arm LLVM cross-compilation CI pipeline
  .ci/env/apt.sh
  .ci/env/arm-clang-crosscompile-toolchain.cmake
  .ci/env/openblas.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
  dev/make/compiler_definitions/clang.ref.arm.mk
  examples/daal/cpp/target_excludes.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-formatting and making consistent
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_uniform_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix error in tests
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Run shellcheck
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

Fix build error in oneAPI examples
  cpp/oneapi/dal/detail/cpu.cpp
  cpp/oneapi/dal/detail/cpu.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update dev/make/compiler_definitions/icx.mkl.32e.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
