Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Initial
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/backend/primitives/blas/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/blas/gemv_dpc.cpp
  cpp/oneapi/dal/backend/primitives/blas/syrk_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/cosine_distance_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/cosine_distance_misc_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/default_distance_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/squared_l2_distance_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/squared_l2_distance_misc_dpc.cpp
  cpp/oneapi/dal/backend/primitives/regression/naive_distance_dpc.cpp
  cpp/oneapi/dal/backend/primitives/regression/naive_uniform_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/search.hpp
  cpp/oneapi/dal/backend/primitives/search/search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_heap_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_quick.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_simd.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_single_col.hpp
  cpp/oneapi/dal/backend/primitives/voting/large_k_uniform_dpc.cpp
  cpp/oneapi/dal/backend/primitives/voting/naive_distance_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Changes according to @Alexsandruss comments
  cpp/oneapi/dal/backend/primitives/distance/cosine_distance_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/squared_l2_distance_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update cpp/oneapi/dal/backend/primitives/distance/cosine_distance_misc_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/cosine_distance_misc_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Extended profiling (#2293)
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/backend/primitives/blas/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/blas/gemv_dpc.cpp
  cpp/oneapi/dal/backend/primitives/blas/syrk_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/cosine_distance_misc_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/default_distance_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/squared_l2_distance_misc_dpc.cpp
  cpp/oneapi/dal/backend/primitives/regression/naive_distance_dpc.cpp
  cpp/oneapi/dal/backend/primitives/regression/naive_uniform_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/search.hpp
  cpp/oneapi/dal/backend/primitives/search/search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_heap_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_quick.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_simd.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_single_col.hpp
  cpp/oneapi/dal/backend/primitives/voting/large_k_uniform_dpc.cpp
  cpp/oneapi/dal/backend/primitives/voting/naive_distance_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix AddressSanitizer error: alloc-dealloc-mismatch
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

Move csr_table class from the namespace dal::detail into namespace dal:: (#2271)
  cpp/oneapi/dal.hpp
  cpp/oneapi/dal/algo/svm/backend/cpu/infer_cls_kernel.cpp
  cpp/oneapi/dal/algo/svm/backend/cpu/infer_reg_kernel.cpp
  cpp/oneapi/dal/algo/svm/backend/cpu/train_cls_kernel.cpp
  cpp/oneapi/dal/algo/svm/backend/cpu/train_reg_kernel.cpp
  cpp/oneapi/dal/backend/interop/table_conversion.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
  cpp/oneapi/dal/table/BUILD
  cpp/oneapi/dal/table/backend/convert.hpp
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
  cpp/oneapi/dal/table/backend/csr_kernels.hpp
  cpp/oneapi/dal/table/backend/csr_table_impl.hpp
  cpp/oneapi/dal/table/backend/empty_table_impl.hpp
  cpp/oneapi/dal/table/backend/interop/host_csr_table_adapter.cpp
  cpp/oneapi/dal/table/backend/interop/host_csr_table_adapter.hpp
  cpp/oneapi/dal/table/common.hpp
  cpp/oneapi/dal/table/csr.cpp
  cpp/oneapi/dal/table/csr.hpp
  cpp/oneapi/dal/table/detail/csr.cpp
  cpp/oneapi/dal/table/detail/csr.hpp
  cpp/oneapi/dal/table/detail/csr_access_iface.hpp
  cpp/oneapi/dal/table/detail/csr_accessor.hpp
  cpp/oneapi/dal/table/detail/csr_block.hpp
  cpp/oneapi/dal/table/detail/table_iface.hpp
  cpp/oneapi/dal/table/detail/test/csr_accessor.cpp
  cpp/oneapi/dal/table/homogen.cpp
  cpp/oneapi/dal/table/test/csr.cpp
  cpp/oneapi/dal/test/engine/mocks.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add documentation for CSR tables
  docs/source/api/data-management/table/csr.rst
  docs/source/api/data-management/tables.rst
  docs/source/onedal/data-management/table/csr.rst
  docs/source/onedal/data-management/tables.rst
Due: .ci/pipeline/docs.yml

Fix AddressSanitizer error: alloc-dealloc-mismatch (#2294)
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

Fix doc build issues
  docs/source/api/data-management/tables.rst
  docs/source/conf.py
  docs/source/onedal/data-management/table/csr.rst
Due: .ci/pipeline/docs.yml

Fix too short title underline in docs/source/api/data-management/table/csr.rst
  docs/source/api/data-management/table/csr.rst
Due: .ci/pipeline/docs.yml

Revert the change of the year in copyright in tables.rst
  docs/source/api/data-management/tables.rst
Due: .ci/pipeline/docs.yml

Fix doc build errors. Improve term description in the glossary
  docs/source/api/data-management/tables.rst
  docs/source/onedal/data-management/tables.rst
  docs/source/onedal/glossary.rst
  docs/source/onedal/images/zero-based-csr.png
Due: .ci/pipeline/docs.yml

Fixzero-based-csr.pngR image ad its caption
  docs/source/onedal/glossary.rst
  docs/source/onedal/images/zero-based-csr.png
Due: .ci/pipeline/docs.yml

resolved knn distance voting classification issue
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc.hpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

resolving knn classification distance voting issue
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc.hpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply review comments
  docs/source/api/data-management/table/csr.rst
  docs/source/api/data-management/tables.rst
  docs/source/onedal/data-management/table/csr.rst
  docs/source/onedal/glossary.rst
Due: .ci/pipeline/docs.yml

Fix docs build errors
  docs/source/api/data-management/tables.rst
  docs/source/onedal/data-management/tables.rst
Due: .ci/pipeline/docs.yml

Fix docs build errors
  docs/source/api/data-management/tables.rst
Due: .ci/pipeline/docs.yml

Move CSR table figure out of the glossary to fix build errors
  docs/source/onedal/data-management/table/csr.rst
  docs/source/onedal/glossary.rst
Due: .ci/pipeline/docs.yml

Move CSR image to the proper place
  docs/source/onedal/data-management/table/images/zero-based-csr.png
Due: .ci/pipeline/docs.yml

Integrate cpu daal implementation and fix code format
  cpp/oneapi/dal/algo/logloss_objective/common.cpp
  cpp/oneapi/dal/algo/logloss_objective/common.hpp
  cpp/oneapi/dal/algo/objective_function/BUILD
  cpp/oneapi/dal/algo/objective_function/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl.hpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/common.cpp
  cpp/oneapi/dal/algo/objective_function/common.hpp
  cpp/oneapi/dal/algo/objective_function/compute_types.cpp
  cpp/oneapi/dal/algo/objective_function/compute_types.hpp
  cpp/oneapi/dal/algo/objective_function/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/objective_function/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/objective_function/detail/compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/detail/objective.cpp
  cpp/oneapi/dal/algo/objective_function/detail/objective.hpp
  cpp/oneapi/dal/algo/objective_function/test/batch.cpp
  cpp/oneapi/dal/algo/objective_function/test/fixture.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add uniform batching, remove redundant comments
  cpp/oneapi/dal/algo/logloss_objective/common.cpp
  cpp/oneapi/dal/algo/objective_function/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/common.cpp
  cpp/oneapi/dal/algo/objective_function/common.hpp
  cpp/oneapi/dal/algo/objective_function/compute_types.cpp
  cpp/oneapi/dal/algo/objective_function/compute_types.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add std::move and remove redundant DAAL_EXPORT
  cpp/daal/src/algorithms/objective_function/logistic_loss/logistic_loss_dense_default_kernel_oneapi_fpt.cpp
  cpp/daal/src/algorithms/objective_function/logistic_loss/oneapi/logistic_loss_dense_default_kernel_oneapi.h
  cpp/daal/src/services/service_arrays.h
Due: .ci/pipeline/ci.yml

Add simple test
  cpp/oneapi/dal/algo/objective_function/BUILD
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/test/test1.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add objective_function
  cpp/oneapi/dal.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update makefile
  makefile.lst
Due: .ci/pipeline/ci.yml

Initial commit
  cpp/oneapi/dal/algo/objective_function/common.cpp
  cpp/oneapi/dal/algo/objective_function/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add compute kernel for gpu and dummy compute file for cpu
  cpp/oneapi/dal/algo/logloss_objective/common.cpp
  cpp/oneapi/dal/algo/objective_function/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/objective_function/backend/cpu/compute_kernel_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl.hpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/backend/objective_impl.hpp
  cpp/oneapi/dal/algo/objective_function/common.cpp
  cpp/oneapi/dal/algo/objective_function/common.hpp
  cpp/oneapi/dal/algo/objective_function/compute_types.cpp
  cpp/oneapi/dal/algo/objective_function/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/objective_function/detail/compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/detail/objective.cpp
  cpp/oneapi/dal/algo/objective_function/detail/objective.hpp
  cpp/oneapi/dal/algo/objective_function/test/test1.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add DAAL_EXPORT
  cpp/daal/src/algorithms/objective_function/logistic_loss/logistic_loss_dense_default_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/objective_function/logistic_loss/logistic_loss_dense_default_kernel_oneapi_fpt.cpp
  cpp/daal/src/algorithms/objective_function/logistic_loss/oneapi/logistic_loss_dense_default_kernel_oneapi.h
Due: .ci/pipeline/ci.yml

Add compute input and compute result
  cpp/oneapi/dal/algo/objective_function/common.cpp
  cpp/oneapi/dal/algo/objective_function/common.hpp
  cpp/oneapi/dal/algo/objective_function/compute_types.cpp
  cpp/oneapi/dal/algo/objective_function/compute_types.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add test and update BUILD files
  cpp/oneapi/dal/algo/BUILD
  cpp/oneapi/dal/algo/logloss_objective/common.cpp
  cpp/oneapi/dal/algo/logloss_objective/common.hpp
  cpp/oneapi/dal/algo/objective_function/BUILD
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/common.hpp
  cpp/oneapi/dal/algo/objective_function/compute.hpp
  cpp/oneapi/dal/algo/objective_function/test/test1.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add DAAL deps to makefile
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/objective_function/detail/objective.cpp
  cpp/oneapi/dal/algo/objective_function/test/fixture.hpp
  makefile.lst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix linking failures
  cpp/oneapi/dal/algo/objective_function.hpp
  cpp/oneapi/dal/algo/objective_function/test/batch.cpp
  cpp/oneapi/dal/algo/objective_function/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Refactor code, split complex functions
  cpp/oneapi/dal/algo/objective_function/BUILD
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor test update
  cpp/oneapi/dal/algo/objective_function/test/test1.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update batch size
  cpp/oneapi/dal/algo/logloss_objective/common.cpp
  cpp/oneapi/dal/algo/objective_function/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/backend/objective_impl.hpp
  cpp/oneapi/dal/algo/objective_function/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/objective_function/detail/objective.cpp
  cpp/oneapi/dal/algo/objective_function/test/batch.cpp
  cpp/oneapi/dal/algo/objective_function/test/fixture.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add batch computation
  cpp/oneapi/dal/algo/BUILD
  cpp/oneapi/dal/algo/objective_function/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/common.hpp
  cpp/oneapi/dal/algo/objective_function/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/objective_function/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/objective_function/detail/compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/detail/objective.cpp
  cpp/oneapi/dal/algo/objective_function/test/batch.cpp
  cpp/oneapi/dal/algo/objective_function/test/fixture.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix number of terms parameter
  cpp/oneapi/dal/algo/objective_function/backend/cpu/compute_kernel.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update BUILD file
  cpp/oneapi/dal/algo/objective_function/BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
