Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

adding build with OpenBLAS to validation
  .github/workflows/docker-validation-nightly.yml
Due: .ci/pipeline/ci.yml

removing build with OpenBLAS to validation
  .github/workflows/docker-validation-nightly.yml
Due: .ci/pipeline/ci.yml

Very minot changes
  cpp/oneapi/dal/detail/common.hpp
  cpp/oneapi/dal/table/backend/heterogen_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Init chandges towards aligned pointers
  cpp/oneapi/dal/detail/common.hpp
  cpp/oneapi/dal/table/BUILD
  cpp/oneapi/dal/table/backend/heterogen_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Offseting columns
  cpp/oneapi/dal/table/backend/convert/common_convert.cpp
  cpp/oneapi/dal/table/backend/convert/common_convert.hpp
  cpp/oneapi/dal/table/backend/convert/copy_convert.hpp
  cpp/oneapi/dal/table/backend/test/copy_convert_fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Greeting message in the code
  cpp/oneapi/dal/table/backend/convert/copy_convert_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Some problems resolved
  cpp/oneapi/dal/table/test/heterogen.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor changes - unused declarations removal
  cpp/oneapi/dal/table/test/heterogen.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor changes
  cpp/oneapi/dal/table/test/heterogen.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Tests re-enabled
  cpp/oneapi/dal/table/BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

CF applied
  cpp/oneapi/dal/table/backend/heterogen_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Using device memory instead of shared
  cpp/oneapi/dal/table/backend/convert/copy_convert_dpc.cpp
  cpp/oneapi/dal/table/backend/convert/copy_convert_impl_cpu.cpp
  cpp/oneapi/dal/table/backend/convert/copy_convert_impl_dpc.cpp
  cpp/oneapi/dal/table/backend/heterogen_kernels.cpp
  cpp/oneapi/dal/table/test/heterogen.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Production ready (?)
  cpp/oneapi/dal/table/backend/convert/copy_convert_dpc.cpp
  cpp/oneapi/dal/table/backend/convert/copy_convert_impl_dpc.cpp
  cpp/oneapi/dal/table/test/heterogen.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Address review comments
  docs/source/api/data-management/accessor/column.rst
  docs/source/api/data-management/accessor/csr.rst
  docs/source/api/data-management/accessor/row.rst
  docs/source/onedal/glossary.rst
  examples/oneapi/dpc/source/table/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor fix
  examples/oneapi/dpc/source/table/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply suggestions from code review
  INSTALL.md
  dev/bazel/README.md
  dev/docker/README.md
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

Clang format applied
  cpp/oneapi/dal/table/backend/convert/copy_convert_dpc.cpp
  cpp/oneapi/dal/table/backend/convert/copy_convert_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

'Usage example' -> 'Usage Example' chapter name change in the docs
  docs/source/api/algorithms/clustering/dbscan.rst
  docs/source/api/algorithms/clustering/kmeans-init.rst
  docs/source/api/algorithms/clustering/kmeans.rst
  docs/source/api/algorithms/decomposition/pca.rst
  docs/source/api/algorithms/nearest-neighbors/knn-classification.rst
  docs/source/api/algorithms/statistics/basic-statistics.rst
  docs/source/api/data-management/accessor/column.rst
  docs/source/api/data-management/accessor/csr.rst
  docs/source/api/data-management/accessor/row.rst
  docs/source/api/data-management/array.rst
  docs/source/api/data-management/data-source/csv.rst
  docs/source/api/data-management/graph-service.rst
  docs/source/api/spmd/overview.rst
  docs/source/onedal/algorithms/clustering/dbscan.rst
  docs/source/onedal/algorithms/clustering/kmeans-init.rst
  docs/source/onedal/algorithms/clustering/kmeans.rst
  docs/source/onedal/algorithms/decomposition/pca.rst
  docs/source/onedal/algorithms/nearest-neighbors/knn.rst
  docs/source/onedal/algorithms/statistics/basic-statistics.rst
  docs/source/onedal/data-management/accessor/column.rst
  docs/source/onedal/data-management/accessor/row.rst
  docs/source/onedal/data-management/array.rst
  docs/source/onedal/data-management/data-source/csv.rst
Due: .ci/pipeline/docs.yml

Uncommenting tests in the BUILD file
  cpp/oneapi/dal/table/BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

[DOC]: Update TPP files according to the latest changes
  third-party-programs-ipp.txt
  third-party-programs.txt
Due: .ci/pipeline/ci.yml

Without <iostream> header
  cpp/oneapi/dal/table/backend/heterogen_table_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Without <iostream> header
  cpp/oneapi/dal/table/backend/convert/copy_convert_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

[DOC]: Update TPP files according to the latest changes (#2517)
  third-party-programs-ipp.txt
  third-party-programs.txt
Due: .ci/pipeline/ci.yml

update public ci sklearnex path
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

docs removal
  docs/source/conf.py
  docs/source/daal/algorithms/covariance/correlation-and-variance-covariance-matrices.rst
  docs/source/daal/algorithms/dbscan/index.rst
  docs/source/daal/algorithms/gradient_boosted_trees/gradient-boosted-trees-regression.rst
  docs/source/daal/algorithms/k_nearest_neighbors/k-nearest-neighbors-knn-classifier.rst
  docs/source/daal/algorithms/kmeans/k-means-clustering.rst
  docs/source/daal/algorithms/linear_ridge_regression/linear-ridge-regression-computation.rst
  docs/source/daal/algorithms/logistic_regression/logistic-regression.rst
  docs/source/daal/algorithms/moments/moments-of-low-order.rst
  docs/source/daal/algorithms/pca/principal-component-analysis.rst
  docs/source/daal/algorithms/pca/transform.rst
  docs/source/daal/algorithms/svm/support-vector-machine-classifier.rst
  docs/source/includes/clustering/dbscan-examples.rst
  docs/source/includes/clustering/kmeans-examples.rst
  docs/source/includes/decomposition/pca-examples.rst
  docs/source/includes/ensembles/df-classification-examples.rst
  docs/source/includes/ensembles/df-regression-examples.rst
  docs/source/includes/nearest-neighbors/knn-examples.rst
  docs/source/includes/svm/svm-examples.rst
Due: .ci/pipeline/docs.yml

infra: update public ci sycl examples path (#2518)
  .ci/pipeline/ci.yml
  docs/source/conf.py
  docs/source/daal/algorithms/covariance/correlation-and-variance-covariance-matrices.rst
  docs/source/daal/algorithms/dbscan/index.rst
  docs/source/daal/algorithms/gradient_boosted_trees/gradient-boosted-trees-regression.rst
  docs/source/daal/algorithms/k_nearest_neighbors/k-nearest-neighbors-knn-classifier.rst
  docs/source/daal/algorithms/kmeans/k-means-clustering.rst
  docs/source/daal/algorithms/linear_ridge_regression/linear-ridge-regression-computation.rst
  docs/source/daal/algorithms/logistic_regression/logistic-regression.rst
  docs/source/daal/algorithms/moments/moments-of-low-order.rst
  docs/source/daal/algorithms/pca/principal-component-analysis.rst
  docs/source/daal/algorithms/pca/transform.rst
  docs/source/daal/algorithms/svm/support-vector-machine-classifier.rst
  docs/source/includes/clustering/dbscan-examples.rst
  docs/source/includes/clustering/kmeans-examples.rst
  docs/source/includes/decomposition/pca-examples.rst
  docs/source/includes/ensembles/df-classification-examples.rst
  docs/source/includes/ensembles/df-regression-examples.rst
  docs/source/includes/nearest-neighbors/knn-examples.rst
  docs/source/includes/svm/svm-examples.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

multiclass classifier cleanup
  cpp/daal/include/algorithms/multi_class_classifier/multi_class_classifier_model.h
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_model.cpp
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_predict_mccwu_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_predict_votebased_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_train_fpt.cpp
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_train_oneagainstone_batch_fpt_cpu.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

classifier cleanup
  cpp/daal/include/algorithms/classifier/classifier_model.h
  cpp/daal/include/algorithms/classifier/classifier_predict.h
  cpp/daal/include/algorithms/classifier/classifier_predict_types.h
  cpp/daal/include/algorithms/classifier/classifier_training_batch.h
  cpp/daal/include/algorithms/weak_learner/weak_learner_model.h
  cpp/daal/src/algorithms/classifier/classifier_train.cpp
  cpp/daal/src/algorithms/classifier/inner/classifier_predict_fpt_v1.cpp
  cpp/daal/src/algorithms/classifier/inner/classifier_predict_v1.cpp
  cpp/daal/src/algorithms/classifier/inner/classifier_train_v1.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add docs for 'csr_accessor' class (#2515)
  docs/source/api/algorithms/clustering/dbscan.rst
  docs/source/api/algorithms/clustering/kmeans-init.rst
  docs/source/api/algorithms/clustering/kmeans.rst
  docs/source/api/algorithms/decomposition/pca.rst
  docs/source/api/algorithms/nearest-neighbors/knn-classification.rst
  docs/source/api/algorithms/statistics/basic-statistics.rst
  docs/source/api/data-management/accessor/column.rst
  docs/source/api/data-management/accessor/csr.rst
  docs/source/api/data-management/accessor/row.rst
  docs/source/api/data-management/array.rst
  docs/source/api/data-management/data-source/csv.rst
  docs/source/api/data-management/graph-service.rst
  docs/source/api/spmd/overview.rst
  docs/source/conf.py
  docs/source/includes/data-management/column-accessor-usage-example.rst
  docs/source/includes/data-management/csr-accessor-usage-example.rst
  docs/source/includes/data-management/row-accessor-usage-example.rst
  docs/source/onedal/algorithms/clustering/dbscan.rst
  docs/source/onedal/algorithms/clustering/kmeans-init.rst
  docs/source/onedal/algorithms/clustering/kmeans.rst
  docs/source/onedal/algorithms/decomposition/pca.rst
  docs/source/onedal/algorithms/nearest-neighbors/knn.rst
  docs/source/onedal/algorithms/statistics/basic-statistics.rst
  docs/source/onedal/data-management/accessor/column.rst
  docs/source/onedal/data-management/accessor/row.rst
  docs/source/onedal/data-management/array.rst
  docs/source/onedal/data-management/data-source/csv.rst
  docs/source/onedal/glossary.rst
  examples/oneapi/dpc/source/table/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update cpp/oneapi/dal/table/backend/convert/copy_convert_dpc.cpp
  cpp/oneapi/dal/table/backend/convert/copy_convert_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Table tests re-enabled (#2491)
  cpp/oneapi/dal/detail/common.hpp
  cpp/oneapi/dal/table/BUILD
  cpp/oneapi/dal/table/backend/convert/common_convert.cpp
  cpp/oneapi/dal/table/backend/convert/common_convert.hpp
  cpp/oneapi/dal/table/backend/convert/copy_convert.hpp
  cpp/oneapi/dal/table/backend/convert/copy_convert_dpc.cpp
  cpp/oneapi/dal/table/backend/convert/copy_convert_impl_cpu.cpp
  cpp/oneapi/dal/table/backend/heterogen_kernels.cpp
  cpp/oneapi/dal/table/backend/heterogen_table_impl.hpp
  cpp/oneapi/dal/table/backend/test/copy_convert_fixture.hpp
  cpp/oneapi/dal/table/test/heterogen.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

weak learner follow up
  cpp/daal/include/algorithms/weak_learner/weak_learner_predict.h
  cpp/daal/include/algorithms/weak_learner/weak_learner_training_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

doxygen fixes
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_predict.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_predict.h
  cpp/daal/include/algorithms/logistic_regression/logistic_regression_predict.h
  cpp/daal/include/algorithms/multi_class_classifier/multi_class_classifier_predict.h
  cpp/daal/include/algorithms/stump/stump_classification_predict.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/backend/primitives/objective_function/logloss.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_perf_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

doxygen ref followup
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_predict.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_predict.h
  cpp/daal/include/algorithms/logistic_regression/logistic_regression_predict.h
  cpp/daal/include/algorithms/multi_class_classifier/multi_class_classifier_predict.h
  cpp/daal/include/algorithms/stump/stump_classification_predict.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor doxygen
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_predict.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Replacing mpiicx library call
  samples/daal/cpp/mpi/launcher.bat
Due: .ci/pipeline/ci.yml

Adjust path to CCL includes
  samples/oneapi/dpc/ccl/makefile_lnx
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
