Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

clang-format
  cpp/oneapi/dal/table/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

deploy(vars): support of the alternative layout approach (#2419)
  cmake/scripts/generate_config.cmake
  cmake/templates/oneDALConfig.cmake.in
  cmake/templates/oneDALConfigVersion.cmake.in
  deploy/local/vars_lnx.sh
  deploy/local/vars_win.bat
Due: .ci/pipeline/ci.yml

Apply suggestions from code review
  docs/source/deprecation.rst
Due: .ci/pipeline/docs.yml

Update deprecation.rst
  docs/source/deprecation.rst
Due: .ci/pipeline/docs.yml

Minor test update, add proper indexing
  cpp/oneapi/dal/table/test/csr_serialization.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Uncomment zero-based big test case
  cpp/oneapi/dal/table/test/csr_serialization.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Updating list of deprecations (#2413)
  docs/source/deprecation.rst
Due: .ci/pipeline/docs.yml

adding support for selecting different math/rng/service backends in case of build with bazel
  .bazelrc
  WORKSPACE
  cpp/daal/BUILD
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/micromkl/macro.hpp
  cpp/oneapi/dal/backend/micromkl/micromkl.cpp
  cpp/oneapi/dal/test/engine/mkl/BUILD
  cpp/oneapi/dal/test/engine/mkl/blas.cpp
  dev/bazel/config/config.tpl.BUILD
  dev/bazel/daal.bzl
  dev/bazel/dal.bzl
  dev/bazel/deps/openblas.bzl
  dev/bazel/deps/openblas.tpl.BUILD
  dev/bazel/toolchains/extra_toolchain.bzl
  dev/bazel/toolchains/extra_toolchain_lnx.bzl
  dev/bazel/toolchains/extra_toolchian_lnx.tpl.BUILD
  dev/bazel/toolchains/tools/patch_daal_backend_config.sh
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixed build issue with kmeans serialization
  cpp/oneapi/dal/algo/kmeans/common.cpp
  cpp/oneapi/dal/algo/kmeans/common.hpp
  cpp/oneapi/dal/backend/serialization.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply clang format
  cpp/oneapi/dal/table/test/csr_serialization.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Format update
  cpp/oneapi/dal/table/backend/csr_table_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

FIX: removed extra semicolons
  cpp/oneapi/dal/detail/error_messages.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Change year in copyright in test/sr_accessor.cpp
  cpp/oneapi/dal/table/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove debug prints
  cpp/oneapi/dal/table/test/csr_serialization.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add comments in test/csr_accessor.cpp
  cpp/oneapi/dal/table/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

CSR tests (#2350)
  cpp/oneapi/dal/table/BUILD
  cpp/oneapi/dal/table/backend/csr_kernels.hpp
  cpp/oneapi/dal/table/test/csr_accessor.cpp
  cpp/oneapi/dal/table/test/csr_serialization.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update conf.py
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

Update conf.py (#2425)
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

docs(fix): remove tail space
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

clang-format; int -> std::int32_t in test/csr_accessor.cpp
  cpp/oneapi/dal/table/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixed typo in error message string
  cpp/oneapi/dal/detail/error_messages.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove trailing whitespace in docs/source/conf.py
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

docs(fix): remove tail space in conf (#2428)
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

fix a typo in cpp/oneapi/dal/table/test/csr_accessor.cpp
  cpp/oneapi/dal/table/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix a typo in cpp/oneapi/dal/table/test/csr_accessor.cpp
  cpp/oneapi/dal/table/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix typo in cpp/oneapi/dal/table/test/csr_accessor.cpp
  cpp/oneapi/dal/table/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix typos in cpp/oneapi/dal/table/test/csr_accessor.cpp
  cpp/oneapi/dal/table/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix error when pulling one-based data from a zero-based CSR table (#2421)
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
  cpp/oneapi/dal/table/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

FIX: removed extra semicolons (#2424)
  cpp/oneapi/dal/detail/error_messages.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Initial commit
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add regularization
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix compute_without_fit_intercept function
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Introducing backend_config param selection to build.sh
  .ci/scripts/build.sh
Due: .ci/pipeline/ci.yml

Create openblas.sh
  .ci/env/openblas.sh
Due: .ci/pipeline/ci.yml
