Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

init commit
  .bazelrc
  cpp/oneapi/dal/algo/svm/backend/gpu/test/working_set.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/perf_select_flagged_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/test/row_partitioning_dpc.cpp
  cpp/oneapi/dal/test/engine/common.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix for docbuild
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

Fix for docbuild (#2488)
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

Add NULL checks after dynamic cast (#2481)
  cpp/daal/src/algorithms/distributions/uniform/uniform_impl.i
  cpp/daal/src/algorithms/implicit_als/implicit_als_train_csr_default_distr_impl.i
  cpp/daal/src/algorithms/implicit_als/implicit_als_train_init_csr_default_distr_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/kmeans/kmeans_init_container.h
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_distr_impl.i
  cpp/daal/src/algorithms/linear_regression/linear_regression_quality_metric.cpp
  cpp/daal/src/algorithms/linear_regression/linear_regression_training_partialresult.cpp
  cpp/daal/src/algorithms/linear_regression/linear_regression_training_result.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_train_container.h
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_train_fpt.cpp
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_train_oneagainstone_impl.i
  cpp/daal/src/algorithms/normalization/zscore/zscore.cpp
  cpp/daal/src/algorithms/ridge_regression/ridge_regression_model.cpp
  cpp/daal/src/algorithms/ridge_regression/ridge_regression_training_partialresult.cpp
Due: .ci/pipeline/ci.yml

fix missprints
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_train_container.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_train_container.h
Due: .ci/pipeline/ci.yml

fix kernel for 1 block
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/partial_compute_kernel_dense.cpp
  examples/oneapi/dpc/source/basic_statistics/basic_statistics_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

finish cpu kernel
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/partial_compute_kernel_dense.cpp
  examples/oneapi/dpc/source/basic_statistics/basic_statistics_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor upd
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/finalize_compute_kernel.hpp
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/partial_compute_kernel.hpp
  cpp/oneapi/dal/algo/basic_statistics/detail/finalize_compute_ops.cpp
  cpp/oneapi/dal/algo/basic_statistics/detail/finalize_compute_ops.hpp
  cpp/oneapi/dal/algo/basic_statistics/detail/finalize_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/detail/partial_compute_ops.cpp
  cpp/oneapi/dal/algo/basic_statistics/detail/partial_compute_ops.hpp
  cpp/oneapi/dal/algo/basic_statistics/detail/partial_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/finalize_compute.hpp
  cpp/oneapi/dal/algo/basic_statistics/partial_compute.hpp
  cpp/oneapi/dal/finalize_compute.hpp
  cpp/oneapi/dal/partial_compute.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Enable n_jobs for make calls in testing
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

minor fix
  cpp/oneapi/dal/algo/svm/backend/gpu/test/working_set.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update python testing
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

minor fix
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/partial_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/basic_statistics/compute_types.hpp
  examples/oneapi/dpc/source/basic_statistics/basic_statistics_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove duplicate n_jobs
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

FIX replace DAAL_ASSERT by DAAL_CHECK in GBT (#2479)
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_train_container.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_train_container.h
Due: .ci/pipeline/ci.yml

FIX potential integer overflow (#2478)
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_tree_builder.i
Due: .ci/pipeline/ci.yml

CI configuration update (#2489)
  .ci/pipeline/ci.yml
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

add dispatcher for gpu kernel+bazel tests init
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel.hpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel.hpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/detail/finalize_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/detail/partial_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/test/fixture.hpp
  cpp/oneapi/dal/algo/basic_statistics/test/online.cpp
  examples/oneapi/cpp/source/basic_statistics/basic_statistics_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor examples readme change
  makefile
Due: .ci/pipeline/ci.yml

Fix coverity hits
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/services/service_environment.h
  cpp/daal/src/services/service_topo.cpp
  cpp/oneapi/dal/backend/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add CPU parts of the performance-related hyperparameters logic (#2461)
  cpp/daal/include/algorithms/algorithm_base_mode.h
  cpp/daal/include/algorithms/algorithm_container_base.h
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
  cpp/daal/include/algorithms/algorithm_container_base_common.h
  cpp/daal/include/algorithms/algorithm_types.h
  cpp/daal/include/algorithms/covariance/covariance_batch.h
  cpp/daal/include/services/error_indexes.h
  cpp/daal/src/algorithms/algorithm_base_impl.cpp
  cpp/daal/src/algorithms/algorithm_hyperparameter.cpp
  cpp/daal/src/algorithms/covariance/covariance_container.h
  cpp/daal/src/algorithms/covariance/covariance_csr_batch_impl.i
  cpp/daal/src/algorithms/covariance/covariance_csr_online_impl.i
  cpp/daal/src/algorithms/covariance/covariance_dense_batch_impl.i
  cpp/daal/src/algorithms/covariance/covariance_dense_online_impl.i
  cpp/daal/src/algorithms/covariance/covariance_distributed_impl.i
  cpp/daal/src/algorithms/covariance/covariance_hyperparameter.cpp
  cpp/daal/src/algorithms/covariance/covariance_hyperparameter_impl.h
  cpp/daal/src/algorithms/covariance/covariance_impl.i
  cpp/daal/src/algorithms/covariance/covariance_kernel.h
  cpp/daal/src/algorithms/optimization_solver/sgd/sgd_types_fpt.cpp
  cpp/daal/src/services/error_handling.cpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/train_kernel_cov.cpp
  java/com/intel/daal/java_batch_container_service.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Bazel separation works
  BUILD
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/algo/BUILD
  dev/bazel/dal.bzl
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

False changes checkout
  cpp/oneapi/dal/algo/decision_forest/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/linear_regression/BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Dependency on library
  .mkl-tmp-2565011-1693063379
  makefile
Due: .ci/pipeline/ci.yml

Macros reworked
  cpp/oneapi/dal/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  deploy/pkg-config/generate_pkgconfig.py
Due: .ci/pipeline/ci.yml

Minor
  cpp/oneapi/dal/algo/linear_regression/parameters/cpu/train_parameters.cpp
  cpp/oneapi/dal/algo/linear_regression/parameters/cpu/train_parameters.hpp
  cpp/oneapi/dal/algo/linear_regression/parameters/gpu/train_parameters.hpp
  cpp/oneapi/dal/algo/linear_regression/parameters/gpu/train_parameters_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Correct file extensions for Windows
  makefile
Due: .ci/pipeline/ci.yml

Improvements in build process
  makefile
Due: .ci/pipeline/ci.yml

Minor
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor adjustments in bazel
  cpp/oneapi/dal/algo/linear_regression/BUILD
  dev/bazel/dal.bzl
  dev/bazel/deps/onedal.tpl.BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/linear_regression/parameters/cpu/train_parameters.cpp
  cpp/oneapi/dal/algo/linear_regression/parameters/gpu/train_parameters_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Another mistake was fixed
  cpp/oneapi/dal/algo/linear_regression/parameters/cpu/train_parameters.cpp
  cpp/oneapi/dal/algo/linear_regression/parameters/gpu/train_parameters_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/linear_regression/parameters/cpu/train_parameters.cpp
  cpp/oneapi/dal/algo/linear_regression/parameters/gpu/train_parameters_dpc.cpp
  makefile
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor adjustments
  cpp/oneapi/dal/algo/linear_regression/parameters/cpu/train_parameters.cpp
  cpp/oneapi/dal/algo/linear_regression/parameters/cpu/train_parameters.hpp
  cpp/oneapi/dal/algo/linear_regression/parameters/gpu/train_parameters.hpp
  cpp/oneapi/dal/algo/linear_regression/parameters/gpu/train_parameters_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Conflict resolution
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  makefile
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
