Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Updating GPU wording
  docs/source/daal/cpu-vs-gpu.rst
  docs/source/onedal/introduction.rst
Due: .ci/pipeline/docs.yml

addressing local build fails and docs upd
  cpp/oneapi/dal/detail/array_impl.hpp
  cpp/oneapi/dal/detail/chunked_array_impl.cpp
  cpp/oneapi/dal/detail/common.hpp
  cpp/oneapi/dal/table/backend/heterogen_table_impl.hpp
  docs/source/conf.py
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply suggestions from code review
  docs/source/daal/cpu-vs-gpu.rst
  docs/source/onedal/introduction.rst
Due: .ci/pipeline/docs.yml

Update env script according to the latest comments
  deploy/local/vars_lnx.sh
Due: .ci/pipeline/ci.yml

Change integral_cast_debug to integral_cast
  cpp/oneapi/dal/detail/chunked_array_impl.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

adding missing file
  docs/source/onedal/gpu_support.rst
Due: .ci/pipeline/docs.yml

Apply suggestions from code review
  docs/source/onedal/gpu_support.rst
Due: .ci/pipeline/docs.yml

fixing labels
  docs/source/onedal/introduction.rst
Due: .ci/pipeline/docs.yml

remove unreachable return statement
  cpp/daal/src/algorithms/kernel_function/oneapi/kernel_function_linear_kernel_oneapi.h
  cpp/daal/src/algorithms/kernel_function/oneapi/kernel_function_rbf_kernel_oneapi.h
Due: .ci/pipeline/ci.yml

initial removal of unused v1 functionality
  cpp/oneapi/dal/algo/decision_forest/train_types.cpp
  cpp/oneapi/dal/algo/decision_forest/train_types.hpp
  cpp/oneapi/dal/detail/array_impl.hpp
  cpp/oneapi/dal/detail/common.cpp
  cpp/oneapi/dal/detail/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Coverity fixes (#2512)
  cpp/daal/src/algorithms/kernel_function/oneapi/kernel_function_linear_kernel_oneapi.h
  cpp/daal/src/algorithms/kernel_function/oneapi/kernel_function_rbf_kernel_oneapi.h
Due: .ci/pipeline/ci.yml

GPU support table
  docs/source/onedal/gpu_support.rst
Due: .ci/pipeline/docs.yml

removing JDK deps
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Fixing env and introduce docker
  .ci/env/apt.sh
  .ci/pipeline/ci.yml
  dev/docker/onedal.Dockerfile
Due: .ci/pipeline/ci.yml

Update env script according to the latest comments (#2510)
  deploy/local/vars_lnx.sh
Due: .ci/pipeline/ci.yml

Change integral_cast_debug to integral_cast (#2511)
  cpp/oneapi/dal/detail/chunked_array_impl.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Creating bazel env script
  .ci/env/bazelisk.sh
  .ci/pipeline/ci.yml
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

adding readme for docker
  dev/docker/README.md
Due: .ci/pipeline/ci.yml

updating
  dev/docker/README.md
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

adding github validation
  .github/workflows/docker-validation.yml
Due: .ci/pipeline/ci.yml

new line
  .ci/env/bazelisk.sh
Due: .ci/pipeline/ci.yml

remove bash invocation for scripts
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

fixing ci.yml
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

add execute permissions
  .ci/env/apt.sh
  .ci/env/bazelisk.sh
  .ci/env/tbb.bat
Due: .ci/pipeline/ci.yml

fixing github flow name
  .github/workflows/docker-validation.yml
Due: .ci/pipeline/ci.yml

adding sudo to docker image
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

fixing install dpcpp script
  .ci/pipeline/ci.yml
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

fixing base docker deps
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

fixing bazelisk
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

follow-up with removals for successful build
  cpp/oneapi/dal/algo/decision_forest/detail/train_ops.cpp
  cpp/oneapi/dal/algo/decision_forest/detail/train_ops.hpp
  cpp/oneapi/dal/algo/decision_forest/detail/train_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

2022.1 removals for successful build
  cpp/oneapi/dal/detail/array_compat.hpp
  cpp/oneapi/dal/table/backend/accessor_compat.hpp
  cpp/oneapi/dal/table/backend/csr_table_impl.hpp
  cpp/oneapi/dal/table/backend/empty_table_impl.hpp
  cpp/oneapi/dal/table/backend/heterogen_table_impl.hpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.hpp
  cpp/oneapi/dal/table/common.cpp
  cpp/oneapi/dal/table/common.hpp
  cpp/oneapi/dal/table/detail/access_iface_compat.hpp
  cpp/oneapi/dal/table/homogen.cpp
  cpp/oneapi/dal/table/homogen.hpp
  cpp/oneapi/dal/test/engine/mocks.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing windows ci with bash call
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

fixing bazel ci
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Apply suggestions from code review
  docs/source/daal/cpu-vs-gpu.rst
  docs/source/onedal/gpu_support.rst
  docs/source/onedal/introduction.rst
Due: .ci/pipeline/docs.yml

initial minor daal removals
  cpp/daal/include/algorithms/classifier/classifier_training_online.h
  cpp/daal/src/algorithms/classifier/inner/classifier_predict_fpt_v1.cpp
  cpp/daal/src/algorithms/classifier/inner/classifier_predict_v1.cpp
  cpp/daal/src/algorithms/classifier/inner/classifier_train_v1.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
