Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

avoid too eager threshold for aborting fp32 cholesky
  cpp/daal/src/algorithms/service_kernel_math.h
Due: .ci/pipeline/ci.yml

missing commas
  cpp/daal/src/externals/service_lapack_ref.h
Due: .ci/pipeline/ci.yml

fix declaration types
  cpp/daal/src/externals/service_lapack_declar_ref.h
Due: .ci/pipeline/ci.yml

fix incorrect diagonal indexing
  cpp/daal/src/algorithms/service_kernel_math.h
Due: .ci/pipeline/ci.yml

add test with multi-output and overdetermined
  cpp/oneapi/dal/algo/linear_regression/test/batch.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

missing dispatch
  cpp/daal/src/externals/service_lapack.h
Due: .ci/pipeline/ci.yml

Fix broken links 2025.0 (#2921)
  docs/source/daal/algorithms/decision_forest/decision-forest-classification.rst
  docs/source/daal/algorithms/gradient_boosted_trees/gradient-boosted-trees-classification.rst
  docs/source/daal/algorithms/gradient_boosted_trees/gradient-boosted-trees-regression.rst
  docs/source/daal/algorithms/linear_ridge_regression/linear-regression.rst
  docs/source/daal/algorithms/svm/support-vector-machine-classifier.rst
  docs/source/daal/algorithms/svm_multi_class/multi-class-classifier.rst
  docs/source/daal/data-management/data-sources.rst
Due: .ci/pipeline/docs.yml

Update cpp/daal/src/algorithms/svm/svm_train_common_sve_impl.i
  cpp/daal/src/algorithms/svm/svm_train_common_sve_impl.i
Due: .ci/pipeline/ci.yml

minor fixes
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/externals/service_math_ref.h
Due: .ci/pipeline/ci.yml

SVE optimised float WSSJ kernel (#2917)
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/svm/svm_train_common_sve_impl.i
Due: .ci/pipeline/ci.yml

remove conformance-scripts
  .ci/scripts/conformance-scripts/algorithms.txt
  .ci/scripts/conformance-scripts/download_tests.sh
  .ci/scripts/conformance-scripts/run_tests.py
  .ci/scripts/conformance-scripts/run_tests_with_context.py
  .ci/scripts/conformance-scripts/run_xpu_conformance.py
  .ci/scripts/conformance-scripts/utils.py
Due: .ci/pipeline/ci.yml

Update INSTALL.md
  INSTALL.md
Due: .ci/pipeline/ci.yml

refactoring rng
  cpp/oneapi/dal/algo/connected_components/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/louvain/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/spmd_fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/cg_solver_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/newton_cg_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_cpu.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert "remove conformance-scripts"
  .ci/scripts/conformance-scripts/algorithms.txt
  .ci/scripts/conformance-scripts/download_tests.sh
  .ci/scripts/conformance-scripts/run_tests.py
  .ci/scripts/conformance-scripts/run_tests_with_context.py
  .ci/scripts/conformance-scripts/run_xpu_conformance.py
  .ci/scripts/conformance-scripts/utils.py
Due: .ci/pipeline/ci.yml

Fixes for PR checklist workflow
  .github/workflows/pr-checklist.yml
Due: .ci/pipeline/ci.yml

Update nightly-build.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Update nightly-build.yml (#2939)
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Add draft state PR triggers
  .github/workflows/pr-checklist.yml
Due: .ci/pipeline/ci.yml

Fixes for PR checklist workflow (#2935)
  .github/workflows/pr-checklist.yml
Due: .ci/pipeline/ci.yml

update version to 2025.1.0
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update pr-checklist
  .github/workflows/pr-checklist.yml
Due: .ci/pipeline/ci.yml

fixes for clang
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

add link flag for libmkl_sycl
  dev/bazel/deps/mkl.tpl.BUILD
Due: .ci/pipeline/ci.yml

add fsycl for bazel
  dev/bazel/deps/mkl.tpl.BUILD
Due: .ci/pipeline/ci.yml

feature: dynamic setting deps layouts (#2928)
  .ci/pipeline/ci.yml
  .github/workflows/nightly-build.yml
  makefile
  samples/daal/cpp/mpi/makefile_lnx
  samples/daal/cpp/mysql/makefile_lnx
  samples/oneapi/dpc/ccl/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml

restore threading
  makefile
Due: .ci/pipeline/ci.yml

add fsycl-max-parallel-link-jobs for bazel (#2943)
  dev/bazel/deps/mkl.tpl.BUILD
Due: .ci/pipeline/ci.yml

update version to 2025.1.0 (#2941)
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

upd rng
  cpp/oneapi/dal/algo/connected_components/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_kernel_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_feature_type_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_service_kernels_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  cpp/oneapi/dal/algo/louvain/backend/cpu/louvain_data.hpp
  cpp/oneapi/dal/algo/louvain/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_cpu.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng_engine_collection.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

skip recently introduced test on GPU
  cpp/oneapi/dal/test/engine/fixtures.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

missing file
  cpp/oneapi/dal/algo/linear_regression/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml
