Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

Set default max_threads_per_core parameter to 1
  cpp/oneapi/dal/detail/policy.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix pred_interactions
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

WIP: Add SHAP contributions and interactions
  .gitignore
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_predict_types.h
  cpp/daal/include/services/error_indexes.h
  cpp/daal/src/algorithms/dtrees/dtrees_model.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_container.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_kernel.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_result_fpt.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_tree_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/oneapi/gbt_regression_train_dense_default_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
  cpp/daal/src/services/error_handling.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add fast treeshap v1
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

no more segfaults
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

Add combinationSum calculation for Fast TreeSHAP v2
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

daal_calloc -> daal_malloc
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

Consistently add cover to daaal APIs, add output parameters to end of function arguments
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
  cpp/daal/src/algorithms/dtrees/dtrees_model.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

restore .gitignore from master
  .gitignore
Due: .ci/pipeline/ci.yml

support shap contribution calculation with Fast TreeSHAP v2
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

align tree cfl/reg APIs
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
  cpp/daal/src/algorithms/dtrees/dtrees_model.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_builder.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix: remove dead member variable in GbtDecisionTree
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/oneapi/gbt_regression_train_dense_default_oneapi_impl.i
Due: .ci/pipeline/ci.yml

feat: add first unit tests for model builders
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/regression/test/gbt_regression_model_builder_unit.cpp
Due: .ci/pipeline/ci.yml

fix: simplify number of nodes calculation
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
Due: .ci/pipeline/ci.yml

add newline
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
Due: .ci/pipeline/ci.yml

revert dal_module back to daal_module
  cpp/daal/src/algorithms/dtrees/gbt/regression/BUILD
Due: .ci/pipeline/ci.yml

Add backwards-compatible model builder API & deprecate decls
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
  examples/daal/cpp/source/decision_forest/df_cls_dense_batch_model_builder.cpp
  examples/daal/cpp/source/decision_forest/df_cls_traversed_model_builder.cpp
  examples/daal/cpp/source/gradient_boosted_trees/gbt_cls_traversed_model_builder.cpp
  examples/daal/cpp/source/gradient_boosted_trees/gbt_reg_traversed_model_builder.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update model builder examples
  examples/daal/cpp/source/decision_forest/df_cls_dense_batch_model_builder.cpp
  examples/daal/cpp/source/decision_forest/df_cls_traversed_model_builder.cpp
  examples/daal/cpp/source/gradient_boosted_trees/gbt_cls_traversed_model_builder.cpp
  examples/daal/cpp/source/gradient_boosted_trees/gbt_reg_traversed_model_builder.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

cleanup for review
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

remove defaultLeft value that's not needed
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_model_builder.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix: remove dead code
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model.cpp
Due: .ci/pipeline/ci.yml

chore: typos and code style
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
Due: .ci/pipeline/ci.yml

Fix bazel build
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

add license
  cpp/daal/src/algorithms/dtrees/gbt/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/regression/test/gbt_regression_model_builder_unit.cpp
Due: .ci/pipeline/ci.yml

feat: execute dal unit tests in CI
  .ci/pipeline/ci.yml
  cpp/daal/src/algorithms/dtrees/gbt/regression/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/regression/test/gbt_regression_model_builder_unit.cpp
Due: .ci/pipeline/ci.yml

Update TreeVisitor with node cover value
  cpp/daal/include/algorithms/tree_utils/tree_utils.h
  cpp/daal/include/algorithms/tree_utils/tree_utils_classification.h
  cpp/daal/include/algorithms/tree_utils/tree_utils_regression.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix new_ts: nodeIsLeaf/nodeIsDummyLeaf internal usage & classification Parameter
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_predict_types.h
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

reorganize how tests are executed
  .ci/pipeline/ci.yml
  cpp/daal/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/regression/BUILD
Due: .ci/pipeline/ci.yml

call onedal compute kernel in partial part
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/test/fixture.hpp
  cpp/oneapi/dal/algo/basic_statistics/test/online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update directory layout
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

remove deprecation version in comment
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add template optimizer parameter to descriptor, add optimizer factory, change method to dense_batch
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/infer_kernel_dense_batch.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/train_kernel_dense_batch.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_dense_batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/optimizers.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/optimizers.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_dense_batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/model_impl.hpp
  cpp/oneapi/dal/algo/logistic_regression/common.cpp
  cpp/oneapi/dal/algo/logistic_regression/common.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/cpu/train_parameters.cpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/gpu/train_parameters_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
  examples/oneapi/dpc/source/logistic_regression/logistic_regression_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Change unimplemented error name thrown in cpu kernel
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/train_kernel_dense_batch.cpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Move data to gpu before training
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_dense_batch_dpc.cpp
  examples/oneapi/dpc/source/logistic_regression/logistic_regression_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

tests fix and fix column count
  cpp/oneapi/dal/algo/basic_statistics/backend/basic_statistics_interop.hpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix dbg tests
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Change task_executor interfaces
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply review comments
  cpp/daal/include/algorithms/algorithm_base_mode.h
  cpp/oneapi/dal/algo/covariance/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/compute_types.cpp
  cpp/oneapi/dal/algo/covariance/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/covariance/parameters/cpu/compute_parameters.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove skipping of XGBoost base_score tree
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Add hyperparameters ranges checks
  cpp/oneapi/dal/algo/covariance/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/linear_regression/detail/train_ops.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml
