Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

broken links edits
  docs/source/deprecation.rst
  docs/source/index.rst
Due: .ci/pipeline/docs.yml

speedup copy func
  cpp/oneapi/dal/backend/memory.hpp
  cpp/oneapi/dal/backend/primitives/utils.hpp
  cpp/oneapi/dal/backend/transfer_dpc.cpp
  cpp/oneapi/dal/table/backend/convert.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix for win
  cpp/daal/src/algorithms/dtrees/dtrees_feature_type_helper.h
Due: .ci/pipeline/ci.yml

Trademark fixes
  docs/source/deprecation.rst
  docs/source/onedal/algorithms/clustering/kmeans.rst
  docs/source/onedal/algorithms/decomposition/pca.rst
  docs/source/onedal/gpu_support.rst
  docs/source/onedal/introduction.rst
  docs/source/onedal/spmd/index.rst
Due: .ci/pipeline/docs.yml

[CI] store .ci/env as environment for sklearnex GitHub Actions CI (#2961)
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Update ci.yml
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

removed Intel (R) branding
  docs/source/deprecation.rst
  docs/source/onedal/algorithms/clustering/kmeans.rst
  docs/source/onedal/algorithms/decomposition/pca.rst
  docs/source/onedal/gpu_support.rst
  docs/source/onedal/introduction.rst
  docs/source/onedal/spmd/index.rst
Due: .ci/pipeline/docs.yml

2025 fix (#2963)
  docs/source/deprecation.rst
  docs/source/index.rst
  docs/source/onedal/algorithms/clustering/kmeans.rst
  docs/source/onedal/algorithms/decomposition/pca.rst
  docs/source/onedal/gpu_support.rst
  docs/source/onedal/introduction.rst
  docs/source/onedal/spmd/index.rst
Due: .ci/pipeline/docs.yml

Update nightly-build.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

upd MKL deps
  WORKSPACE
Due: .ci/pipeline/ci.yml

fixes for workspace
  WORKSPACE
Due: .ci/pipeline/ci.yml

[CI] Windows basekit upgrade 2025.0 (#2964)
  .ci/pipeline/ci.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Update apt.sh
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

remove sklearn conformance scripts
  .ci/scripts/conformance-scripts/algorithms.txt
  .ci/scripts/conformance-scripts/download_tests.sh
  .ci/scripts/conformance-scripts/run_tests.py
  .ci/scripts/conformance-scripts/run_tests_with_context.py
  .ci/scripts/conformance-scripts/run_xpu_conformance.py
  .ci/scripts/conformance-scripts/utils.py
  .ci/scripts/conformance_test.sh
Due: .ci/pipeline/ci.yml

minor reproducer
  cpp/oneapi/dal/algo/covariance/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/finalize_train_kernel_norm_eq_impl_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/linear_regression/test/online.cpp
  cpp/oneapi/dal/backend/primitives/lapack/potrf_dpc.cpp
  cpp/oneapi/dal/backend/primitives/lapack/solve_dpc.cpp
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  cpp/oneapi/dal/table/backend/convert.cpp
  cpp/oneapi/dal/table/backend/homogen_table_builder_impl.hpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.hpp
  examples/oneapi/dpc/source/covariance/cor_dense_batch.cpp
  examples/oneapi/dpc/source/covariance/cor_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes for WORKSPACE tbb
  dev/bazel/deps/tbb.bzl
Due: .ci/pipeline/ci.yml

upd tbb flags for dpcpp
  makefile
Due: .ci/pipeline/ci.yml

avoid additional array
  cpp/oneapi/dal/backend/memory.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert the changes in update_centroids SYCL kernel for spars K-means
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/test/fixture.hpp
  cpp/oneapi/dal/test/engine/csr_table_builder.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

dev: update bazel oneMKL deps (#2965)
  WORKSPACE
  dev/bazel/deps/tbb.bzl
Due: .ci/pipeline/ci.yml

fix(make): enabling debug build (#2946)
  cpp/daal/src/algorithms/dtrees/dtrees_feature_type_helper.h
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Due: .ci/pipeline/ci.yml

add cycle linking for mkl_core
  .ci/pipeline/ci.yml
  dev/bazel/deps/mkl.tpl.BUILD
Due: .ci/pipeline/ci.yml

fixes
  cpp/oneapi/dal/algo/connected_components/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/algo/louvain/backend/cpu/louvain_data.hpp
  cpp/oneapi/dal/algo/louvain/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/spmd_fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/cg_solver_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/newton_cg_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_cpu.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng_engine_collection.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_gpu.hpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  dev/bazel/deps/mkl.tpl.BUILD
Due: .ci/pipeline/ci.yml

fix comments
  dev/bazel/deps/mkl.tpl.BUILD
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
