Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

updating bazel readme to current state
  dev/bazel/README.md
  dev/bazel/TODO.md
Due: .ci/pipeline/ci.yml

fixing bazel caching and nuget windows build
  .ci/pipeline/ci.yml
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

deletion instead of comment
  cpp/daal/src/algorithms/classifier/inner/classifier_predict_fpt_v1.cpp
  cpp/daal/src/algorithms/classifier/inner/classifier_predict_v1.cpp
  cpp/daal/src/algorithms/classifier/inner/classifier_train_v1.cpp
Due: .ci/pipeline/ci.yml

re-adding v1 classifier train
  cpp/daal/src/algorithms/classifier/inner/classifier_train_v1.cpp
Due: .ci/pipeline/ci.yml

re-adding classifier inner v1 files
  cpp/daal/src/algorithms/classifier/inner/classifier_predict_fpt_v1.cpp
  cpp/daal/src/algorithms/classifier/inner/classifier_predict_v1.cpp
  cpp/daal/src/algorithms/classifier/inner/classifier_train_v1.cpp
Due: .ci/pipeline/ci.yml

adding git binary
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

adding build validation and conda to env
  .ci/env/apt.sh
  .ci/pipeline/ci.yml
  .github/workflows/docker-validation.yml
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

enable larger validation in CI
  .github/workflows/docker-validation-ci.yml
  .github/workflows/docker-validation-nightly.yml
Due: .ci/pipeline/ci.yml

fixing CLI
  .github/workflows/docker-validation-nightly.yml
Due: .ci/pipeline/ci.yml

Add wait and throw after gemv events
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

adding conda to docker
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

fixing docker
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

Apply suggestions from code review
  docs/source/onedal/gpu_support.rst
Due: .ci/pipeline/docs.yml

Update gpu_support.rst
  docs/source/onedal/gpu_support.rst
Due: .ci/pipeline/docs.yml

Update introduction.rst
  docs/source/onedal/introduction.rst
Due: .ci/pipeline/docs.yml

2024 documentation update on GPU wording (#2508)
  docs/source/daal/cpu-vs-gpu.rst
  docs/source/onedal/gpu_support.rst
Due: .ci/pipeline/docs.yml

examples/oneapi/dpc/source/table/csr_accessor.cpp
  examples/oneapi/dpc/source/table/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add fix
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Values renaming and better handling of SYCL events in DPC++ csr_accessor example
  examples/oneapi/dpc/source/table/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove unnecessary data copying
  examples/oneapi/dpc/source/table/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add documentation about csr_accessor class
  docs/source/api/data-management/accessor/csr.rst
  docs/source/includes/data-management/column-accessor-usage-example.rst
  docs/source/includes/data-management/csr-accessor-usage-example.rst
  docs/source/includes/data-management/row-accessor-usage-example.rst
  docs/source/onedal/glossary.rst
Due: .ci/pipeline/docs.yml

Fix error in docbuild
  docs/source/api/data-management/accessor/csr.rst
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

adding deps and build
  .github/workflows/docker-validation-nightly.yml
  INSTALL.md
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

adding docs env and more tests for nightly
  .github/workflows/docker-validation-nightly.yml
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

not passing param
  .github/workflows/docker-validation-nightly.yml
Due: .ci/pipeline/ci.yml

switching to conda env file
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

adding conda env
  .ci/env/environment.yml
Due: .ci/pipeline/ci.yml

fixign path to env.yml
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

drop caching version to 1 as bazel version was fixed
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

bump version for spxinks-prompt to 1.8
  docs/requirements.txt
Due: .ci/pipeline/docs.yml

revert version
  docs/requirements.txt
Due: .ci/pipeline/docs.yml

disabling doc reqs
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

switchign to latest tag
  .github/workflows/docker-validation-ci.yml
  .github/workflows/docker-validation-nightly.yml
Due: .ci/pipeline/ci.yml

actually running code in docker
  .github/workflows/docker-validation-nightly.yml
Due: .ci/pipeline/ci.yml

merging docker commands in one
  .github/workflows/docker-validation-nightly.yml
Due: .ci/pipeline/ci.yml

installing bazel in docker image
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml
