Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Update build-application page according to the dispatcher enabling
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

minor fix
  dev/bazel/deps/onedal.bzl
Due: .ci/pipeline/ci.yml

minor upd
  dev/bazel/deps/onedal.bzl
  dev/bazel/deps/onedal.tpl.BUILD
Due: .ci/pipeline/ci.yml

removing java from make
  makefile
Due: .ci/pipeline/ci.yml

removing java entries through repo
  .ci/pipeline/ci.yml
  .ci/scripts/build.bat
  .ci/scripts/build.sh
  .ci/scripts/test.bat
  .ci/scripts/test.sh
  .github/CODEOWNERS
  INSTALL.md
  README.md
  cpp/daal/src/services/dll.rc
  deploy/local/vars_lnx.sh
  deploy/local/vars_win.bat
Due: .ci/pipeline/ci.yml

removing jar from modulefiles
  deploy/local/dal
Due: .ci/pipeline/ci.yml

Removing alias from doxygen
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

removing java from doxygen config
  docs/doxygen/DoxygenLayoutJava.xml
  docs/doxygen/DoxygenLayoutJavaWeb.xml
  docs/doxygen/custom/java/mainpage.txt
  docs/doxygen/custom/java/opt_notice.txt
  docs/doxygen/doxygen_conf_java.txt
  docs/doxygen/doxygen_conf_java_examples.txt
  docs/doxygen/doxygen_conf_java_web.txt
  docs/source/daal-interfaces.rst
Due: .ci/pipeline/docs.yml

fixing linux_vars merge conflict
  deploy/local/vars_lnx.sh
Due: .ci/pipeline/ci.yml

fixing makefile merge conflict
  makefile
Due: .ci/pipeline/ci.yml

remove unreachable return statement
  cpp/oneapi/dal/table/backend/convert.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

removing java examples from openBLAS ci
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

disabling checks on vasrs files
  deploy/local/vars_lnx.sh
  deploy/local/vars_mac.sh
Due: .ci/pipeline/ci.yml

disabling checks on vasrs files, fix model.py
  deploy/local/vars_lnx.sh
  deploy/local/vars_mac.sh
  docs/dalapi/doxypy/model.py
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fixing except hits
  .ci/scripts/conformance-scripts/run_tests.py
  .ci/scripts/conformance-scripts/run_xpu_conformance.py
Due: .ci/pipeline/ci.yml

remove unreachable code
  cpp/daal/src/services/service_arrays.h
Due: .ci/pipeline/ci.yml

minor fix
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  examples/oneapi/dpc/source/basic_statistics/basic_statistics_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor upd
  samples/daal/java/hadoop/launcher.sh
  samples/daal/java/spark/launcher.sh
  samples/daal/scala/spark/launcher.sh
Due: .ci/pipeline/ci.yml

minor upd
  dev/bazel/deps/onedal.bzl
Due: .ci/pipeline/ci.yml

Remove redundant assert and noexcept
  cpp/oneapi/dal/backend/interop/csr_block_owner.hpp
  cpp/oneapi/dal/detail/chunked_array_impl.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  examples/oneapi/dpc/source/basic_statistics/basic_statistics_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

revert onedal bzl
  dev/bazel/deps/onedal.bzl
  dev/bazel/deps/onedal.tpl.BUILD
Due: .ci/pipeline/ci.yml

Update renovate-validation.yml
  .github/workflows/renovate-validation.yml
Due: .ci/pipeline/ci.yml

Update renovate.json
  .github/renovate.json
Due: .ci/pipeline/ci.yml

minor fixes
  deploy/local/dal
  deploy/local/vars_lnx.sh
  deploy/local/vars_win.bat
  dev/bazel/deps/mkl.tpl.BUILD
  dev/bazel/deps/tbb.bzl
  dev/bazel/release.bzl
Due: .ci/pipeline/ci.yml

Add noexcept false specifier
  cpp/oneapi/dal/backend/interop/csr_block_owner.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  dev/bazel/deps/mkl.bzl
Due: .ci/pipeline/ci.yml

minor upd
  cpp/oneapi/dal/io/csv/backend/cpu/read_kernel.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

adding arg to impl
  cpp/daal/include/services/internal/sycl/execution_context_sycl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

adding flag to SyclExecutionContext
  cpp/daal/include/services/internal/execution_context.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove sequential cases
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

clang
  cpp/daal/include/services/internal/execution_context.h
  cpp/daal/include/services/internal/sycl/execution_context_sycl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
