Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

revert incorrect link for oneAPI-samples
  docs/source/examples.rst
Due: .ci/pipeline/docs.yml

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: .ci/pipeline/ci.yml

minor fix and reordering
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

move NO_DIST setting away from build step
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

clang-format
  cpp/daal/src/algorithms/dtrees/dtrees_model.cpp
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_model.cpp
Due: .ci/pipeline/ci.yml

Fix coverity hits in boosting algorithms (#3006)
  cpp/daal/include/algorithms/boosting/adaboost_predict_types.h
  cpp/daal/include/algorithms/boosting/brownboost_predict_types.h
  cpp/daal/include/algorithms/boosting/logitboost_predict_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Initial version of documentations for data management primitives
  docs/doxygen/oneapi/Doxyfile
  docs/source/api/data-management/backend-primitives.rst
  docs/source/api/data-management/backend/ndarray.rst
  docs/source/conf.py
  docs/source/contribution/cpu_features.rst
  docs/source/includes/cpu-features/abc-classification-train-kernel.rst
  docs/source/includes/cpu-features/abc-classification-train-method1-fpt-cpu.rst
  docs/source/includes/cpu-features/abc-classification-train-method1-impl.rst
  docs/source/includes/cpu-features/abc-classification-train-method2-impl.rst
  docs/source/onedal/data-management/backend-primitives.rst
  docs/source/onedal/data-management/index.rst
Due: .ci/pipeline/docs.yml

address one rule of five issue
  cpp/oneapi/dal/detail/chunked_array_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

remove unused
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Update build instructions
  docs/source/conf.py
  docs/source/get-started/build-and-run-examples.rst
Due: .ci/pipeline/docs.yml

Add API reference for ndarray
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  docs/doxygen/oneapi/Doxyfile
  docs/source/conf.py
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/oneapi/dal/backend/transfer_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update apt.sh
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

Update ci.yml
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

feat: add `gcov` coverage support
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Due: .ci/pipeline/ci.yml

Unify implementations of copy constructors and assignment operators
  cpp/daal/include/algorithms/classifier/binary_confusion_matrix_types.h
  cpp/daal/include/algorithms/classifier/classifier_predict_types.h
  cpp/daal/include/algorithms/classifier/multiclass_confusion_matrix_types.h
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_predict_types.h
  cpp/daal/include/algorithms/decision_forest/decision_forest_regression_predict_types.h
  cpp/daal/include/algorithms/decision_forest/decision_forest_regression_training_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_predict_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_predict_types.h
  cpp/daal/src/algorithms/classifier/binary_confusion_matrix_types.cpp
  cpp/daal/src/algorithms/classifier/classifier_predict.cpp
  cpp/daal/src/algorithms/classifier/multiclass_confusion_matrix_types.cpp
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_training_input.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Unify implementations of copy constructors and assignment operators
  cpp/daal/include/algorithms/classifier/classifier_training_types.h
  cpp/daal/src/algorithms/classifier/classifier_train.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Unify implementations of copy constructors and assignment operators in GBT
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_training_types.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_training_input.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix a typo
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_predict_types.cpp
Due: .ci/pipeline/ci.yml

chore(actions): add cov flag for build
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
Due: .ci/pipeline/ci.yml

address rules of 3 and 5
  cpp/oneapi/dal/array.hpp
  cpp/oneapi/dal/chunked_array.hpp
  cpp/oneapi/dal/detail/chunked_array_impl.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update cpp/oneapi/dal/array.hpp
  cpp/oneapi/dal/array.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

DOC: Update doc and internal links after uxl transfer (#3003)
  .ci/env/tbb.bat
  .ci/env/tbb.sh
  .ci/pipeline/ci.yml
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/docker-validation-nightly.yml
  .github/workflows/label-enforcement.yml
  .github/workflows/openssf-scorecard.yml
  CONTRIBUTING.md
  INSTALL.md
  MAINTAINERS.md
  README.md
  SECURITY.md
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/threading/threading.h
  deploy/nuget/inteldal.nuspec.tpl
  dev/download_tbb.sh
  docs/README.md
  docs/source/404.rst
  docs/source/conf.py
  docs/source/contribution/coding_guide.rst
  docs/source/contribution/cpu_features.rst
  docs/source/contribution/threading.rst
  docs/source/daal-interfaces.rst
  docs/source/daal/algorithms/logistic_regression/logistic-regression.rst
  docs/source/installation.rst
  docs/source/substitutions_specific.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

feat: add `gcov` code coverage support
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Due: .ci/pipeline/ci.yml

delete operators to avoid rule-of-three violation warning (#2997)
  cpp/oneapi/dal/detail/sparse_matrix_handle_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix coverity hits in Classifier, Decision Forest and GBT (#3001)
  cpp/daal/include/algorithms/classifier/binary_confusion_matrix_types.h
  cpp/daal/include/algorithms/classifier/classifier_model.h
  cpp/daal/include/algorithms/classifier/classifier_predict_types.h
  cpp/daal/include/algorithms/classifier/classifier_training_types.h
  cpp/daal/include/algorithms/classifier/multiclass_confusion_matrix_types.h
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_predict_types.h
  cpp/daal/include/algorithms/decision_forest/decision_forest_regression_predict_types.h
  cpp/daal/include/algorithms/decision_forest/decision_forest_regression_training_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_predict_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_predict_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_training_types.h
  cpp/daal/include/algorithms/multi_class_classifier/multi_class_classifier_model.h
  cpp/daal/src/algorithms/classifier/binary_confusion_matrix_types.cpp
  cpp/daal/src/algorithms/classifier/classifier_predict.cpp
  cpp/daal/src/algorithms/classifier/classifier_train.cpp
  cpp/daal/src/algorithms/classifier/multiclass_confusion_matrix_types.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_training_input.cpp
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_training_input.cpp
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_model.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

feat: add `gcov` code coverage support (#3010)
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Due: .ci/pipeline/ci.yml

Move implementations to .cpp files
  cpp/daal/include/algorithms/algorithm_quality_metric_set_types.h
  cpp/daal/include/algorithms/boosting/adaboost_predict_types.h
  cpp/daal/include/algorithms/boosting/brownboost_predict_types.h
  cpp/daal/include/algorithms/boosting/logitboost_predict_types.h
  cpp/daal/src/algorithms/adaboost/adaboost_predict_batch.cpp
  cpp/daal/src/algorithms/algorithm_quality_metric_set_types.cpp
  cpp/daal/src/algorithms/brownboost/brownboost_predict_batch.cpp
  cpp/daal/src/algorithms/logitboost/logitboost_predict_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix build error
  cpp/daal/include/algorithms/algorithm_quality_metric_set_types.h
  cpp/daal/src/algorithms/algorithm_quality_metric_set_types.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update cpp/oneapi/dal/chunked_array.hpp
  cpp/oneapi/dal/chunked_array.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update cpp/oneapi/dal/detail/chunked_array_impl.cpp
  cpp/oneapi/dal/detail/chunked_array_impl.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update openblas.sh
  .ci/env/openblas.sh
Due: .ci/pipeline/ci.yml

.
  deleteme
Due: .ci/pipeline/ci.yml

instructions for installing with conda dependencies
  INSTALL.md
Due: .ci/pipeline/ci.yml

[CI] use sklearnex azure pipelines template for sklearnex CI step (#2950)
  .ci/env/apt.sh
  .ci/pipeline/ci.yml
  .ci/scripts/conformance-scripts/algorithms.txt
  .ci/scripts/conformance-scripts/download_tests.sh
  .ci/scripts/conformance-scripts/run_tests.py
  .ci/scripts/conformance-scripts/run_tests_with_context.py
  .ci/scripts/conformance-scripts/run_xpu_conformance.py
  .ci/scripts/conformance-scripts/utils.py
  .ci/scripts/conformance_test.sh
Due: .ci/pipeline/ci.yml

Move default constructors implementations in AlgorithContainer classes from .h to .cpp
  cpp/daal/include/algorithms/algorithm_container_base.h
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
  cpp/daal/src/algorithms/algorithm_base_impl.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml
