Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

protecting AVX512 calls
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
Due: .ci/pipeline/ci.yml

Memory capacity computing fix (#2301)
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update clang-format
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor fixes.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add wait and throw after moving to device.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Clang-format update.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

incorrect logic in df_classification
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

incorrect logic in df_regression
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

pca doc update
  docs/source/includes/decomposition/pca-examples.rst
  docs/source/includes/decomposition/pca-introduction.rst
  docs/source/includes/decomposition/pca-usage-examples.rst
  docs/source/onedal/algorithms/decomposition/index.rst
  docs/source/onedal/algorithms/decomposition/pca.rst
  examples/oneapi/cpp/source/covariance/cov_dense_batch.cpp
  examples/oneapi/data/covtest.csv
  examples/oneapi/dpc/source/covariance/cov_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove redundancy
  examples/oneapi/data/covtest.csv
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update bit_vector.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/bit_vector.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update compiler_adapt.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix typo.
  docs/source/onedal/algorithms/clustering/dbscan.rst
Due: .ci/pipeline/docs.yml

Docs DBSCAN fix typo. (#2316)
  docs/source/onedal/algorithms/clustering/dbscan.rst
Due: .ci/pipeline/docs.yml

Add example-draft.
  examples/oneapi/dpc/source/svm/svm_multi_class_thunder_csr_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add multi-class thinder CSR example for SVM
  examples/oneapi/dpc/source/example_util/csr_helpers.hpp
  examples/oneapi/dpc/source/example_util/utils.hpp
  examples/oneapi/dpc/source/svm/svm_multi_class_thunder_csr_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Move example to cpp folder
  examples/oneapi/cpp/source/example_util/csr_helpers.hpp
  examples/oneapi/cpp/source/example_util/utils.hpp
  examples/oneapi/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/oneapi/dpc/source/example_util/utils.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Docstring fix for K-means
  cpp/oneapi/dal/algo/kmeans/infer_types.hpp
  cpp/oneapi/dal/algo/kmeans/train_types.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add SPMD mode mentioning
  docs/source/onedal/algorithms/clustering/kmeans.rst
Due: .ci/pipeline/docs.yml

Add empty cluster handling description
  docs/source/onedal/algorithms/clustering/kmeans.rst
Due: .ci/pipeline/docs.yml

Fix stop condition description
  docs/source/onedal/algorithms/clustering/kmeans.rst
Due: .ci/pipeline/docs.yml

Common Intel_LLVM compiler macros (#2258)
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/algorithms/service_sort.h
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/tsne/tsne_gradient_descent_fpt_cpu.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/data_conversion_cpu.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  docs/source/contribution/coding_guide.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix english in empty clusters handling description
  docs/source/onedal/algorithms/clustering/kmeans.rst
Due: .ci/pipeline/docs.yml

Remove usage of ndarray in table conversion.
  examples/oneapi/cpp/source/example_util/csr_helpers.hpp
  examples/oneapi/cpp/source/svm/svm_nu_cls_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_smo_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_thunder_csr_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add the purpose of handling empty clusters procedure
  docs/source/onedal/algorithms/clustering/kmeans.rst
Due: .ci/pipeline/docs.yml

DAAL random splitter bugfix histogram size_t underflow (#2314)
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

initial
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
  cpp/daal/src/algorithms/dtrees/dtrees_model.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Kmeans doc update (#2317)
  cpp/oneapi/dal/algo/kmeans/infer_types.hpp
  cpp/oneapi/dal/algo/kmeans/train_types.hpp
  docs/source/onedal/algorithms/clustering/kmeans.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update pca docs
  docs/source/includes/decomposition/pca-examples.rst
  docs/source/includes/decomposition/pca-introduction.rst
  docs/source/includes/decomposition/pca-usage-examples.rst
  docs/source/onedal/algorithms/decomposition/index.rst
  docs/source/onedal/algorithms/decomposition/pca.rst
Due: .ci/pipeline/docs.yml

format fix
  docs/source/onedal/algorithms/decomposition/pca.rst
Due: .ci/pipeline/docs.yml

Fixes
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_finalize_fpt_cpu.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_merge_fpt_cpu.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_update_fpt_cpu.cpp
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/externals/service_blas.h
Due: .ci/pipeline/ci.yml

Minor
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_finalize_fpt_cpu.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_merge_fpt_cpu.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_update_fpt_cpu.cpp
Due: .ci/pipeline/ci.yml

covariance docs update
  docs/source/includes/covariance/covariance-introduction.rst
  docs/source/onedal/algorithms/covariance/covariance.rst
Due: .ci/pipeline/docs.yml

minor update
  docs/source/includes/covariance/covariance-introduction.rst
Due: .ci/pipeline/docs.yml

format update
  docs/source/onedal/algorithms/covariance/covariance.rst
Due: .ci/pipeline/docs.yml
