Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Missing values support for GBT inference (#2345)
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
  cpp/daal/src/algorithms/dtrees/dtrees_model.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing build with SVM in bazel
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/svm/svm_train_common_avx512_impl.i
Due: .ci/pipeline/ci.yml

fixing clang-format
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/svm/svm_train_common_avx512_impl.i
Due: .ci/pipeline/ci.yml

Intel_LLVM compiler macros (#2363)
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/algorithms/service_sort.h
  cpp/daal/src/algorithms/svm/svm_train_common_avx512_impl.i
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/tsne/tsne_gradient_descent_fpt_cpu.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/data_conversion_cpu.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  docs/source/contribution/coding_guide.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

kmeans (feature): reimplement select function (#2373)
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fixed copying performance issues (#2375)
  cpp/oneapi/dal/backend/memory.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

split table event modifications (#2377)
  cpp/oneapi/dal/backend/primitives/split_table.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

`extract_and_share_by_indices` function updated (#2376)
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/update_kernel_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/detail/train_ops.hpp
  cpp/oneapi/dal/backend/common.hpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_dpc.hpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_local_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_wrapper_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_cw_perf_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_uniform_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix for kernels selector sed command on macOS
  .ci/pipeline/ci.yml
  dev/make/common.mk
  makefile
Due: .ci/pipeline/ci.yml

FIX: void function return in csr table
  cpp/oneapi/dal/table/csr.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixup: disable failing tests in batch.cpp while fix in progress
  cpp/oneapi/dal/algo/svm/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add TODO comment
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix clang-format check
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add wait_and_throw() to gemm_event to prevent invalid memory access
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix events dependencies in SVM
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/svm/backend/gpu/train_cls_kernel_thunder_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove redundant blank line
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixup: skip tests on unsupported device/CPU
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fixes
  cpp/oneapi/dal/backend/primitives/reduction/functors.hpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_atomic_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

MInor
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_atomic_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

LinReg fixes (#2332)
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/update_kernel_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/detail/train_ops.hpp
  cpp/oneapi/dal/backend/common.hpp
  cpp/oneapi/dal/backend/primitives/reduction/functors.hpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_atomic_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_dpc.hpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_local_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_wrapper_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_cw_perf_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_uniform_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixup: skip tests on unsupported device/CPU (#2381)
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix for kernels selector sed command on macOS (#2379)
  .ci/pipeline/ci.yml
  dev/make/common.mk
  makefile
Due: .ci/pipeline/ci.yml

FIX: void function return in csr table (#2380)
  cpp/oneapi/dal/table/csr.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix: nFeatIdx[idx--] -> nFeatIdx[--idx] to avoid finding bins with zero content
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Fix event dependencies, range definition, and rewrite results check for rbf_kernel
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/rbf_kernel/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Change threshold in test to avoid false positive
  cpp/oneapi/dal/algo/rbf_kernel/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix: nFeatIdx[idx--] -> nFeatIdx[--idx] to avoid finding bins with zero content (#2385)
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Initial changes
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  dev/bazel/flags.bzl
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix ClangFormat
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/rbf_kernel/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update index-toc.rst
  docs/source/index-toc.rst
Due: .ci/pipeline/docs.yml

Create deprecation.rst
  docs/source/deprecation.rst
Due: .ci/pipeline/docs.yml

Update deprecation.rst
  docs/source/deprecation.rst
Due: .ci/pipeline/docs.yml

Create Deprecation Notice (#2389)
  docs/source/deprecation.rst
  docs/source/index-toc.rst
Due: .ci/pipeline/docs.yml

Fix rbf_kernel (#2386)
  cpp/oneapi/dal/algo/rbf_kernel/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/rbf_kernel/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert "Fixed copying performance issues (#2375)"
  cpp/oneapi/dal/backend/memory.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

initial
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Implement sycl kernels needed for csr_table construction and inputs checking
  cpp/oneapi/dal/table/backend/csr_table_impl.hpp
  cpp/oneapi/dal/table/common.cpp
  cpp/oneapi/dal/table/common.hpp
  cpp/oneapi/dal/table/csr.hpp
  cpp/oneapi/dal/table/homogen.hpp
  cpp/oneapi/dal/table/test/csr.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format; remove debug print
  cpp/oneapi/dal/table/backend/csr_table_impl.hpp
  cpp/oneapi/dal/table/common.hpp
  cpp/oneapi/dal/table/csr.cpp
  cpp/oneapi/dal/table/csr.hpp
  cpp/oneapi/dal/table/homogen.hpp
  cpp/oneapi/dal/table/test/csr.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix set seed
  cpp/oneapi/dal/algo/decision_forest/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
