Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Change ONEAPI_ROOT in build
  deploy/local/vars_lnx.sh
  deploy/local/vars_win.bat
  makefile
Due: .ci/pipeline/ci.yml

Check if echo is working
  deploy/local/vars_lnx.sh
Due: .ci/pipeline/ci.yml

Adjust Java paths
  deploy/local/vars_lnx.sh
  deploy/local/vars_win.bat
Due: .ci/pipeline/ci.yml

Fix daal4py build
  deploy/local/vars_lnx.sh
Due: .ci/pipeline/ci.yml

Removed redundant line
  deploy/local/vars_lnx.sh
Due: .ci/pipeline/ci.yml

Verify echo
  deploy/local/vars_win.bat
Due: .ci/pipeline/ci.yml

Adjust vars.bat
  deploy/local/vars_win.bat
Due: .ci/pipeline/ci.yml

Fix component_root
  deploy/local/vars_lnx.sh
Due: .ci/pipeline/ci.yml

Fix separator string
  deploy/local/vars_lnx.sh
Due: .ci/pipeline/ci.yml

Cleanup the code
  deploy/local/vars_win.bat
Due: .ci/pipeline/ci.yml

fix perf degradation for classification tasks
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Minor updates according to PR's sugggestions
  examples/oneapi/cpp/source/example_util/csr_helpers.hpp
  examples/oneapi/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_cls_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_smo_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_thunder_csr_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor updates. Add template types.
  examples/oneapi/cpp/source/example_util/csr_helpers.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor updates. Remove redundant code.
  examples/oneapi/cpp/source/example_util/csr_helpers.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

1. Add ability to construct CSR tables from the data allocated on GPU. 2. Add support of zero-based indexing to host_csr_table_adapter class
  cpp/oneapi/dal/table/backend/interop/host_csr_table_adapter.cpp
  cpp/oneapi/dal/table/backend/interop/host_csr_table_adapter.hpp
  cpp/oneapi/dal/table/csr.cpp
  cpp/oneapi/dal/table/csr.hpp
  cpp/oneapi/dal/table/test/table_adapter.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert "Common Intel_LLVM compiler macros (#2258)"
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/algorithms/service_sort.h
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/tsne/tsne_gradient_descent_fpt_cpu.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/data_conversion_cpu.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  docs/source/contribution/coding_guide.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Adjust cmake for supporting two include
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Fix missing parenthesis
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Adjust if statement in cmake
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Revert "Common Intel_LLVM compiler macros (#2258)" (#2327)
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/algorithms/service_sort.h
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/tsne/tsne_gradient_descent_fpt_cpu.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/data_conversion_cpu.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  docs/source/contribution/coding_guide.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Change OPT icc flags
  dev/make/cmplr.icc.mk
Due: .ci/pipeline/ci.yml

Add missing hdiutil mounting command
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Add icc CI job for macOS
  .ci/pipeline/ci.yml
  .ci/scripts/describe_system.sh
Due: .ci/pipeline/ci.yml

Fix for sed command on macos
  makefile
Due: .ci/pipeline/ci.yml

Add random_dense method description
  docs/source/includes/clustering/kmeans-init-introduction.rst
  docs/source/onedal/algorithms/clustering/kmeans-init.rst
Due: .ci/pipeline/docs.yml

Add forgotten refs
  docs/source/includes/clustering/kmeans-init-introduction.rst
Due: .ci/pipeline/docs.yml

Add KMeans++ description
  docs/source/includes/clustering/kmeans-init-introduction.rst
  docs/source/onedal/algorithms/clustering/kmeans-init.rst
Due: .ci/pipeline/docs.yml

Add Usage example reference to interface description
  docs/source/api/algorithms/clustering/kmeans-init.rst
Due: .ci/pipeline/docs.yml

Add tag-types descriptions in API section
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add parallel K-Means++ mentioning
  docs/source/includes/clustering/kmeans-init-introduction.rst
  docs/source/onedal/algorithms/clustering/kmeans-init.rst
Due: .ci/pipeline/docs.yml

Simplify defs filter assignment
  makefile
Due: .ci/pipeline/ci.yml

Add more sparse dataset for sparse examples.
  examples/oneapi/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_cls_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_smo_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_thunder_csr_batch.cpp
  examples/oneapi/data/svm_cls_synthetic_3k_sparse_labels.csv
  examples/oneapi/data/svm_cls_synthetic_3k_test_sparse_data.csv
  examples/oneapi/data/svm_cls_synthetic_3k_test_sparse_labels.csv
  examples/oneapi/data/svm_cls_synthetic_3k_train_sparse_data.csv
  examples/oneapi/data/svm_cls_synthetic_3k_train_sparse_labels.csv
  examples/oneapi/data/svm_multi_cls_synthetic_3k_test_sparse_data.csv
  examples/oneapi/data/svm_multi_cls_synthetic_3k_test_sparse_labels.csv
  examples/oneapi/data/svm_multi_cls_synthetic_3k_train_sparse_data.csv
  examples/oneapi/data/svm_multi_cls_synthetic_3k_train_sparse_labels.csv
  examples/oneapi/data/svm_reg_synthetic_1k_test_sparse_data.csv
  examples/oneapi/data/svm_reg_synthetic_1k_test_sparse_labels.csv
  examples/oneapi/data/svm_reg_synthetic_1k_train_sparse_data.csv
  examples/oneapi/data/svm_reg_synthetic_1k_train_sparse_labels.csv
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update clang-format
  examples/oneapi/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_cls_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_smo_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_thunder_csr_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

distr knn multiple inference block resolution
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
  cpp/oneapi/dal/algo/knn/test/spmd.cpp
  cpp/oneapi/dal/backend/primitives/selection/select_indexed_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Change opt flags
  dev/make/cmplr.icc.mk
Due: .ci/pipeline/ci.yml

Fix unexpected indentation problem
  docs/source/onedal/algorithms/clustering/kmeans-init.rst
Due: .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
