Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

Update table device support
  docs/source/onedal/algorithms/kernel-functions/index.rst
Due: .ci/pipeline/docs.yml

Add python examples into docs.
  docs/source/includes/ensembles/df-classification-examples.rst
  docs/source/includes/ensembles/df-regression-examples.rst
Due: .ci/pipeline/docs.yml

Update according to suggestion changes
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update according to suggestions.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl.hpp
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update according to suggestions. Part 2.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl.hpp
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update according to suggestions. Part 3.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update according to suggestions. Part 4.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update according to suggestions. Part 5.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update according to suggestions. Part 6.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update docs according to suggestions.
  docs/source/onedal/algorithms/kernel-functions/index.rst
  docs/source/onedal/algorithms/kernel-functions/linear-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/polynomial-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/rbf-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/sigmoid-kernel.rst
Due: .ci/pipeline/docs.yml

Update docs according to suggestions. 2
  docs/source/onedal/algorithms/kernel-functions/index.rst
Due: .ci/pipeline/docs.yml

Update docs according to suggestions. Fix typo.
  docs/source/onedal/algorithms/kernel-functions/index.rst
Due: .ci/pipeline/docs.yml

Update docs according to suggestions. Minor fixes.
  docs/source/onedal/algorithms/kernel-functions/index.rst
  docs/source/onedal/algorithms/kernel-functions/rbf-kernel.rst
Due: .ci/pipeline/docs.yml

Change dot sign in math equations.
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/docs.yml

Dev/kernel functions docs update (#2312)
  cpp/oneapi/dal/algo/linear_kernel/backend/cpu/compute_kernel_dense.cpp
  docs/source/onedal/algorithms/kernel-functions/index.rst
  docs/source/onedal/algorithms/kernel-functions/linear-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/polynomial-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/rbf-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/sigmoid-kernel.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Integrate random splitter into DAAL decision forest to enable ExtraTrees algorithm (#2283)
  cpp/daal/include/algorithms/decision_forest/decision_forest_training_parameter.h
  cpp/daal/src/algorithms/dtrees/dtrees_feature_type_helper.h
  cpp/daal/src/algorithms/dtrees/dtrees_feature_type_helper.i
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_training_parameter.cpp
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/train_kernel_cls.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/train_kernel_reg.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/model_interop.hpp
  cpp/oneapi/dal/algo/decision_forest/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix typo.
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/docs.yml

Dev/df update docs (#2311)
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl.hpp
  docs/source/includes/ensembles/df-classification-examples.rst
  docs/source/includes/ensembles/df-regression-examples.rst
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Copy bin_borders to device. Add random threshold generation in bin borders range.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_feature_type.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Experimenting with SYCL_LANGUAGE_VERSION define
  cpp/daal/src/externals/service_blas.h
Due: .ci/pipeline/ci.yml

Fixing clang-format
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Covering additional case from sycl
  cpp/daal/src/algorithms/service_kernel_math.h
Due: .ci/pipeline/ci.yml

updating compiler macro
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/algorithms/service_sort.h
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/data_conversion_cpu.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/common.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  docs/source/contribution/coding_guide.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Have new joined define for C++ compiler
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
Due: .ci/pipeline/ci.yml

Covering additional case from sycl
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Have new joined define for C++ compiler
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_impl.i
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/algorithms/service_sort.h
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/tsne/tsne_gradient_descent_fpt_cpu.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/common.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  docs/source/contribution/coding_guide.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Experiment with defined(__AVX512F__)
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/externals/service_blas.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Covering additional case from sycl
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/oneapi/dal/backend/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing formating
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Updating to common define
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/data_management/data_conversion_cpu.h
Due: .ci/pipeline/ci.yml

Failing back on ICC
  cpp/daal/src/services/service_defines.h
Due: .ci/pipeline/ci.yml

Covering additional case from sycl
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/tsne/tsne_gradient_descent_fpt_cpu.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/data_conversion_cpu.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/common.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Covering additional case from sycl
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing defines for pragma
  cpp/oneapi/dal/backend/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Covering AVX code
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing AVX call
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

protecting AVX512 calls
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/data_management/finiteness_checker.cpp
Due: .ci/pipeline/ci.yml

protecting AVX512 calls
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
Due: .ci/pipeline/ci.yml

protecting avx512
  cpp/daal/src/data_management/data_conversion_cpu.cpp
Due: .ci/pipeline/ci.yml
