Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Bugfix in daal::data_management::features::internal::getIndexNumType<unsigned long> function (#2776)
  cpp/daal/include/data_management/features/internal/helpers.h
  examples/daal/cpp/target_excludes.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

init fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

naming fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

Update cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

prints
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

Update cpp/daal/include/services/env_detect.h
  cpp/daal/include/services/env_detect.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add arena init
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

test rfc, do not merge
  rfcs/20240515-test-rfc/README.md
Due: .ci/pipeline/ci.yml

added dependency description of xtx on compute_intercept
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

fix for set number of threads
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

fixed dll for daal lin reg batch kernel
  cpp/daal/src/algorithms/linear_regression/linear_regression_train_dense_normeq_batch_fpt_cpu.cpp
Due: .ci/pipeline/ci.yml

tbb fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix for env construct
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

fix for init
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

add init in each function
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

minor fix
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix for destructor
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

align with master + minor fixes
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

latest commits
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix for non x86 platforms
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

updated copyright message for misc.hpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Improve SYCL kernels in CSR table
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix minor
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  docs/source/daal/services/managing-computational-environment.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Enable sparse primitives testing on GPU
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemv_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove unneeded include
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix for arm
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

bug fix in kmeans sparse init
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel_dense.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Ridge Regression support in oneapi (#2743)
  cpp/daal/src/algorithms/linear_regression/linear_regression_train_dense_normeq_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/ridge_regression/ridge_regression_train_dense_normeq_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/ridge_regression/ridge_regression_train_dense_normeq_online_fpt_cpu.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/BUILD
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/finalize_train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/partial_train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/finalize_train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/partial_train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/common.cpp
  cpp/oneapi/dal/algo/linear_regression/common.hpp
  cpp/oneapi/dal/algo/linear_regression/test/batch.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/linear_regression/test/online.cpp
  cpp/oneapi/dal/algo/linear_regression/test/spmd.cpp
  cpp/oneapi/dal/algo/linear_regression/test/train_parameters.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update build-application.rst
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
