Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

Fix logloss primitive
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add split strategy section.
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/docs.yml

Add descriptions to best-splitter kernels.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

improving readability
  cpp/daal/src/algorithms/dtrees/dtrees_feature_type_helper.i
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

further readability improvements
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

clang-formatting
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

error correction in genRandBinIdx
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Add logloss example, add fit_intercept parameter
  cpp/oneapi/dal/algo/logloss_objective/common.cpp
  cpp/oneapi/dal/algo/logloss_objective/common.hpp
  cpp/oneapi/dal/algo/objective_function/backend/gpu/compute_kernel_dense_batch_impl_dpc.cpp
  cpp/oneapi/dal/algo/objective_function/backend/objective_impl.hpp
  cpp/oneapi/dal/algo/objective_function/detail/objective.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
  examples/oneapi/cpp/BUILD
  examples/oneapi/cpp/makefile_lnx
  examples/oneapi/cpp/makefile_mac
  examples/oneapi/cpp/onedal_lnx.lst
  examples/oneapi/cpp/onedal_mac.lst
  examples/oneapi/cpp/source/objective_function/logloss_dense_batch.cpp
  examples/oneapi/data/df_binary_classification_test_data.csv
  examples/oneapi/data/df_binary_classification_test_label.csv
  examples/oneapi/data/df_binary_classification_train_data.csv
  examples/oneapi/data/df_binary_classification_train_label.csv
  examples/oneapi/data/logreg_params.csv
  examples/oneapi/data/logreg_params_5_iter.csv
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add more description for split strategy.
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/docs.yml

correction of issues associated with changes
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

clang-formatting
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Update section hist vs. dense methods.
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/docs.yml

enable oneDAL CPU for CI
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/train_kernel_cls.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/train_kernel_reg.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/model_interop.hpp
  cpp/oneapi/dal/algo/decision_forest/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-formatting
  cpp/oneapi/dal/algo/decision_forest/backend/model_interop.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixed compute location issue
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Fix for infering duplicate sample from train data
  cpp/oneapi/dal/backend/primitives/voting/naive_distance_dpc.cpp
  examples/oneapi/data/knn_test_data.csv
  examples/oneapi/data/knn_test_label.csv
  examples/oneapi/data/knn_train_data.csv
  examples/oneapi/data/knn_train_label.csv
  examples/oneapi/dpc/source/knn/knn_cls_brute_force_train_in_test.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Rm trailing space
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/docs.yml

changes to compute()
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

enforce code similarity
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

enforce code similarity
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Update DPC++ compiler version to 2023.1.0
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Code quality improvements
  docs/dalapi/doxypy/parser/compound.py
Due: .ci/pipeline/docs.yml

services: one more handler for dll check added
  cpp/daal/src/services/service_daal_load_win_dynamic_lib.cpp
Due: .ci/pipeline/ci.yml

Fix for distance voting training samples in test for cpu
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_impl.i
Due: .ci/pipeline/ci.yml

Doc updates for kernel functions.
  docs/source/onedal/algorithms/kernel-functions/index.rst
  docs/source/onedal/algorithms/kernel-functions/linear-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/polynomial-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/rbf-kernel.rst
  docs/source/onedal/algorithms/kernel-functions/sigmoid-kernel.rst
Due: .ci/pipeline/docs.yml

Add bazel test
  cpp/oneapi/dal/algo/knn/test/batch.cpp
  cpp/oneapi/dal/backend/primitives/voting/naive_distance_dpc.cpp
  examples/oneapi/data/knn_test_data.csv
  examples/oneapi/data/knn_test_label.csv
  examples/oneapi/data/knn_train_data.csv
  examples/oneapi/data/knn_train_label.csv
  examples/oneapi/dpc/source/knn/knn_cls_brute_force_train_in_test.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update bazel test
  cpp/oneapi/dal/algo/knn/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang formatting
  cpp/oneapi/dal/algo/knn/test/batch.cpp
  cpp/oneapi/dal/backend/primitives/voting/naive_distance_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add fit intercept parameter, binding probabilities to [eps, 1 - eps]
  cpp/oneapi/dal/algo/objective_function/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/objective_function/test/batch.cpp
  cpp/oneapi/dal/algo/objective_function/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

revert compute() layout
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Update DPC++ compiler version to 2023.1.0 (#2307)
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

KNN distance voting infer fix for train sample in test sample (#2310)
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_impl.i
  cpp/oneapi/dal/algo/knn/test/batch.cpp
  cpp/oneapi/dal/backend/primitives/voting/naive_distance_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add device support table for kernel functions.
  docs/source/onedal/algorithms/kernel-functions/index.rst
Due: .ci/pipeline/docs.yml

Add kernels' description for train kernel hist.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix typo
  cpp/oneapi/dal/algo/linear_kernel/backend/cpu/compute_kernel_dense.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor updates and clang-format
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml
