Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: FormatterChecks
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        .ci/env/editorconfig-checker.sh
  
        '
      displayName: Install Dependencies
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

change format of comments
  cpp/oneapi/dal/backend/primitives/lapack/solve_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add vscode workspace files to gitignore
  .gitignore
Due: .ci/pipeline/ci.yml

add vscode workspace files to gitignore (#2980)
  .gitignore
Due: .ci/pipeline/ci.yml

update version to 2025.2.0
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

upd version
  .bazelversion
Due: .ci/pipeline/ci.yml

Create task arena on stack
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

refactoring
  cpp/oneapi/dal/backend/primitives/rng/engine_cpu.hpp
  cpp/oneapi/dal/backend/primitives/rng/engine_gpu.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

upd version (#2982)
  .bazelversion
Due: .ci/pipeline/ci.yml

add comment about threshold for diagonal minimum
  cpp/oneapi/dal/backend/primitives/lapack/solve_dpc.cpp
  oneDAL.code-workspace
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

avoid manually throwing MKL error
  cpp/oneapi/dal/backend/primitives/lapack/solve_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove accidentally commited file
  oneDAL.code-workspace
Due: .ci/pipeline/ci.yml

fixes
  cpp/oneapi/dal/algo/connected_components/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/louvain/backend/cpu/louvain_data.hpp
  cpp/oneapi/dal/algo/louvain/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/spmd_fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/cg_solver_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/newton_cg_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

wrap procedure in a function
  cpp/oneapi/dal/backend/primitives/lapack/solve_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/oneapi/dal/table/backend/convert.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply review comments
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/test/batch.cpp
  cpp/oneapi/dal/algo/kmeans/test/fixture.hpp
  cpp/oneapi/dal/test/engine/csr_table_builder.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert incorrect formatting
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix a typo
  cpp/oneapi/dal/test/engine/csr_table_builder.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/oneapi/dal/table/backend/convert.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix incorrect reduction when there's fewer bins than jobs
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_helpers.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fixes
  cpp/oneapi/dal/backend/memory.hpp
  cpp/oneapi/dal/backend/transfer_dpc.cpp
  cpp/oneapi/dal/table/backend/convert.cpp
  cpp/oneapi/dal/table/backend/homogen_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

initial commit for adding boost lib
  WORKSPACE
  cpp/oneapi/dal/test/engine/BUILD
  cpp/oneapi/dal/test/engine/common.hpp
  dev/bazel/deps/boost.tpl.BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Replace internally developed CSR GEMM with a call to MKL (#2959)
  cpp/oneapi/dal/algo/basic_statistics/test/fixture.hpp
  cpp/oneapi/dal/algo/kmeans/BUILD
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/detail/train_ops_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/test/batch.cpp
  cpp/oneapi/dal/algo/kmeans/test/fixture.hpp
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
  cpp/oneapi/dal/test/engine/csr_table_builder.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix incorrect reduction when there's fewer bins than jobs (#2984)
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_helpers.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add eigen lib
  WORKSPACE
  cpp/oneapi/dal/backend/primitives/lapack/test/syevd_dpc.cpp
  cpp/oneapi/dal/test/engine/BUILD
  cpp/oneapi/dal/test/engine/common.hpp
  dev/bazel/deps/boost.tpl.BUILD
  dev/bazel/deps/eigen.tpl.BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/oneapi/dal/backend/primitives/lapack/test/syevd_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

ENH: Implement GPU version of spectral decomposition as linear regression fallback (#2976)
  cpp/oneapi/dal/algo/linear_regression/test/batch.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/lapack/solve_dpc.cpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert SPMD K-means instantiation to fix #2959
  cpp/oneapi/dal/algo/kmeans/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/detail/train_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert SPMD K-means instantiation to fix #2959 (#2986)
  cpp/oneapi/dal/algo/kmeans/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/detail/train_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add ability of vtune profiling
  cpp/daal/src/externals/service_profiler.cpp
  cpp/daal/src/externals/service_profiler.h
  makefile
Due: .ci/pipeline/ci.yml

Complete makefile changes; Add comments
  INSTALL.md
  cpp/daal/src/externals/service_profiler.h
  makefile
Due: .ci/pipeline/ci.yml

clang-format
  cpp/daal/src/externals/service_profiler.cpp
Due: .ci/pipeline/ci.yml

clang-format
  cpp/daal/src/externals/service_profiler.h
Due: .ci/pipeline/ci.yml

clang-format=14.0
  cpp/daal/src/externals/service_profiler.h
Due: .ci/pipeline/ci.yml

fixes for ndarray
  cpp/oneapi/dal/table/backend/homogen_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update version to 2025.2.0 (#2981)
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix: array coverity hits
  cpp/oneapi/dal/array.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update docs/requirements.txt
  docs/requirements.txt
Due: .ci/pipeline/docs.yml

Add ability of VTune profiling (#2987)
  INSTALL.md
  cpp/daal/src/externals/service_profiler.cpp
  cpp/daal/src/externals/service_profiler.h
  makefile
Due: .ci/pipeline/ci.yml

Update nightly-build.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
