Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

more binary version updates
  cpp/daal/include/daal_win.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/dll.rc
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

adding profiler tasks
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove v2 from decision_forest and detail/common
  cpp/oneapi/dal/algo/decision_forest/detail/train_ops.cpp
  cpp/oneapi/dal/algo/decision_forest/detail/train_ops.hpp
  cpp/oneapi/dal/algo/decision_forest/detail/train_ops_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/train_types.cpp
  cpp/oneapi/dal/algo/decision_forest/train_types.hpp
  cpp/oneapi/dal/detail/common.cpp
  cpp/oneapi/dal/detail/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor upd
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix for examples
  examples/oneapi/dpc/source/covariance/cor_dense_online.cpp
  examples/oneapi/dpc/source/covariance/cov_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add the link to oneAPI samples browser
  docs/source/examples.rst
Due: .ci/pipeline/docs.yml

fix dbg tests
  cpp/oneapi/dal/algo/covariance/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Init addition of online interfaces in Covariance (#2455)
  cpp/daal/src/algorithms/covariance/covariance_dense_default_online_fpt_cpu.cpp
  cpp/oneapi/dal.hpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/finalize_compute_kernel.hpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/partial_compute_kernel.hpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/partial_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/finalize_compute_kernel.hpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel.hpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/covariance/compute_types.cpp
  cpp/oneapi/dal/algo/covariance/compute_types.hpp
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops.cpp
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops.hpp
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/covariance/detail/partial_compute_ops.cpp
  cpp/oneapi/dal/algo/covariance/detail/partial_compute_ops.hpp
  cpp/oneapi/dal/algo/covariance/detail/partial_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/covariance/finalize_compute.hpp
  cpp/oneapi/dal/algo/covariance/partial_compute.hpp
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  cpp/oneapi/dal/algo/covariance/test/online.cpp
  cpp/oneapi/dal/backend/interop/common.hpp
  cpp/oneapi/dal/detail/finalize_compute_ops.hpp
  cpp/oneapi/dal/detail/partial_compute_ops.hpp
  cpp/oneapi/dal/finalize_compute.hpp
  cpp/oneapi/dal/partial_compute.hpp
  cpp/oneapi/dal/test/engine/common.hpp
  cpp/oneapi/dal/test/engine/fixtures.hpp
  examples/oneapi/cpp/source/covariance/cor_dense_online.cpp
  examples/oneapi/cpp/source/covariance/cov_dense_online.cpp
  examples/oneapi/cpp/source/example_util/input_helpers.hpp
  examples/oneapi/dpc/source/covariance/cor_dense_online.cpp
  examples/oneapi/dpc/source/covariance/cov_dense_online.cpp
  examples/oneapi/dpc/source/example_util/input_helpers.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add flag
  dev/bazel/deps/onedal.bzl
  dev/bazel/deps/onedal.tpl.BUILD
  dev/bazel/deps/tbb.bzl
  dev/bazel/deps/tbb.tpl.BUILD
  dev/bazel/flags.bzl
  dev/bazel/release.bzl
Due: .ci/pipeline/ci.yml

minor fix
  deploy/local/dal
  dev/bazel/flags.bzl
Due: .ci/pipeline/ci.yml

Add the link to oneAPI samples browser (#2470)
  docs/source/examples.rst
Due: .ci/pipeline/docs.yml

Add thread_pinner and task_arena functionality to oneapi part
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply clang-format
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
  cpp/oneapi/dal/detail/policy.cpp
  cpp/oneapi/dal/detail/policy.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add TBB_PREVIEW_TASK_ARENA_CONSTRAINTS_EXTENSION define
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add create_task_arena method
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Rewrite dispatch_by_cpu method to send tasks into task_arena
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Move create_task_arena to cpp, add namespaces, rewrite threading_policy constructor
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

policy(true, 0)
  cpp/oneapi/dal/backend/dispatcher.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add returning value for thread_pinner.execute (WIP)
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove unnecessary print, move TBB-related define to the right place
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/oneapi/dal/backend/threading.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

WIP
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

policy(false, 1)
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

Change task variable name
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add threading_policy to host_policy and cpu_context
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
  cpp/oneapi/dal/detail/policy.cpp
  cpp/oneapi/dal/detail/policy.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

policy(true, 1)
  cpp/oneapi/dal/backend/dispatcher.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove redundant include
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

Codefactor fixes
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add task_arena parameter to DAAL thread-pinner
  cpp/daal/BUILD
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
Due: .ci/pipeline/ci.yml

policy(false, 0)
  cpp/oneapi/dal/backend/dispatcher.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Changing interfaces to keep backward compatibility (WIP)
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor fixes
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove AVX and SSE3 dispatches
  cpp/oneapi/dal/backend/dispatcher.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

infra: update binary version (#2468)
  cpp/daal/include/daal_win.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/dll.rc
  docs/source/onedal/build_app/build-application.rst
  makefile.ver
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix integral cast function
  cpp/oneapi/dal/detail/common.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update modulefile according to the latest requirements
  deploy/local/dal
Due: .ci/pipeline/ci.yml

open brackets and namespace version cleanup
  cpp/daal/include/algorithms/algorithm_container_base.h
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
  cpp/daal/include/algorithms/cholesky/cholesky_types.h
  cpp/daal/include/algorithms/distributions/bernoulli/bernoulli_types.h
  cpp/daal/include/algorithms/engines/engine_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_training_parameter.h
  cpp/daal/include/algorithms/pca/pca_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

revert BUILD comments from testing
  cpp/oneapi/dal/algo/BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_training_parameter.h
  cpp/daal/include/algorithms/naive_bayes/multinomial_naive_bayes_model.h
  cpp/daal/include/algorithms/weak_learner/weak_learner_training_batch.h
  cpp/daal/include/data_management/data/data_collection.h
  cpp/daal/src/algorithms/classifier/classifier_train.cpp
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_types.cpp
  cpp/daal/src/algorithms/kernel.h
  cpp/daal/src/algorithms/kmeans/kmeans_init_dense_deterministic_distr_step1_fpt_dispatcher.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_dense_deterministic_distr_step2_fpt_dispatcher.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_input_types.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_parameter_types.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_partialresult.h
  cpp/daal/src/algorithms/kmeans/kmeans_init_partialresult_types.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_result.h
  cpp/daal/src/algorithms/kmeans/kmeans_init_result_types.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_step2_distr_input_types.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_input_types.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_partialresult_types.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_result_types.cpp
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_train_fpt.cpp
  cpp/daal/src/algorithms/naivebayes/naivebayes_model_fpt.cpp
  cpp/daal/src/algorithms/naivebayes/naivebayes_train_container.h
  cpp/daal/src/algorithms/naivebayes/naivebayes_train_distributed_input.cpp
  cpp/daal/src/algorithms/objective_function/mse/mse_dense_default_batch_fpt_dispatcher.cpp
  cpp/daal/src/algorithms/pca/pca_dense_correlation_batch_container.h
  cpp/daal/src/algorithms/pca/pca_dense_svd_batch_container.h
  cpp/oneapi/dal/algo/covariance/compute_types.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/model_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/test/fixture.hpp
  cpp/oneapi/dal/algo/kmeans/train_types.cpp
  cpp/oneapi/dal/algo/kmeans_init/compute_types.cpp
  cpp/oneapi/dal/algo/knn/train_types.cpp
  cpp/oneapi/dal/algo/sigmoid_kernel/compute_types.cpp
  cpp/oneapi/dal/algo/svm/backend/model_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
