Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

Update build-application.rst
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

fix for threading
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

Revert "Merge branch 'main' of https://github.com/emmwalsh/oneDAL"
  docs/source/data-analytics-pipeline.rst
Due: .ci/pipeline/docs.yml

fixes
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

add mutex
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

attempt at fixing bazel test issues (#2769) (#2779)
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

format and error fix
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/oneapi/dal/algo/kmeans_init/common.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix: fix tbb initialize (#2791)
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

align trial_count computation
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/kmeans_init/common.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

clang-format; revert changes in tests
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemv_dpc.cpp
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix for thread pinner
  cpp/daal/src/threading/service_thread_pinner.cpp
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

Update SECURITY.md
  SECURITY.md
Due: .ci/pipeline/ci.yml

Revert "Update build-application.rst"
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

fix wo initialize
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

Revert "Update data-analytics-pipeline.rst"
  docs/source/data-analytics-pipeline.rst
Due: .ci/pipeline/docs.yml

Fix usage of sequential execution branches (#2783)
  cpp/daal/BUILD
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_merge_impl.i
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  makefile
Due: .ci/pipeline/ci.yml

debug prints
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/include/services/env_detect.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

readd descriptor
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix variations
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

attempt to add into build flow
  cpp/oneapi/dal/algo/finiteness_checker/BUILD
  cpp/oneapi/dal/algo/finiteness_checker/test/batch.cpp
  makefile.lst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

formatting
  cpp/oneapi/dal/algo/finiteness_checker/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add iostream
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

change bazel dependency
  cpp/oneapi/dal/algo/finiteness_checker/BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

change header
  cpp/oneapi/dal/algo/finiteness_checker/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes and prints
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/include/algorithms/algorithm_base_common.h
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/externals/service_dispatch.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/services/execution_context.cpp
  cpp/daal/src/services/library_version_info.cpp
  cpp/daal/src/sycl/select_indexed.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/oneapi/dal/backend/interop/common_dpc.cpp
  cpp/oneapi/dal/detail/global_context_impl.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/daal/src/algorithms/covariance/covariance_container.h
  cpp/daal/src/algorithms/covariance/oneapi/covariance_dense_online_oneapi_impl.i
  cpp/daal/src/algorithms/dbscan/oneapi/dbscan_dense_default_batch_ucapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/classification/oneapi/df_classification_predict_dense_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/classification/oneapi/df_classification_train_hist_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/oneapi/df_tree_level_build_helper_oneapi.i
  cpp/daal/src/algorithms/dtrees/forest/regression/oneapi/df_regression_predict_dense_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/oneapi/df_regression_train_hist_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/oneapi/gbt_regression_train_dense_default_oneapi_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/oneapi/bf_knn_classification_predict_kernel_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_batch_kernel_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_kernel_base_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_init_dense_batch_kernel_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_lloyd_distr_step1_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_lloyd_distr_step2_ucapi_impl.i
  cpp/daal/src/algorithms/pca/oneapi/pca_dense_correlation_batch_kernel_ucapi_impl.i
  cpp/daal/src/services/env_detect.cpp
  examples/daal/cpp/source/enable_thread_pinning/enable_thread_pinning.cpp
  examples/daal/cpp/source/set_number_of_threads/set_number_of_threads.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert "minor fix"
  cpp/daal/src/algorithms/covariance/covariance_container.h
  cpp/daal/src/algorithms/covariance/oneapi/covariance_dense_online_oneapi_impl.i
  cpp/daal/src/algorithms/dbscan/oneapi/dbscan_dense_default_batch_ucapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/classification/oneapi/df_classification_predict_dense_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/classification/oneapi/df_classification_train_hist_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/oneapi/df_tree_level_build_helper_oneapi.i
  cpp/daal/src/algorithms/dtrees/forest/regression/oneapi/df_regression_predict_dense_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/oneapi/df_regression_train_hist_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/oneapi/gbt_regression_train_dense_default_oneapi_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/oneapi/bf_knn_classification_predict_kernel_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_batch_kernel_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_kernel_base_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_init_dense_batch_kernel_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_lloyd_distr_step1_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_lloyd_distr_step2_ucapi_impl.i
  cpp/daal/src/algorithms/pca/oneapi/pca_dense_correlation_batch_kernel_ucapi_impl.i
  cpp/daal/src/services/env_detect.cpp
  examples/daal/cpp/source/enable_thread_pinning/enable_thread_pinning.cpp
  examples/daal/cpp/source/set_number_of_threads/set_number_of_threads.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert "fix"
  cpp/daal/include/algorithms/algorithm_base_common.h
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/externals/service_dispatch.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/services/execution_context.cpp
  cpp/daal/src/services/library_version_info.cpp
  cpp/daal/src/sycl/select_indexed.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/oneapi/dal/backend/interop/common_dpc.cpp
  cpp/oneapi/dal/detail/global_context_impl.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

init in static
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

add unique ptr
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml
