Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Minor
  cpp/oneapi/dal/algo/kmeans/detail/infer_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

updating list of deprecations
  docs/source/deprecation.rst
Due: .ci/pipeline/docs.yml

Minor changes
  cpp/daal/include/algorithms/linear_regression/linear_regression_model.h
  cpp/daal/include/algorithms/logistic_regression/logistic_regression_model.h
  cpp/daal/include/algorithms/logistic_regression/logistic_regression_model_builder.h
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_model.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_model_builder_fpt.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_model_impl.h
  examples/daal/cpp/source/logistic_regression/log_reg_binary_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Init branch
  cpp/daal/include/algorithms/linear_model/linear_model_model.h
  cpp/daal/include/algorithms/linear_regression/linear_regression_model.h
  cpp/daal/include/algorithms/logistic_regression/logistic_regression_model.h
  examples/daal/cpp/source/logistic_regression/log_reg_binary_dense_batch.cpp
  examples/oneapi/cpp/source/linear_regression/linear_regression_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove reduntant code
  cpp/daal/include/algorithms/linear_model/linear_model_model.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix GBT builders to support deserialization
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_builder.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Working version for Logistic Regression
  cpp/daal/include/algorithms/logistic_regression/logistic_regression_model_builder.h
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_model_builder_fpt.cpp
  examples/daal/cpp/source/logistic_regression/log_reg_binary_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove redundant code from examples
  examples/daal/cpp/source/decision_forest/df_cls_default_dense_batch.cpp
  examples/daal/cpp/source/logistic_regression/log_reg_binary_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix decision forest classification serialization
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_model_builder.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_model_builder.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_model_impl.h
  examples/daal/cpp/source/decision_forest/df_cls_default_dense_batch.cpp
  examples/daal/cpp/source/logistic_regression/log_reg_binary_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Code cleaning
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_model.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_model_builder_fpt.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_model_impl.h
  examples/daal/cpp/source/logistic_regression/log_reg_binary_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add empty constructor for linear regression model builder for deserialization
  cpp/daal/include/algorithms/linear_regression/linear_regression_model_builder.h
  cpp/daal/src/algorithms/linear_regression/linear_regression_model_builder_fpt.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update code style
  cpp/daal/include/algorithms/linear_regression/linear_regression_model_builder.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply clang-format
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_builder.cpp
  cpp/daal/src/algorithms/linear_regression/linear_regression_model_builder_fpt.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_model_builder_fpt.cpp
Due: .ci/pipeline/ci.yml

Code cleaning
  cpp/daal/include/algorithms/logistic_regression/logistic_regression_model.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

KMeans infer SPMD policy (#2412)
  cpp/oneapi/dal/algo/kmeans/detail/infer_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Adding MacOS deprecation
  docs/source/deprecation.rst
Due: .ci/pipeline/docs.yml

Adding fixing build
  docs/source/deprecation.rst
Due: .ci/pipeline/docs.yml

Fix a typo
  cpp/oneapi/dal/table/backend/csr_table_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add logloss api section, update introductions
  cpp/oneapi/dal/algo/logloss_objective/common.hpp
  docs/source/api/algorithms/objective-function/index.rst
  docs/source/api/algorithms/objective-function/objective-function.rst
  docs/source/includes/objective-function/logloss-introduction.rst
  docs/source/includes/objective-function/objective-function-introduction.rst
  docs/source/onedal/algorithms/objective-function/index.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add code suggestions from PR #2414
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_model_builder.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update IDZ Urls
  INSTALL.md
  deploy/maven/README-doc
  deploy/maven/daal.pom
  deploy/maven/dal-natives.pom
  deploy/maven/dal-parent.pom
  deploy/maven/dal.pom
  deploy/pkg-config/pkg-config.tpl
Due: .ci/pipeline/ci.yml

Revert Install.md changes
  INSTALL.md
Due: .ci/pipeline/ci.yml

Replace system requirements link
  INSTALL.md
Due: .ci/pipeline/ci.yml

doc: IDZ links update (#2415)
  INSTALL.md
  deploy/maven/README-doc
  deploy/maven/daal.pom
  deploy/maven/dal-natives.pom
  deploy/maven/dal-parent.pom
  deploy/maven/dal.pom
  deploy/pkg-config/pkg-config.tpl
Due: .ci/pipeline/ci.yml

Align brace-init-list for GBT Regression model builder
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_builder.cpp
Due: .ci/pipeline/ci.yml

Align all model builders with brace-init-list
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_model_builder.cpp
  cpp/daal/src/algorithms/linear_regression/linear_regression_model_builder_fpt.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_model_builder_fpt.cpp
Due: .ci/pipeline/ci.yml

Describe objective function descriptor, add examples
  docs/source/api/algorithms/objective-function/index.rst
  docs/source/api/algorithms/objective-function/objective-function.rst
  docs/source/conf.py
  docs/source/includes/objective-function/logloss-examples.rst
  docs/source/onedal/algorithms/objective-function/logloss.rst
Due: .ci/pipeline/docs.yml

Year update in copyright in cpp/oneapi/dal/table/csr_accessor.hpp
  cpp/oneapi/dal/table/csr_accessor.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Move csr_accessor from dal::detail to dal:: namespace (#2404)
  cpp/oneapi/dal/backend/interop/table_conversion.hpp
  cpp/oneapi/dal/table/backend/interop/host_csr_table_adapter.hpp
  cpp/oneapi/dal/table/csr_accessor.hpp
  cpp/oneapi/dal/table/detail/csr_accessor.hpp
  cpp/oneapi/dal/table/detail/test/csr_accessor.cpp
  examples/oneapi/cpp/source/table/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix error in case CSR table is created from dal::array-s allocated on device
  cpp/oneapi/dal/table/csr.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add objective_t cpp:identifier
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

doc: IDZ links update (#2415) (#2416)
  INSTALL.md
  deploy/maven/README-doc
  deploy/maven/daal.pom
  deploy/maven/dal-natives.pom
  deploy/maven/dal-parent.pom
  deploy/maven/dal.pom
  deploy/pkg-config/pkg-config.tpl
Due: .ci/pipeline/ci.yml

Rewrite compute_objective_function and compute_squares kernels in K-means using primitives
  cpp/oneapi/dal/algo/kmeans/BUILD
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

samples(fix): update mpi samples options (#2411)
  samples/daal/cpp/mpi/launcher.bat
  samples/daal/cpp/mpi/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml

samples(fix): compiler options depending on compiler for mpi samples
  samples/daal/cpp/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml

samples(fix): copt depending on compiler for mpi samples (#2418)
  samples/daal/cpp/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml

Initial change for new layout support
  deploy/local/vars_lnx.sh
  deploy/local/vars_win.bat
  makefile
Due: .ci/pipeline/ci.yml

Fix win exit
  deploy/local/vars_win.bat
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
