Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

minor fix
  cpp/daal/include/algorithms/dbscan/dbscan_distributed.h
  cpp/daal/include/algorithms/kmeans/kmeans_distributed.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fixes
  cpp/daal/include/algorithms/kmeans/kmeans_init_distributed.h
  cpp/daal/include/algorithms/svd/svd_distributed.h
  cpp/daal/src/algorithms/svd/svd_dense_default_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix for svd
  cpp/daal/include/algorithms/svd/svd_types.h
  cpp/daal/src/algorithms/svd/svd_dense_default_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Newline at end of file
  .ci/env/tbb.sh
Due: .ci/pipeline/ci.yml

1. Fix system_parameters::get_top_enabled_cpu_extension. 2. Derive all perf-related parameters classes from system_parameters. 3. Add tests for system_parameters
  cpp/oneapi/dal/algo/covariance/test/compute_parameters.cpp
  cpp/oneapi/dal/algo/decision_forest/infer_types.hpp
  cpp/oneapi/dal/algo/linear_regression/train_types.hpp
  cpp/oneapi/dal/detail/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/system_parameters_impl.hpp
  cpp/oneapi/dal/detail/system_parameters_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix for svd
  cpp/daal/include/algorithms/svd/svd_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes for transform and pca
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/pca/transform/pca_transform_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format; Add missing includes
  cpp/oneapi/dal/algo/covariance/compute_types.cpp
  cpp/oneapi/dal/algo/decision_forest/infer_types.hpp
  cpp/oneapi/dal/algo/linear_regression/train_types.hpp
  cpp/oneapi/dal/detail/system_parameters.cpp
  cpp/oneapi/dal/detail/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/system_parameters_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add copyright notices to new files
  examples/daal/cpp/target_excludes.cmake
  examples/oneapi/cpp/target_excludes.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/pca/transform/pca_transform_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes pca(prev commit build fine)
  cpp/daal/include/algorithms/engines/engine_types.h
  cpp/daal/include/algorithms/svd/svd_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update doc/readme.md to define how to create cross references
  docs/README.md
Due: .ci/pipeline/docs.yml

update version to 2024.5.0
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fixes
  cpp/daal/include/algorithms/engines/engine_types.h
  cpp/daal/include/algorithms/normalization/zscore_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/svd/svd_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

added support for data type declaration in read function
  cpp/oneapi/dal/io/csv/backend/cpu/read_kernel.cpp
  cpp/oneapi/dal/io/csv/backend/cpu/read_kernel.hpp
  cpp/oneapi/dal/io/csv/backend/gpu/read_kernel.hpp
  cpp/oneapi/dal/io/csv/backend/gpu/read_kernel_dpc.cpp
  cpp/oneapi/dal/io/csv/common.hpp
  cpp/oneapi/dal/io/csv/detail/read_ops.cpp
  cpp/oneapi/dal/io/csv/detail/read_ops.hpp
  cpp/oneapi/dal/io/csv/detail/read_ops_dpc.cpp
  examples/oneapi/dpc/source/dbscan/dbscan_brute_force_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fixes for pca
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/pca/transform/pca_transform_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Run Arm GNU cross-compiled tests in CI (#2719)
  .ci/env/apt.sh
  .ci/env/arm-gnu-crosscompile-toolchain.cmake
  .ci/env/tbb.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
  .ci/scripts/test.sh
  cmake/templates/oneDALConfig.cmake.in
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp/target_excludes.cmake
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/cpp/target_excludes.cmake
  makefile
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Use correct path to toolchain file
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Update the TBBROOT to use the cached directory
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Cache OpenBLAS and oneTBB builds as part of CI
  .ci/env/tbb.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
Due: .ci/pipeline/ci.yml

fixes for pca
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/svd/svd_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

FIX: sycl barrier() deprecation alternative (#2707)
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_heap_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_simd.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_single_col.hpp
  cpp/oneapi/dal/backend/primitives/selection/row_partitioning_kernel.hpp
  cpp/oneapi/dal/backend/primitives/sort/sort_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix for icl
  cpp/daal/include/algorithms/pca/pca_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Implement DPC++ sparse gemm and gemv primitives (#2668)
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/blas/misc.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/BUILD
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemm.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemv.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemv_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/handle.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/handle.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/misc.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/set_csr_data.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/set_csr_data_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemv_dpc.cpp
  cpp/oneapi/dal/detail/sparse_matrix_handle_impl.cpp
  cpp/oneapi/dal/detail/sparse_matrix_handle_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix include name in cpu.hpp
  cpp/oneapi/dal/detail/cpu.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

removing dependancy on LD_LIBRARY_PATH when tbb built is built from source
  makefile
Due: .ci/pipeline/ci.yml

fixed gpu support + added examples for new read function/edited bazel builds
  cpp/oneapi/dal/io/csv/backend/gpu/read_kernel_dpc.cpp
  cpp/oneapi/dal/io/csv/common.hpp
  cpp/oneapi/dal/io/csv/detail/read_ops_dpc.cpp
  examples/oneapi/cpp/BUILD
  examples/oneapi/cpp/source/misc/read_batch.cpp
  examples/oneapi/dpc/BUILD
  examples/oneapi/dpc/source/misc/read_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

move simd specifics to impl.i files
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Due: .ci/pipeline/ci.yml

clang-format and compilability
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Due: .ci/pipeline/ci.yml

forgotten comments
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
Due: .ci/pipeline/ci.yml

templating
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Due: .ci/pipeline/ci.yml

Revert "templating"
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Due: .ci/pipeline/ci.yml

remove initial duplication via templating sums
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Due: .ci/pipeline/ci.yml

will come back to this point later
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Due: .ci/pipeline/ci.yml

fix: Distributed Pca singular values computation fix (#2727)
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_cov_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix for makefile
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Due: .ci/pipeline/ci.yml

add new exports
  cpp/daal/include/algorithms/algorithm_types.h
  cpp/daal/include/algorithms/pca/pca_explained_variance_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/svd/svd_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-formatting and forgotten file
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_impl.i
Due: .ci/pipeline/ci.yml

add copyrights
  cpp/daal/src/data_management/finiteness_checker.h
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_impl.i
Due: .ci/pipeline/ci.yml

end space
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_impl.i
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
