Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

Updating ISA in install.md
  INSTALL.md
Due: .ci/pipeline/ci.yml

replace AVX with AVX2 for intersect
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

AVX/SSSE3/AVX512_MIC ISA cleanup (#2465)
  INSTALL.md
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
  cpp/daal/include/algorithms/algorithm_container_base_common.h
  cpp/daal/include/services/env_detect.h
  cpp/daal/include/services/internal/daal_kernel_defines.h
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/kernel.h
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/linear_model/linear_model_train_qr_update_impl.i
  cpp/daal/src/algorithms/naivebayes/naivebayes_predict_fast_impl.i
  cpp/daal/src/algorithms/naivebayes/naivebayes_train_impl.i
  cpp/daal/src/algorithms/qr/qr_dense_default_batch_impl.i
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/svd/svd_dense_default_batch_impl.i
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/backend/dispatcher.cpp
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/dispatcher_cpu.hpp
  cpp/oneapi/dal/backend/interop/common.hpp
  cpp/oneapi/dal/backend/micromkl/macro.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  cpp/oneapi/dal/detail/dispatcher.hpp
  cpp/oneapi/dal/detail/policy.hpp
  docs/source/daal/services/managing-computational-environment.rst
  java/com/intel/daal/services/CpuType.java
  makefile
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply suggestions from code review
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Move covariance::Hyperparameter class to covariance::internal namespace
  cpp/daal/include/algorithms/algorithm_base_mode.h
  cpp/daal/include/algorithms/algorithm_types.h
  cpp/daal/include/algorithms/covariance/covariance_batch.h
  cpp/daal/include/algorithms/covariance/covariance_types.h
  cpp/daal/src/algorithms/covariance/covariance_container.h
  cpp/daal/src/algorithms/covariance/covariance_hyperparameter.cpp
  cpp/daal/src/algorithms/covariance/covariance_hyperparameter_impl.h
  cpp/daal/src/algorithms/covariance/covariance_kernel.h
  cpp/oneapi/dal/algo/covariance/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/train_kernel_cov.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add task_arena parameter to DAAL thread-pinner
  cpp/daal/BUILD
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
Due: .ci/pipeline/ci.yml

Add create_task_arena method
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add TBB_PREVIEW_TASK_ARENA_CONSTRAINTS_EXTENSION define
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add returning value for thread_pinner.execute (WIP)
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Changing interfaces to keep backward compatibility (WIP)
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

policy(true, 1)
  cpp/oneapi/dal/backend/dispatcher.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add threading_policy to host_policy and cpu_context
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
  cpp/oneapi/dal/detail/policy.cpp
  cpp/oneapi/dal/detail/policy.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add thread_pinner and task_arena functionality to oneapi part
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

policy(false, 1)
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

WIP
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

policy(true, 0)
  cpp/oneapi/dal/backend/dispatcher.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Move create_task_arena to cpp, add namespaces, rewrite threading_policy constructor
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

policy(false, 0)
  cpp/oneapi/dal/backend/dispatcher.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove unnecessary print, move TBB-related define to the right place
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/oneapi/dal/backend/threading.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Rewrite dispatch_by_cpu method to send tasks into task_arena
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Codefactor fixes
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove redundant include
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

Change task variable name
  cpp/oneapi/dal/backend/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove AVX and SSSE3 from dispatch_by_cpu
  cpp/oneapi/dal/backend/dispatcher.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

AVX512_MIC cleanup
  cpp/daal/src/algorithms/kernel_inst_x86.h
Due: .ci/pipeline/ci.yml

Fixed CI pipeline
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Added more includes for ONEAPI
  makefile
Due: .ci/pipeline/ci.yml

minor fix
  cpp/oneapi/dal/algo/covariance/test/online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update .ci/pipeline/ci.yml
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

update function fix
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix windows build
  cpp/daal/src/algorithms/covariance/covariance_dense_default_online_fpt_cpu.cpp
Due: .ci/pipeline/ci.yml

Remove mention of compression in docs
  docs/source/daal/data-management/data-compression.rst
  docs/source/daal/data-management/data-management.rst
  docs/source/daal/data-management/data-serialization-and-deserialization.rst
Due: .ci/pipeline/docs.yml

minor upd
  cpp/daal/src/algorithms/covariance/covariance_dense_sum_online_fpt_cpu.cpp
Due: .ci/pipeline/ci.yml

fix copyrights
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops.hpp
  cpp/oneapi/dal/detail/partial_compute_ops.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update binary version
  makefile.ver
Due: .ci/pipeline/ci.yml

Switch to core count for blas build
  .ci/env/openblas.sh
Due: .ci/pipeline/ci.yml

Update .ci/env/openblas.sh
  .ci/env/openblas.sh
Due: .ci/pipeline/ci.yml

Adding _MKL suffix for job name
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Fixing daal4py job dependency
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Remove mention of compression in docs (#2467)
  docs/source/daal/data-management/data-compression.rst
  docs/source/daal/data-management/data-management.rst
  docs/source/daal/data-management/data-serialization-and-deserialization.rst
Due: .ci/pipeline/docs.yml
