Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

Update requirements.txt
  docs/requirements.txt
Due: .ci/pipeline/docs.yml

Update conf.py
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

Init commit for examples deprecation
  examples/daal/cpp/daal_lnx.lst
  examples/daal/cpp/daal_mac.lst
  examples/daal/cpp/daal_win.sln.tpl
  examples/daal/cpp/daal_win.vcxproj.filters.tpl
  examples/daal/cpp/daal_win.vcxproj.tpl
  examples/daal/cpp/daal_win.vcxproj.user.tpl
  examples/daal/cpp/makefile_lnx
  examples/daal/cpp/makefile_mac
  examples/daal/cpp/makefile_win
  examples/daal/cpp_sycl/daal_lnx.lst
  examples/daal/cpp_sycl/daal_win.sln.tpl
  examples/daal/cpp_sycl/daal_win.vcxproj.filters.tpl
  examples/daal/cpp_sycl/daal_win.vcxproj.tpl
  examples/daal/cpp_sycl/daal_win.vcxproj.user.tpl
  examples/daal/cpp_sycl/makefile_lnx
  examples/daal/cpp_sycl/makefile_win
  examples/oneapi/cpp/makefile_lnx
  examples/oneapi/cpp/makefile_mac
  examples/oneapi/cpp/makefile_win
  examples/oneapi/cpp/onedal_lnx.lst
  examples/oneapi/cpp/onedal_mac.lst
  examples/oneapi/cpp/onedal_win.sln.tpl
  examples/oneapi/cpp/onedal_win.vcxproj.filters.tpl
  examples/oneapi/cpp/onedal_win.vcxproj.tpl
  examples/oneapi/cpp/onedal_win.vcxproj.user.tpl
  examples/oneapi/dpc/makefile_lnx
  examples/oneapi/dpc/makefile_win
  examples/oneapi/dpc/onedal_lnx.lst
  examples/oneapi/dpc/onedal_win.sln.tpl
  examples/oneapi/dpc/onedal_win.vcxproj.filters.tpl
  examples/oneapi/dpc/onedal_win.vcxproj.tpl
  examples/oneapi/dpc/onedal_win.vcxproj.user.tpl
  makefile
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update EOLed links
  docs/source/get-started/build-and-run-examples.rst
  docs/source/get-started/prerequisites.rst
Due: .ci/pipeline/docs.yml

Remove sln build
  makefile
Due: .ci/pipeline/ci.yml

Remove generate_win_solution.py
  deploy/local/generate_win_solution.py
Due: .ci/pipeline/ci.yml

latest updates
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

isolate hasDifferentFeatureValues
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Fix a typo in basic-statistics doc SMPD -> SPMD
  docs/source/onedal/algorithms/statistics/basic-statistics.rst
Due: .ci/pipeline/docs.yml

correct issue with finding constFeature with memorySavingMode
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

switch signs
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

switch signs
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Add reference to basic-statistics examples
  docs/source/api/algorithms/statistics/basic-statistics.rst
  docs/source/onedal/algorithms/statistics/basic-statistics.rst
Due: .ci/pipeline/docs.yml

implement missing constFeature checks
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

clang-formatting
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Fix table in basic-statistics introduction
  docs/source/includes/statistics/basic-statistics-introduction.rst
Due: .ci/pipeline/docs.yml

rename yesIfMissing -> defaultLeft
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
  cpp/daal/src/algorithms/dtrees/dtrees_model.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_builder.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-formating
  cpp/daal/src/algorithms/dtrees/dtrees_model.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Remove generate_win_makefile.py
  deploy/local/generate_win_makefile.py
Due: .ci/pipeline/ci.yml

Revert "Intel_LLVM compiler macros (#2328)"
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/algorithms/service_sort.h
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/tsne/tsne_gradient_descent_fpt_cpu.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/data_conversion_cpu.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  docs/source/contribution/coding_guide.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Rename requirements-dev.txt in daal4py
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Add basic-statistics usage example
  docs/source/api/algorithms/statistics/basic-statistics.rst
  docs/source/includes/statistics/basic-statistics-usage-examples.rst
  docs/source/onedal/algorithms/statistics/basic-statistics.rst
Due: .ci/pipeline/docs.yml

Rename requirements-dev.txt in daal4py (#2360)
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Fix malformed table error in basic-statistics introduction
  docs/source/includes/statistics/basic-statistics-introduction.rst
Due: .ci/pipeline/docs.yml

Update df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

clang formatting
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Basic statistics doc update (#2361)
  docs/source/api/algorithms/statistics/basic-statistics.rst
  docs/source/includes/statistics/basic-statistics-introduction.rst
  docs/source/includes/statistics/basic-statistics-usage-examples.rst
  docs/source/onedal/algorithms/statistics/basic-statistics.rst
Due: .ci/pipeline/docs.yml

formatting fix and adhere to librarywide notation
  docs/source/includes/covariance/covariance-introduction.rst
  docs/source/onedal/algorithms/covariance/covariance.rst
Due: .ci/pipeline/docs.yml

Revert "Intel_LLVM compiler macros (#2328)" (#2359)
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/algorithms/service_sort.h
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/tsne/tsne_gradient_descent_fpt_cpu.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/data_conversion_cpu.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  docs/source/contribution/coding_guide.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Align conformance tests to updated verbose mode
  .ci/scripts/conformance-scripts/run_tests.py
Due: .ci/pipeline/ci.yml

Adding documentation
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Align conformance tests to updated sklearnex verbose mode (#2364)
  .ci/scripts/conformance-scripts/run_tests.py
Due: .ci/pipeline/ci.yml

formatting fix and notation update
  docs/source/onedal/algorithms/decomposition/pca.rst
Due: .ci/pipeline/docs.yml

Covariance doc update (#2322)
  docs/source/includes/covariance/covariance-introduction.rst
  docs/source/onedal/algorithms/covariance/covariance.rst
Due: .ci/pipeline/docs.yml

Fixing doc gen
  docs/source/daal-interfaces.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/lbfgs.rst
  docs/source/daal/data-management/generic-interfaces.rst
  docs/source/daal/data-management/numeric-tables/csr-numeric-table.rst
  docs/source/daal/data-management/numeric-tables/heterogen-numeric-tables.rst
  docs/source/daal/data-management/numeric-tables/merged-numeric-table.rst
  docs/source/daal/services/extracting-version-information.rst
  docs/source/daal/services/handling-errors.rst
  docs/source/daal/services/managing-computational-environment.rst
  docs/source/daal/usage/algorithms.rst
Due: .ci/pipeline/docs.yml

address review
  docs/source/onedal/algorithms/decomposition/pca.rst
Due: .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_plus_plus_dense_dpc.cpp
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  cpp/oneapi/dal/backend/primitives/placement/search_sorted.hpp
  cpp/oneapi/dal/backend/primitives/placement/search_sorted_dpc.cpp
  cpp/oneapi/dal/backend/primitives/placement/test/cumulative_sum_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

working
  cpp/oneapi/dal/backend/common.hpp
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  cpp/oneapi/dal/backend/primitives/placement/BUILD
  cpp/oneapi/dal/backend/primitives/placement/cumulative_sum.hpp
  cpp/oneapi/dal/backend/primitives/placement/cumulative_sum_dpc.cpp
  cpp/oneapi/dal/backend/primitives/placement/search_sorted.hpp
  cpp/oneapi/dal/backend/primitives/placement/search_sorted_dpc.cpp
  cpp/oneapi/dal/backend/primitives/placement/test/cumulative_sum_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/placement.hpp
  cpp/oneapi/dal/backend/primitives/placement/search_sorted.hpp
  cpp/oneapi/dal/backend/primitives/placement/search_sorted_dpc.cpp
  cpp/oneapi/dal/backend/primitives/placement/test/cumulative_sum_dpc.cpp
  cpp/oneapi/dal/backend/primitives/placement/test/search_sorted_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml
