Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: FormatterChecks
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        .ci/env/editorconfig-checker.sh
  
        '
      displayName: Install Dependencies
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Attempt to fix rule of 3 violations in Container classes
  cpp/daal/include/algorithms/algorithm_container_base.h
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

ci: add NO_DIST to sklearnex workload
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

add no-dist to run_examples
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Update .ci/pipeline/ci.yml
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Fix build error
  cpp/daal/include/algorithms/algorithm_container_base.h
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Delete copy assignment operators
  cpp/daal/include/algorithms/algorithm_container_base.h
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

initialize hpar field to null
  cpp/daal/include/algorithms/algorithm_container_base.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add default destructor
  cpp/oneapi/dal/detail/global_context.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

delete operators to avoid rule-of-three violation warning
  cpp/oneapi/dal/detail/profiler.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

delete operators to avoid rule-of-three violation warning
  cpp/oneapi/dal/detail/sparse_matrix_handle_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

delete operators to avoid rule-of-five violation warning
  cpp/oneapi/dal/detail/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

delete operators to avoid rule-of-three violation warning
  cpp/daal/include/algorithms/algorithm_quality_metric_set_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix rule of three violations in AlgorithmContainer classes (#2991)
  cpp/daal/include/algorithms/algorithm_container_base.h
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update nightly-build.yml (#2990)
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Fix coverity hist in GBT
  cpp/daal/include/algorithms/classifier/classifier_predict_types.h
  cpp/daal/include/algorithms/classifier/classifier_training_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_predict_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_predict_types.h
  cpp/daal/src/algorithms/classifier/classifier_predict.cpp
  cpp/daal/src/algorithms/classifier/classifier_train.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_types.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

initialize hpar field to null (#2994)
  cpp/daal/include/algorithms/algorithm_container_base.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

delete operators to avoid rule-of-three violation warning (#2996)
  cpp/oneapi/dal/detail/profiler.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

delete operators to avoid rule-of-five violation warning (#2998)
  cpp/oneapi/dal/detail/threading.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

delete operators to avoid rule-of-three violation warning (#2999)
  cpp/daal/include/algorithms/algorithm_quality_metric_set_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update doc links after uxl transfer
  README.md
Due: .ci/pipeline/ci.yml

update also non-docs github URLs
  INSTALL.md
  README.md
  docs/source/conf.py
  docs/source/daal-interfaces.rst
  docs/source/daal/algorithms/logistic_regression/logistic-regression.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

missing files
  .ci/pipeline/ci.yml
  .github/pull_request_template.md
Due: .ci/pipeline/ci.yml

clear warnings from doc CI job
  cpp/oneapi/dal/algo/jaccard/common.hpp
  cpp/oneapi/dal/algo/jaccard/vertex_similarity_types.hpp
  cpp/oneapi/dal/graph/service_functions.hpp
  cpp/oneapi/dal/spmd/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix coverity hits in classifier and Decision Forest
  cpp/daal/include/algorithms/classifier/binary_confusion_matrix_types.h
  cpp/daal/include/algorithms/classifier/classifier_model.h
  cpp/daal/include/algorithms/classifier/classifier_predict_types.h
  cpp/daal/include/algorithms/classifier/classifier_training_types.h
  cpp/daal/include/algorithms/classifier/multiclass_confusion_matrix_types.h
  cpp/daal/include/algorithms/decision_forest/decision_forest_classification_predict_types.h
  cpp/daal/include/algorithms/decision_forest/decision_forest_regression_predict_types.h
  cpp/daal/include/algorithms/decision_forest/decision_forest_regression_training_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_predict_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_predict_types.h
  cpp/daal/include/algorithms/multi_class_classifier/multi_class_classifier_model.h
  cpp/daal/src/algorithms/classifier/classifier_predict.cpp
  cpp/daal/src/algorithms/classifier/classifier_train.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model.cpp
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_types.cpp
  cpp/daal/src/algorithms/multiclassclassifier/multiclassclassifier_model.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

chore: replace `oneapi-src` with `uxlfoundation`
  .ci/env/tbb.bat
  .ci/env/tbb.sh
  .github/CODEOWNERS
  .github/workflows/docker-validation-nightly.yml
  .github/workflows/label-enforcement.yml
  .github/workflows/openssf-scorecard.yml
  CONTRIBUTING.md
  INSTALL.md
  MAINTAINERS.md
  README.md
  SECURITY.md
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/threading/threading.h
  deploy/nuget/inteldal.nuspec.tpl
  dev/download_tbb.sh
  docs/README.md
  docs/source/404.rst
  docs/source/conf.py
  docs/source/contribution/coding_guide.rst
  docs/source/contribution/cpu_features.rst
  docs/source/contribution/threading.rst
  docs/source/daal-interfaces.rst
  docs/source/installation.rst
  docs/source/substitutions_specific.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix coverity hits in boosting algorithms
  cpp/daal/include/algorithms/boosting/adaboost_predict_types.h
  cpp/daal/include/algorithms/boosting/brownboost_predict_types.h
  cpp/daal/include/algorithms/boosting/logitboost_predict_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add default destructor (#2995)
  cpp/oneapi/dal/detail/global_context.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update oneDAL links too
  CONTRIBUTING.md
  INSTALL.md
  README.md
  SECURITY.md
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  deploy/nuget/inteldal.nuspec.tpl
  docs/README.md
  docs/source/404.rst
  docs/source/conf.py
  docs/source/contribution/coding_guide.rst
  docs/source/contribution/cpu_features.rst
  docs/source/contribution/threading.rst
  docs/source/daal-interfaces.rst
  docs/source/installation.rst
  docs/source/substitutions_specific.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update TBB links too
  .ci/env/tbb.bat
  .ci/env/tbb.sh
  dev/download_tbb.sh
Due: .ci/pipeline/ci.yml

update also alternative URL
  CONTRIBUTING.md
  README.md
  docs/source/contribution/cpu_features.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

same for TBB
  cpp/daal/src/threading/threading.h
  docs/source/contribution/threading.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remaining replacements
  .github/CODEOWNERS
  .github/workflows/docker-validation-nightly.yml
  .github/workflows/label-enforcement.yml
  .github/workflows/openssf-scorecard.yml
  MAINTAINERS.md
  README.md
  docs/source/examples.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update README.md
  README.md
Due: .ci/pipeline/ci.yml

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: .ci/pipeline/ci.yml

another attempt
  cpp/oneapi/dal/algo/jaccard/vertex_similarity_types.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

attempt at clearing obsolence warning
  docs/doxygen/oneapi/Doxyfile
Due: .ci/pipeline/docs.yml

clang-format; fix build error
  cpp/daal/include/algorithms/classifier/binary_confusion_matrix_types.h
  cpp/daal/include/algorithms/classifier/classifier_model.h
  cpp/daal/include/algorithms/classifier/multiclass_confusion_matrix_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_predict_types.h
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model_impl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add tag for mathjax
  cpp/oneapi/dal/test/engine/linalg/random.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
