Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Update ci.yml
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

HTML rendering fixes
  docs/source/contribution/cpu_features.rst
Due: .ci/pipeline/docs.yml

Replace oneDAL with |short_name| to align with other .rst files
  docs/source/contribution/cpu_features.rst
  docs/source/contribution/threading.rst
Due: .ci/pipeline/docs.yml

fix clang format
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Create finiteness_checker.hpp
  cpp/oneapi/dal/algo/finiteness_checker.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update dal.hpp
  cpp/oneapi/dal.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

init profiler
  cpp/oneapi/dal/algo/covariance/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/backend/communicator.cpp
  cpp/oneapi/dal/backend/primitives/utils.hpp
  cpp/oneapi/dal/detail/profiler.cpp
  cpp/oneapi/dal/detail/profiler.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes for comment
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

update version to 2025.0.1
  dev/bazel/config/config.bzl
  makefile.ver
Due: .ci/pipeline/ci.yml

update version to 2025.0.1 (#2955)
  dev/bazel/config/config.bzl
  makefile.ver
Due: .ci/pipeline/ci.yml

fix: workaround for Knn KD tree (#2951)
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

fixes for comm
  cpp/oneapi/dal/algo/covariance/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/backend/communicator.cpp
  cpp/oneapi/dal/backend/communicator.hpp
  cpp/oneapi/dal/detail/ccl/communicator.hpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
  cpp/oneapi/dal/spmd/communicator.hpp
  cpp/oneapi/dal/table/backend/homogen_kernels.cpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.hpp
  cpp/oneapi/dal/table/row_accessor.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

[fix] add missing headers for finiteness_checker algorithm (#2952)
  cpp/oneapi/dal.hpp
  cpp/oneapi/dal/algo/finiteness_checker.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Provide additional explanation for checkboxes in PR template
  .github/pull_request_template.md
Due: .ci/pipeline/ci.yml

Provide additional explanation for checkboxes in PR template (#2956)
  .github/pull_request_template.md
Due: .ci/pipeline/ci.yml

upd copy func
  cpp/oneapi/dal/algo/covariance/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/backend/communicator.cpp
  cpp/oneapi/dal/backend/communicator.hpp
  cpp/oneapi/dal/backend/transfer_dpc.cpp
  cpp/oneapi/dal/detail/ccl/communicator.hpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
  cpp/oneapi/dal/spmd/communicator.hpp
  cpp/oneapi/dal/table/backend/convert.cpp
  examples/oneapi/dpc/source/covariance/cor_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

1. Add the distinction between ISA and architecture extension; 2. Add chapter about build systems.
  CONTRIBUTING.md
  docs/source/contribution/cpu_features.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply comments from review
  CONTRIBUTING.md
  docs/source/contribution/cpu_features.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply comments from review
  docs/source/contribution/cpu_features.rst
  docs/source/contribution/threading.rst
Due: .ci/pipeline/docs.yml

Update oneAPI components versions in CI
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

chore(github): pin some dependencies by hash
  .github/workflows/docker-validation-ci.yml
  .github/workflows/docker-validation-nightly.yml
  .github/workflows/nightly-build.yml
  .github/workflows/pr-checklist.yml
  .github/workflows/renovate-validation.yml
Due: .ci/pipeline/ci.yml

Update oneTBB to 2022.0.0-rc1
  .ci/env/tbb.sh
Due: .ci/pipeline/ci.yml

Enable tbb 2022 from intel debian channel
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
Due: .ci/pipeline/ci.yml

Apply tbb installation to correct configs
  .ci/env/apt.sh
  .ci/env/tbb.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
Due: .ci/pipeline/ci.yml

Fix bash syntax error
  .ci/scripts/build.sh
Due: .ci/pipeline/ci.yml

Update nightly-build.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Add a note about the files related to DAAL interface
  docs/source/contribution/cpu_features.rst
Due: .ci/pipeline/docs.yml

fixes for debug
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icc.mkl.32e.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Due: .ci/pipeline/ci.yml

Update oneAPI components versions in CI (#2958)
  .ci/env/apt.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
