Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Experiment
  dev/make/cmplr.clang.mk
  dev/make/cmplr.icc.mk
Due: .ci/pipeline/ci.yml

Hopefuly fix
  dev/make/cmplr.clang.mk
  dev/make/cmplr.icc.mk
Due: .ci/pipeline/ci.yml

Further deletion
  cpp/oneapi/dal/table/backend/empty_table_impl.hpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Clang-format applied
  cpp/oneapi/dal/table/backend/csr_table_impl.hpp
  cpp/oneapi/dal/table/common.cpp
  cpp/oneapi/dal/table/common.hpp
  cpp/oneapi/dal/table/detail/access_iface_compat.hpp
  cpp/oneapi/dal/table/detail/table_iface.hpp
  cpp/oneapi/dal/table/homogen.cpp
  cpp/oneapi/dal/table/homogen.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Another deletion
  cpp/oneapi/dal/detail/array_compat.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Makefile restored
  dev/make/cmplr.clang.mk
  dev/make/cmplr.icc.mk
Due: .ci/pipeline/ci.yml

Another deletions
  cpp/oneapi/dal/algo/svm/infer_types.cpp
  cpp/oneapi/dal/algo/svm/infer_types.hpp
  cpp/oneapi/dal/test/engine/mocks.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Updating documentation to reflect cmake examples
  docs/source/get-started/build-and-run-examples.rst
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

Cleaning remains of seq library
  cpp/daal/include/daal_win.h
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  examples/daal/cpp/source/utils/service.h
  examples/daal/cpp_sycl/source/utils/service.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing coma in enum
  cpp/daal/include/services/env_detect.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

renaming variables in cmake so there would be no conflict
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix examples search
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

removing deprecated zlib include
  cpp/daal/include/daal.h
  cpp/daal/include/daal_win.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing clang-format
  cpp/daal/include/services/env_detect.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

dropping zlib from java
  java/com/intel/daal/data_management/compression/CompressionMethod.java
  java/com/intel/daal/data_management/compression/Compressor.java
  java/com/intel/daal/data_management/compression/Decompressor.java
  java/com/intel/daal/data_management/compression/compression_types.i
  java/com/intel/daal/data_management/compression/compressor.cpp
  java/com/intel/daal/data_management/compression/decompressor.cpp
Due: .ci/pipeline/ci.yml

Updating exclude paths definition in cmake
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

removing zlib from java
  java/com/intel/daal/data_management/compression/zlib/ZlibCompressionParameter.java
  java/com/intel/daal/data_management/compression/zlib/ZlibCompressor.java
  java/com/intel/daal/data_management/compression/zlib/ZlibDecompressor.java
  java/com/intel/daal/data_management/compression/zlib_parameter.cpp
Due: .ci/pipeline/ci.yml

switching public ci to cmake
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

fixing ci call to cmake
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

Revert "removing zlib from java"
  java/com/intel/daal/data_management/compression/zlib/ZlibCompressionParameter.java
  java/com/intel/daal/data_management/compression/zlib/ZlibCompressor.java
  java/com/intel/daal/data_management/compression/zlib/ZlibDecompressor.java
  java/com/intel/daal/data_management/compression/zlib_parameter.cpp
Due: .ci/pipeline/ci.yml

Revert "dropping zlib from java"
  java/com/intel/daal/data_management/compression/CompressionMethod.java
  java/com/intel/daal/data_management/compression/Compressor.java
  java/com/intel/daal/data_management/compression/Decompressor.java
  java/com/intel/daal/data_management/compression/compression_types.i
  java/com/intel/daal/data_management/compression/compressor.cpp
  java/com/intel/daal/data_management/compression/decompressor.cpp
Due: .ci/pipeline/ci.yml

Update daal example to use lzo instead of zlib
  examples/daal/cpp/source/compression/compression_batch.cpp
  examples/daal/cpp/source/compression/compression_online.cpp
  examples/daal/cpp/source/compression/compressor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Directly including zlib for java layer for now
  java/com/intel/daal/data_management/compression/compression.cpp
  java/com/intel/daal/data_management/compression/compression_parameter.cpp
  java/com/intel/daal/data_management/compression/compression_stream.cpp
  java/com/intel/daal/data_management/compression/compression_types.i
  java/com/intel/daal/data_management/compression/compressor.cpp
  java/com/intel/daal/data_management/compression/decompression_stream.cpp
  java/com/intel/daal/data_management/compression/decompressor.cpp
  java/com/intel/daal/data_management/compression/zlib_parameter.cpp
Due: .ci/pipeline/ci.yml

Adding cmake examples execution after build
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

Revert "Directly including zlib for java layer for now"
  java/com/intel/daal/data_management/compression/compression.cpp
  java/com/intel/daal/data_management/compression/compression_parameter.cpp
  java/com/intel/daal/data_management/compression/compression_stream.cpp
  java/com/intel/daal/data_management/compression/compression_types.i
  java/com/intel/daal/data_management/compression/compressor.cpp
  java/com/intel/daal/data_management/compression/decompression_stream.cpp
  java/com/intel/daal/data_management/compression/decompressor.cpp
  java/com/intel/daal/data_management/compression/zlib_parameter.cpp
Due: .ci/pipeline/ci.yml

Revert "removing deprecated zlib include"
  cpp/daal/include/daal.h
  cpp/daal/include/daal_win.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing bug with OFF param passing
  examples/oneapi/cpp/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Reducing size of df daal datasets
  examples/daal/data/batch/decision_tree_prune.csv
  examples/daal/data/batch/decision_tree_test.csv
  examples/daal/data/batch/decision_tree_train.csv
  examples/daal/data/batch/df_classification_test.csv
  examples/daal/data/batch/df_classification_train.csv
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

reducing qr and svd datasets in daal
  examples/daal/data/batch/qr.csv
  examples/daal/data/batch/svd.csv
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

reducing logitboost and kmeans datasets in daal
  examples/daal/data/batch/kmeans_dense.csv
  examples/daal/data/batch/kmeans_init_dense.csv
  examples/daal/data/batch/logitboost_test.csv
  examples/daal/data/batch/logitboost_test_labels.csv
  examples/daal/data/batch/logitboost_train.csv
  examples/daal/data/batch/logitboost_train_labels.csv
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Updating public CI to specify source/build dir for cmake
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

Update build script to generate cmake config
  .ci/scripts/build.sh
Due: .ci/pipeline/ci.yml

fixing typo in command call
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

Setting TBB manually
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

Removing freeBSD makefiles for examples
  examples/daal/cpp/daal_fbsd.lst
  examples/daal/cpp/makefile_fbsd
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Removing freeBSD launcher for examples
  examples/daal/java/daal_fbsd.lst
  examples/daal/java/launcher_fbsd.sh
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Updating case for manual tbb set
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
