Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Fix underlines
  docs/source/onedal/algorithms/clustering/kmeans-init.rst
Due: .ci/pipeline/docs.yml

Remove icc run on macos
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Remove USECPUS.out.defs mod
  makefile
Due: .ci/pipeline/ci.yml

Fix for instruction sets on macOS (#2323)
  .ci/scripts/describe_system.sh
  dev/make/cmplr.icc.mk
Due: .ci/pipeline/ci.yml

Add blank line at the end of the file
  examples/oneapi/cpp/source/objective_function/logloss_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Re-generate datasets and update model parameter for better prediction accuracy
  examples/oneapi/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/oneapi/data/svm_cls_synthetic_3k_test_sparse_data.csv
  examples/oneapi/data/svm_cls_synthetic_3k_test_sparse_labels.csv
  examples/oneapi/data/svm_cls_synthetic_3k_train_sparse_data.csv
  examples/oneapi/data/svm_cls_synthetic_3k_train_sparse_labels.csv
  examples/oneapi/data/svm_multi_cls_synthetic_3k_test_sparse_data.csv
  examples/oneapi/data/svm_multi_cls_synthetic_3k_test_sparse_labels.csv
  examples/oneapi/data/svm_multi_cls_synthetic_3k_train_sparse_data.csv
  examples/oneapi/data/svm_multi_cls_synthetic_3k_train_sparse_labels.csv
  examples/oneapi/data/svm_reg_synthetic_1k_test_sparse_data.csv
  examples/oneapi/data/svm_reg_synthetic_1k_test_sparse_labels.csv
  examples/oneapi/data/svm_reg_synthetic_1k_train_sparse_data.csv
  examples/oneapi/data/svm_reg_synthetic_1k_train_sparse_labels.csv
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix english and stylistic errors in math description
  docs/source/onedal/algorithms/clustering/kmeans-init.rst
Due: .ci/pipeline/docs.yml

Add missed comma
  docs/source/onedal/algorithms/clustering/kmeans-init.rst
Due: .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/logloss_objective/common.cpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Change layouts support approach for Linux
  deploy/local/vars_lnx.sh
Due: .ci/pipeline/ci.yml

distributed kNN multiple inference blocks bug resolution (#2330)
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
  cpp/oneapi/dal/algo/knn/test/spmd.cpp
  cpp/oneapi/dal/backend/primitives/selection/select_indexed_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Common Intel_LLVM compiler macros (#2258)
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/algorithms/service_sort.h
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/tsne/tsne_gradient_descent_fpt_cpu.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/data_conversion_cpu.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  docs/source/contribution/coding_guide.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fixes
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_finalize_fpt_cpu.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_merge_fpt_cpu.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_update_fpt_cpu.cpp
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/externals/service_blas.h
Due: .ci/pipeline/ci.yml

Minor
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_finalize_fpt_cpu.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_merge_fpt_cpu.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_update_fpt_cpu.cpp
Due: .ci/pipeline/ci.yml

update expression
  cpp/daal/include/services/daal_defines.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add the testcase that checks that csr_table can work with the data allocated on GPU
  cpp/oneapi/dal/table/test/csr.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Intel_LLVM compiler macros (#2328)
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_helper.h
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/algorithms/service_sort.h
  cpp/daal/src/algorithms/svm/svm_train_common_impl.i
  cpp/daal/src/algorithms/tsne/tsne_gradient_descent_fpt_cpu.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/data_conversion_cpu.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/externals/service_blas.h
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/jaccard/backend/cpu/vertex_similarity_default_kernel_avx512.hpp
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  docs/source/contribution/coding_guide.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

services: one more handler for dll check added (#2306)
  cpp/daal/src/services/service_daal_load_win_dynamic_lib.cpp
Due: .ci/pipeline/ci.yml

Change layouts support approach for Winndows
  deploy/local/vars_win.bat
Due: .ci/pipeline/ci.yml

group doc packages
  .github/renovate.json
Due: .ci/pipeline/ci.yml

removed workaround for cmp issue with direct copy from host to device
  cpp/oneapi/dal/backend/memory.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

group doc packages (#2333)
  .github/renovate.json
Due: .ci/pipeline/ci.yml

refactoring
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Compression deprecation
  cpp/daal/include/data_management/compression/bzip2compression.h
  cpp/daal/include/data_management/compression/compression.h
  cpp/daal/include/data_management/compression/compression_stream.h
  cpp/daal/include/data_management/compression/lzocompression.h
  cpp/daal/include/data_management/compression/rlecompression.h
  cpp/daal/include/data_management/compression/zlibcompression.h
  cpp/daal/src/services/compression/compression_stream.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply clang-format
  cpp/daal/include/data_management/compression/compression_stream.h
  cpp/daal/include/data_management/compression/rlecompression.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add test that checks that one can work with csr_table created from the arrays allocated on GPU
  cpp/oneapi/dal/table/test/csr.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Apply suggestions to SVM sparse examples.
  examples/oneapi/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_cls_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_smo_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_thunder_csr_batch.cpp
  examples/oneapi/data/svm_cls_synthetic_3k_sparse_labels.csv
  examples/oneapi/data/svm_cls_synthetic_3k_test_sparse_data.csv
  examples/oneapi/data/svm_cls_synthetic_3k_train_sparse_data.csv
  examples/oneapi/data/svm_multi_class_test_sparse_data.csv
  examples/oneapi/data/svm_multi_class_test_sparse_labels.csv
  examples/oneapi/data/svm_multi_class_train_sparse_data.csv
  examples/oneapi/data/svm_multi_class_train_sparse_labels.csv
  examples/oneapi/data/svm_multi_cls_synthetic_3k_test_sparse_data.csv
  examples/oneapi/data/svm_multi_cls_synthetic_3k_train_sparse_data.csv
  examples/oneapi/data/svm_reg_synthetic_1k_test_sparse_data.csv
  examples/oneapi/data/svm_reg_synthetic_1k_test_sparse_labels.csv
  examples/oneapi/data/svm_reg_synthetic_1k_train_sparse_data.csv
  examples/oneapi/data/svm_reg_synthetic_1k_train_sparse_labels.csv
  examples/oneapi/data/svm_reg_test_sparse_data.csv
  examples/oneapi/data/svm_reg_test_sparse_labels.csv
  examples/oneapi/data/svm_reg_train_sparse_data.csv
  examples/oneapi/data/svm_reg_train_sparse_labels.csv
  examples/oneapi/data/svm_two_class_test_sparse_data.csv
  examples/oneapi/data/svm_two_class_test_sparse_labels.csv
  examples/oneapi/data/svm_two_class_train_sparse_data.csv
  examples/oneapi/data/svm_two_class_train_sparse_labels.csv
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update clang-format.
  examples/oneapi/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_cls_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_smo_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_thunder_csr_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

SVM sparse table examples (#2318)
  examples/oneapi/cpp/source/example_util/csr_helpers.hpp
  examples/oneapi/cpp/source/example_util/utils.hpp
  examples/oneapi/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_cls_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_nu_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_reg_thunder_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_smo_csr_batch.cpp
  examples/oneapi/cpp/source/svm/svm_two_class_thunder_csr_batch.cpp
  examples/oneapi/data/svm_multi_class_test_sparse_data.csv
  examples/oneapi/data/svm_multi_class_test_sparse_labels.csv
  examples/oneapi/data/svm_multi_class_train_sparse_data.csv
  examples/oneapi/data/svm_multi_class_train_sparse_labels.csv
  examples/oneapi/data/svm_reg_test_sparse_data.csv
  examples/oneapi/data/svm_reg_test_sparse_labels.csv
  examples/oneapi/data/svm_reg_train_sparse_data.csv
  examples/oneapi/data/svm_reg_train_sparse_labels.csv
  examples/oneapi/data/svm_two_class_test_sparse_data.csv
  examples/oneapi/data/svm_two_class_test_sparse_labels.csv
  examples/oneapi/data/svm_two_class_train_sparse_data.csv
  examples/oneapi/data/svm_two_class_train_sparse_labels.csv
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update according to PR's suggestions.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor optimizations
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Change CMakeFile for example to correct compiler flags
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fixing performance for epsilon dataset
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Avoid usage of DAAL_UINT64 in examples for cxx standards compatibility reason
  examples/daal/cpp/source/decision_forest/df_cls_default_dense_batch.cpp
  examples/daal/cpp/source/decision_forest/df_cls_hist_dense_batch.cpp
  examples/daal/cpp/source/logistic_regression/log_reg_dense_batch.cpp
  examples/daal/cpp/source/optimization_solvers/custom_obj_func.h
  examples/daal/cpp_sycl/source/decision_forest/df_cls_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Deprecation in docs
  cpp/daal/include/data_management/compression/compression.h
  cpp/daal/include/data_management/compression/compression_stream.h
  cpp/daal/include/data_management/compression/lzocompression.h
  cpp/daal/include/data_management/compression/rlecompression.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Delete docs for compression
  cpp/daal/include/data_management/compression/bzip2compression.h
  cpp/daal/include/data_management/compression/compression.h
  cpp/daal/include/data_management/compression/compression_stream.h
  cpp/daal/include/data_management/compression/lzocompression.h
  cpp/daal/include/data_management/compression/rlecompression.h
  cpp/daal/include/data_management/compression/zlibcompression.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert "Delete docs for compression"
  cpp/daal/include/data_management/compression/bzip2compression.h
  cpp/daal/include/data_management/compression/compression.h
  cpp/daal/include/data_management/compression/compression_stream.h
  cpp/daal/include/data_management/compression/lzocompression.h
  cpp/daal/include/data_management/compression/rlecompression.h
  cpp/daal/include/data_management/compression/zlibcompression.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove deprecation attribute from enums
  cpp/daal/include/data_management/compression/compression.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
