Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

remove debugging
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

cache additional buffer
  cpp/oneapi/dal/detail/communicator.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix syevd deps
  cpp/daal/BUILD
  cpp/daal/src/externals/service_lapack_mkl.h
  cpp/daal/src/externals/service_lapack_ref.h
  cpp/oneapi/dal/algo/pca/backend/gpu/misc.hpp
  cpp/oneapi/dal/backend/micromkl/macro.hpp
  cpp/oneapi/dal/backend/micromkl/micromkl.cpp
  cpp/oneapi/dal/backend/micromkl/micromkl.hpp
  cpp/oneapi/dal/backend/primitives/lapack/eigen.cpp
  cpp/oneapi/dal/backend/primitives/lapack/eigen.hpp
  cpp/oneapi/dal/backend/primitives/lapack/syevd.hpp
  cpp/oneapi/dal/backend/primitives/lapack/syevd_dpc.cpp
  cpp/oneapi/dal/backend/primitives/lapack/test/eigen.cpp
  dev/make/deps.mkl.mk
  makefile
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Adjust modulefile (#2768)
  deploy/local/dal
Due: .ci/pipeline/ci.yml

fixes for syevd and undef references
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_impl_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_cov_impl_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_precomputed_impl_dpc.cpp
  cpp/oneapi/dal/backend/micromkl/BUILD
  cpp/oneapi/dal/backend/micromkl/macro.hpp
  cpp/oneapi/dal/backend/micromkl/micromkl.cpp
  cpp/oneapi/dal/backend/micromkl/micromkl.hpp
  cpp/oneapi/dal/backend/primitives/lapack.hpp
  cpp/oneapi/dal/backend/primitives/lapack/BUILD
  cpp/oneapi/dal/backend/primitives/lapack/eigen.cpp
  cpp/oneapi/dal/backend/primitives/lapack/eigen.hpp
  cpp/oneapi/dal/backend/primitives/lapack/eigen_cpu.cpp
  makefile
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix parameters library build in makefile
  makefile
Due: .ci/pipeline/ci.yml

adding syevd
  cpp/daal/include/services/internal/sycl/math/mkl_blas.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/externals/service_lapack_declar_ref.h
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_csr_impl_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_helpers.hpp
  cpp/oneapi/dal/algo/pca/backend/gpu/misc.hpp
  cpp/oneapi/dal/backend/primitives/lapack/test/eigen.cpp
  cpp/oneapi/dal/backend/primitives/sort/sort_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Bugfix in daal::data_management::features::internal::getIndexNumType<unsigned long> function
  cpp/daal/include/data_management/features/internal/helpers.h
  examples/daal/cpp/target_excludes.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

modified tests to support ridge regression in both batch and online modes
  cpp/oneapi/dal/algo/linear_regression/test/batch.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/linear_regression/test/online.cpp
  cpp/oneapi/dal/algo/linear_regression/test/spmd.cpp
  cpp/oneapi/dal/algo/linear_regression/test/train_parameters.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/daal/src/externals/service_service_mkl.h
Due: .ci/pipeline/ci.yml

minor fix
  deploy/local/vars_lnx.sh
  deploy/local/vars_win.bat
Due: .ci/pipeline/ci.yml

refactored code per suggestions and adjusted tests to reduce floating point inaccuracies
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/common.cpp
  cpp/oneapi/dal/algo/linear_regression/common.hpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

generalized adding ridge penalty for both batch and online modes
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/finalize_train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix coverity 'invalid iterator' failure (#2766) (#2767)
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

slack notification when PR is labelled RFC
  .github/workflows/slack-pr.yaml
Due: .ci/pipeline/ci.yml

attempt at fixing bazel test issues (#2769)
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

chore(workflows): add slack notification for RFCs
  .github/workflows/slack-pr-notification.yml
Due: .ci/pipeline/ci.yml

fixed alpha float type for gpus not supporting fp64
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/linear_regression/test/online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

adjusted alpha floating type from double to supported float for gpus not supporting fp64
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

inital commit
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

follow on updates
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

improvements
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

formatting
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove variable
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update copyrights
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

init prints
  cpp/oneapi/dal/algo/covariance/backend/gpu/compute_kernel_dense_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

new prints
  cpp/oneapi/dal/algo/covariance/backend/gpu/misc.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix usage of sequential execution branches
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_merge_impl.i
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

clang-format-14 specific formatting fix
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

minro fix
  cpp/daal/include/services/env_detect.h
  cpp/oneapi/dal/algo/covariance/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/misc.hpp
  cpp/oneapi/dal/array.hpp
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  cpp/oneapi/dal/detail/array_impl.hpp
  cpp/oneapi/dal/detail/memory_impl_dpc.hpp
  examples/oneapi/dpc/source/covariance/cov_dense_biased_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

docs: update `README.md` with UXL identity
  README.md
Due: .ci/pipeline/ci.yml

Update data-analytics-pipeline.rst
  docs/source/data-analytics-pipeline.rst
Due: .ci/pipeline/docs.yml

Completely remove unnecessary TBB layer flag
  cpp/daal/BUILD
  makefile
Due: .ci/pipeline/ci.yml

more prints
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_feature_type_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

switched linreg batch cpu switch to use daal batch instead of online mode, minor optimizations and code refactoring
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/finalize_train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/linear_regression/common.hpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

docs: update `README.md` with UXL identity (#2784)
  README.md
Due: .ci/pipeline/ci.yml

slack notification when PR is labelled RFC (#2778)
  .github/workflows/slack-pr-notification.yml
Due: .ci/pipeline/ci.yml

Add system related parameters to performance related algorithms' parameters (#2724)
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/algo/covariance/BUILD
  cpp/oneapi/dal/algo/covariance/compute_types.hpp
  cpp/oneapi/dal/algo/covariance/test/compute_parameters.cpp
  cpp/oneapi/dal/algo/decision_forest/BUILD
  cpp/oneapi/dal/algo/decision_forest/infer_types.hpp
  cpp/oneapi/dal/algo/linear_regression/BUILD
  cpp/oneapi/dal/algo/linear_regression/train_types.hpp
  cpp/oneapi/dal/detail/cpu.cpp
  cpp/oneapi/dal/detail/cpu.hpp
  cpp/oneapi/dal/detail/cpu_info.cpp
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
  cpp/oneapi/dal/detail/parameters/BUILD
  cpp/oneapi/dal/detail/parameters/system_parameters.cpp
  cpp/oneapi/dal/detail/parameters/system_parameters.hpp
  cpp/oneapi/dal/detail/parameters/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/parameters/system_parameters_impl.hpp
  makefile
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
