Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

fixing path to TBB
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

fixing path
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

Adding PASSED/FAILED output
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

Changing configuration
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

Adding more debug for test script
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

addine new line
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

fixing project names to match directory naming
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

redirecting output of examples and msbuild to log files
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

checking msbuild log for errors and warnings
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

dropping remains of FreeBSD support from makefile
  .gitattributes
  dev/make/cmplr.clang.mk
  dev/make/cmplr.icx.mk
  dev/make/common.mk
  dev/make/deps.mk
  makefile
Due: .ci/pipeline/ci.yml

Align Build and source paths for cmake
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

fixing paths for cmake
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

aligning behaviour for linux/win
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

Fixing cmake build/validation
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

added random number engine to findBestSplitCategoricalFeature
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

bazel: change default compiler icc -> icx
  dev/bazel/flags.bzl
  dev/bazel/toolchains/cc_toolchain_lnx.bzl
  dev/bazel/toolchains/common.bzl
Due: .ci/pipeline/ci.yml

bazel: change default compiler icc -> icx:upd
  dev/bazel/flags.bzl
Due: .ci/pipeline/ci.yml

Introduce first set of changes for multiple cmake invocations
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Adding d libs handling for debug version
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Renaming CMAKE variables to reduce conflicts
  cmake/templates/oneDALConfig.cmake.in
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Cleaning naming of params
  cmake/templates/oneDALConfig.cmake.in
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fixing tests and adding backward compat
  .ci/scripts/test.bat
  .ci/scripts/test.sh
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Updating docs
  docs/source/get-started/build-and-run-examples.rst
Due: .ci/pipeline/docs.yml

fixing typos
  examples/cmake/setup_examples.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing deprecation section
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Switchign to simpe message for deprecated functionality
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Fixing order to catch bakward compat code
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

extratrees conversion for findBestSplitCategoricalFeature
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Cmake improvements (#2230)
  .ci/scripts/test.bat
  .ci/scripts/test.sh
  cmake/templates/oneDALConfig.cmake.in
  docs/source/get-started/build-and-run-examples.rst
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Dev/1d reduction (#2221)
  cpp/oneapi/dal/backend/primitives/reduction/reduction_1d.hpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/infer_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/test/batch.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/linear_regression/test/spmd_backend_template.hpp
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  cpp/oneapi/dal/detail/debug.hpp
  cpp/oneapi/dal/table/backend/homogen_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Initial API cjanges for Linear Regression
  cpp/oneapi/dal/algo/linear_regression/common.cpp
  cpp/oneapi/dal/algo/linear_regression/common.hpp
  cpp/oneapi/dal/algo/linear_regression/train_types.cpp
  cpp/oneapi/dal/algo/linear_regression/train_types.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Model is changed. Interoperability saved but performance and usability were improved
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/model_impl.hpp
  cpp/oneapi/dal/algo/linear_regression/common.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/backend/serialization.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Reseting false changes
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/detail/array_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/linear_regression/train_types.cpp
  cpp/oneapi/dal/algo/linear_regression/train_types.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/linear_regression/backend/model_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

No changes in homohen_kernels
  cpp/oneapi/dal/table/backend/homogen_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Improved
  cpp/oneapi/dal/algo/linear_regression/common.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
