Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

Streamlining readme
  README.md
Due: .ci/pipeline/ci.yml

doc: Update requirements.txt and conf.py (#2355)
  docs/requirements.txt
  docs/source/conf.py
Due: .ci/pipeline/docs.yml

Increase major version of sycl library
  makefile
Due: .ci/pipeline/ci.yml

examples(fix): disable deprecation warning for icc
  examples/cmake/setup_examples.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert java launcher scripts exclusion
  makefile
Due: .ci/pipeline/ci.yml

minor updates
  docs/source/onedal/algorithms/covariance/covariance.rst
  docs/source/onedal/algorithms/decomposition/pca.rst
Due: .ci/pipeline/docs.yml

kmeans (feature): split select function by blocks in external loop (#2353)
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor upd
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add prints
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update build-and-run-examples.rst
  docs/source/get-started/build-and-run-examples.rst
Due: .ci/pipeline/docs.yml

Update prerequisites.rst
  docs/source/get-started/prerequisites.rst
Due: .ci/pipeline/docs.yml

minor fixes
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add offset
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update copyright year
  docs/source/includes/covariance/covariance-introduction.rst
  docs/source/includes/decomposition/pca-examples.rst
  docs/source/includes/decomposition/pca-introduction.rst
  docs/source/includes/decomposition/pca-usage-examples.rst
  docs/source/onedal/algorithms/decomposition/index.rst
  docs/source/onedal/algorithms/decomposition/pca.rst
Due: .ci/pipeline/docs.yml

Update PCA Docs (#2320)
  docs/source/includes/covariance/covariance-introduction.rst
  docs/source/onedal/algorithms/covariance/covariance.rst
  docs/source/onedal/algorithms/decomposition/pca.rst
Due: .ci/pipeline/docs.yml

fix event
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix clang
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Deprecate make/nmake/sln C++/SYCL examples (#2356)
  deploy/local/generate_win_makefile.py
  deploy/local/generate_win_solution.py
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/daal_lnx.lst
  examples/daal/cpp/daal_mac.lst
  examples/daal/cpp/daal_win.sln.tpl
  examples/daal/cpp/daal_win.vcxproj.filters.tpl
  examples/daal/cpp/daal_win.vcxproj.tpl
  examples/daal/cpp/daal_win.vcxproj.user.tpl
  examples/daal/cpp/makefile_lnx
  examples/daal/cpp/makefile_mac
  examples/daal/cpp/makefile_win
  examples/daal/cpp_sycl/daal_lnx.lst
  examples/daal/cpp_sycl/daal_win.sln.tpl
  examples/daal/cpp_sycl/daal_win.vcxproj.filters.tpl
  examples/daal/cpp_sycl/daal_win.vcxproj.tpl
  examples/daal/cpp_sycl/daal_win.vcxproj.user.tpl
  examples/daal/cpp_sycl/makefile_lnx
  examples/daal/cpp_sycl/makefile_win
  examples/oneapi/cpp/makefile_lnx
  examples/oneapi/cpp/makefile_mac
  examples/oneapi/cpp/makefile_win
  examples/oneapi/cpp/onedal_lnx.lst
  examples/oneapi/cpp/onedal_mac.lst
  examples/oneapi/cpp/onedal_win.sln.tpl
  examples/oneapi/cpp/onedal_win.vcxproj.filters.tpl
  examples/oneapi/cpp/onedal_win.vcxproj.tpl
  examples/oneapi/cpp/onedal_win.vcxproj.user.tpl
  examples/oneapi/dpc/makefile_lnx
  examples/oneapi/dpc/makefile_win
  examples/oneapi/dpc/onedal_lnx.lst
  examples/oneapi/dpc/onedal_win.sln.tpl
  examples/oneapi/dpc/onedal_win.vcxproj.filters.tpl
  examples/oneapi/dpc/onedal_win.vcxproj.tpl
  examples/oneapi/dpc/onedal_win.vcxproj.user.tpl
  makefile
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

reimplement select function
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Increase major version of sycl library (#2368)
  makefile
Due: .ci/pipeline/ci.yml

format fixes
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

comments resolving
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update EOLed links in documentation (#2370)
  docs/source/get-started/build-and-run-examples.rst
  docs/source/get-started/prerequisites.rst
Due: .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/backend/memory.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Larger block
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

More checks in place
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

split table event modifications
  cpp/oneapi/dal/backend/primitives/split_table.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove some commented code
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
Due: .ci/pipeline/ci.yml
