Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

reorganization of cmake for examples to have common config
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

adding comments to coommon function
  examples/cmake/setup_examples.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Adding cmake examples directory to the build
  makefile
Due: .ci/pipeline/ci.yml

move split kernel copt to common oneDAL options
  cmake/templates/oneDALConfig.cmake.in
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing cmakelist function names
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fixing function call in cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing make to include cmake directory
  makefile
Due: .ci/pipeline/ci.yml

setting common compiler opts
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Define compiler params for cmake examples
  examples/cmake/setup_examples.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Printing resulting compiler options
  examples/cmake/setup_examples.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Updating env output
  examples/cmake/setup_examples.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing typo in test script
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

moving compiler options definition within functions
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Adding paths to TBBCMAKE find package if TBBROOT is set
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

adding support for multiple build systems for examples
  .ci/pipeline/ci.yml
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

Fixing path to tbb cmake
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Fixing cmake module for tbb
  .ci/scripts/test.sh
  cmake/templates/oneDALConfig.cmake.in
  examples/daal/cpp/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Standard atomics
  cpp/daal/include/services/daal_atomic_int.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Clang-format applied
  cpp/daal/include/services/daal_atomic_int.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Small fixes
  cpp/daal/include/services/daal_atomic_int.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor fixes
  cpp/daal/include/services/daal_atomic_int.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing typo in script
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

fixing path to TBB cmake
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

removing debug from cmake file
  examples/daal/cpp/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

disable deprecated functions warning from solution examples
  examples/daal/cpp/daal_win.vcxproj.tpl
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing TBB search
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

fixing build systems calls for CI
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

removing FreeBSD scripts
  deploy/local/vars_fbsd.sh
Due: .ci/pipeline/ci.yml

fixing env script on mac to include CMAKE prefix PATH
  deploy/local/vars_mac.sh
Due: .ci/pipeline/ci.yml

Adding cmake generation to build
  .ci/scripts/build.bat
Due: .ci/pipeline/ci.yml

adding new param to test launcher on win
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

fixing build path to cmake
  .ci/scripts/build.bat
Due: .ci/pipeline/ci.yml

adding cmake support to windows testing
  .ci/pipeline/ci.yml
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

fixing linking mode param on windows
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

fixing macOS cmake
  .ci/scripts/test.sh
  examples/cmake/setup_examples.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Adressing comments from review
  .ci/scripts/test.sh
  examples/cmake/setup_examples.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Updating docs with correct cmake options
  docs/source/get-started/build-and-run-examples.rst
Due: .ci/pipeline/docs.yml

Fixing/debugging win testing
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

fixing test script for macOS cmake results directory
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

adding examples execution
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml
