Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: FormatterChecks
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        .ci/env/editorconfig-checker.sh
  
        '
      displayName: Install Dependencies
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Fix build error in test engine file csr_table_builder.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/test/fixture.hpp
  cpp/oneapi/dal/test/engine/csr_table_builder.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  dev/bazel/deps/mkl.tpl.BUILD
Due: .ci/pipeline/ci.yml

fixes
  dev/bazel/deps/mkl.tpl.BUILD
Due: .ci/pipeline/ci.yml

Update test with the csr_table_builder::build_dense_table API change
  cpp/oneapi/dal/algo/basic_statistics/test/fixture.hpp
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp.hpp
  cpp/oneapi/dal/algo/kmeans/test/fixture.hpp
  cpp/oneapi/dal/test/engine/csr_table_builder.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fixes
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng_cpu.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_engine_collection.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix: add cycle linking for mkl_core(bazel) (#2967)
  .ci/pipeline/ci.yml
  dev/bazel/deps/mkl.tpl.BUILD
Due: .ci/pipeline/ci.yml

update installation instructions
  INSTALL.md
Due: .ci/pipeline/ci.yml

update installation instructions (#2969)
  INSTALL.md
Due: .ci/pipeline/ci.yml

rm libonedal_sycl
  BUILD
  makefile
Due: .ci/pipeline/ci.yml

fixes
  dev/bazel/deps/onedal.bzl
  dev/bazel/deps/onedal.tpl.BUILD
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update nightly-build.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

fixes
  cmake/templates/oneDALConfig.cmake.in
  samples/oneapi/dpc/ccl/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml

fixes
  cmake/templates/oneDALConfig.cmake.in
  dev/bazel/deps/onedal.tpl.BUILD
Due: .ci/pipeline/ci.yml

fix for samples
  samples/oneapi/dpc/ccl/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml

Update icx.mkl.32e.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
Due: .ci/pipeline/ci.yml

Update dpcpp.mk
  dev/make/compiler_definitions/dpcpp.mk
Due: .ci/pipeline/ci.yml

Update apt.sh
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

[CI] make Nightly-build CI run on changes to CI (#2971)
  .ci/env/apt.sh
  .github/workflows/nightly-build.yml
  dev/make/compiler_definitions/dpcpp.mk
Due: .ci/pipeline/ci.yml

fixes
  .ci/pipeline/ci.yml
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Added ci jobs for openrng openblas arm build
  .ci/env/openrng.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
  .ci/scripts/test.sh
  dev/make/deps.ref.mk
  examples/daal/cpp/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

excluded more examples
  examples/daal/cpp/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes for CI
  cmake/templates/oneDALConfig.cmake.in
  samples/oneapi/dpc/ccl/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml

Fix dependencies in sparse K-means inference
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes for cmake config
  .ci/pipeline/ci.yml
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

clang-format
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes
  cmake/templates/oneDALConfig.cmake.in
  docs/source/get-started/build-and-run-examples.rst
  samples/oneapi/dpc/ccl/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

fix link to file that was moved
  docs/source/daal/algorithms/logistic_regression/logistic-regression.rst
Due: .ci/pipeline/docs.yml

fix link to file that was moved (#2973)
  docs/source/daal/algorithms/logistic_regression/logistic-regression.rst
Due: .ci/pipeline/docs.yml

more debug prints
  cmake/templates/oneDALConfig.cmake.in
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
