Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

printf debugging
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

address review
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel_dense.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

public CI fix
  cpp/oneapi/dal/detail/mpi/communicator.hpp
  cpp/oneapi/dal/test/engine/thread_communicator.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

adding new destructor
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
  docs/source/daal/services/managing-computational-environment.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

clang fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

Improve SYCL kernels in CSR table (#2794)
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix for win
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

add comment and refactor
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel_dense.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update data-analytics-pipeline.rst
  docs/source/data-analytics-pipeline.rst
Due: .ci/pipeline/docs.yml

update comments
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel_dense.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update comments
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel_dense.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add static tbb scheduler handle
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

minor fix
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

fixes
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

clang fixes
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fixes
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

Update common.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update common.hpp
  cpp/oneapi/dal/algo/finiteness_checker/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
  samples/daal/cpp/mysql/makefile_lnx
  samples/daal/cpp/mysql/makefile_mac
Due: .ci/pipeline/ci.yml

minor fix
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

Changed openblas build to ILP64
  .ci/env/openblas.sh
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp/target_excludes.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml
