Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

remove unnecessary result option
  cpp/oneapi/dal/algo/kmeans/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove unnecessary result option
  cpp/oneapi/dal/algo/kmeans/common.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/detail/infer_ops.hpp
  cpp/oneapi/dal/algo/kmeans/test/badarg.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add debug prints
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

CI: remove intel channel from public CI
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

temporary for quick check
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

revert temporary
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

CI: remove intel channel from public CI (#2847)
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

added aggregation of all nodes data on every gpu, moved alpha addition in ridge to after comm reduce
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/finalize_train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/finalize_train_kernel_norm_eq_impl_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/test/online_spmd.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix tests
  cpp/oneapi/dal/algo/kmeans/test/badarg.cpp
  cpp/oneapi/dal/algo/kmeans/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

example fix
  examples/oneapi/dpc/source/kmeans/kmeans_lloyd_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang format
  examples/oneapi/dpc/source/kmeans/kmeans_lloyd_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add arena initialization
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

Add scheduler handler delete
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

Remove finalize
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

Revert "initial replacement for mkl fpk header"
  cpp/daal/BUILD
  cpp/daal/src/externals/mkl_daal.h
  cpp/daal/src/externals/service_blas_mkl.h
  cpp/daal/src/externals/service_lapack_mkl.h
  cpp/daal/src/externals/service_rng_mkl.h
  cpp/daal/src/externals/service_service_mkl.h
  cpp/daal/src/externals/service_spblas_mkl.h
  cpp/daal/src/externals/service_stat_mkl.h
Due: .ci/pipeline/ci.yml

fix for rf
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixed tests
  cpp/oneapi/dal/algo/finiteness_checker/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix forest for no weights
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/test/spmd.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor optimizations for forest
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix for forest
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add a chapter about threading layer into the docs
  CONTRIBUTING.md
  docs/source/contribution/threading.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add chapter about threading into table of context
  CONTRIBUTING.md
  docs/source/contribution/threading.rst
  docs/source/index-toc.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

chore: pin some dependencies by hash
  .github/workflows/renovate-validation.yml
  dev/docker/onedal-dev.Dockerfile
Due: .ci/pipeline/ci.yml

Set means to zero in online covariance GPU if assume_centered=True
  cpp/oneapi/dal/algo/covariance/backend/gpu/finalize_compute_kernel_dense_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

restore .ci/env/apt.sh based on discussion
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

swap ucapi knn header include
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_predict_kernel.h
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_train_kernel.h
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_train_kernel_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_impl.i
Due: .ci/pipeline/ci.yml

restore docs with opencl
  docs/source/get-started/prerequisites.rst
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

chore(deps): update GPU FPK
  WORKSPACE
  dev/download_micromkl.bat
  dev/download_micromkl.sh
Due: .ci/pipeline/ci.yml

fixed dependency tracing before solving norm eq when ridge is non-zero
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update apt.sh
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

Update test fixture
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

[enhancement] Add finiteness_checker algo to `cpp/oneapi/dal/algo` (#2781)
  cpp/oneapi/dal/algo/BUILD
  cpp/oneapi/dal/algo/finiteness_checker/BUILD
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/test/batch.cpp
  makefile.lst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

chore(deps): update GPU FPK (#2680)
  .ci/env/apt.sh
  WORKSPACE
  dev/download_micromkl.bat
  dev/download_micromkl.sh
Due: .ci/pipeline/ci.yml

fix for forest
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/test/spmd.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add chapter about threader_for primitive
  docs/source/contribution/threading.rst
  docs/source/includes/threading/sum-parallel.rst
  docs/source/includes/threading/sum-sequential.rst
Due: .ci/pipeline/docs.yml

Attempt to fix Sphinx unexpected indentation error
  docs/source/includes/threading/sum-parallel.rst
Due: .ci/pipeline/docs.yml

feature: Linear Regression online spmd support (#2846)
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/finalize_train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/finalize_train_kernel_norm_eq_impl.hpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/finalize_train_kernel_norm_eq_impl_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/detail/finalize_train_ops_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/linear_regression/test/online_spmd.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
