Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Refactor tests, fix correlation assume_centered
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/covariance/test/batch.cpp
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  cpp/oneapi/dal/algo/covariance/test/online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add section about TLS
  docs/source/contribution/threading.rst
  docs/source/includes/threading/dot-parallel-init-tls.rst
  docs/source/includes/threading/dot-parallel-partial-compute.rst
  docs/source/includes/threading/dot-parallel-reduction.rst
  docs/source/includes/threading/dot-parallel.rst
  docs/source/includes/threading/dot-sequential.rst
  docs/source/includes/threading/sum-parallel-by-block.rst
Due: .ci/pipeline/docs.yml

Fix example naming
  docs/source/includes/threading/sum-parallel-by-blocks.rst
Due: .ci/pipeline/docs.yml

fixes and merging rng cpu + gpu
  cpp/oneapi/dal/algo/connected_components/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/louvain/backend/cpu/louvain_data.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/cg_solver_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/newton_cg_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng_engine.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_engine_collection.hpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sort/test/sort_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update qemu emulation version
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

update qemu emulation version (#2852)
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

Remove user without write access
  .github/CODEOWNERS
Due: .ci/pipeline/ci.yml

Update CODEOWNERS (#2840)
  .github/CODEOWNERS
Due: .ci/pipeline/ci.yml

fix(samples): correct multiline command handling in `setup_samples.cmake`
  samples/cmake/setup_samples.cmake
Due: .ci/pipeline/ci.yml

Improve descriptions in threading.h
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
  docs/source/contribution/threading.rst
  docs/source/includes/threading/dot-parallel-partial-compute.rst
  docs/source/includes/threading/dot-parallel.rst
  docs/source/includes/threading/sum-parallel-by-blocks.rst
  docs/source/includes/threading/sum-parallel.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Correct PCA nComponents description
  cpp/daal/include/algorithms/pca/pca_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix(samples): correct multiline command handling in `setup_samples.cmake` (#2832)
  samples/cmake/setup_samples.cmake
Due: .ci/pipeline/ci.yml

Refactor spmd tests
  cpp/oneapi/dal/algo/covariance/test/batch.cpp
  cpp/oneapi/dal/algo/covariance/test/compute_parameters.cpp
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  cpp/oneapi/dal/algo/covariance/test/online.cpp
  cpp/oneapi/dal/algo/covariance/test/online_spmd.cpp
  cpp/oneapi/dal/algo/covariance/test/spmd.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

address build errors
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_csr_impl_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_dense_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format
  cpp/oneapi/dal/algo/covariance/test/batch.cpp
  cpp/oneapi/dal/algo/covariance/test/compute_parameters.cpp
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  cpp/oneapi/dal/algo/covariance/test/online.cpp
  cpp/oneapi/dal/algo/covariance/test/online_spmd.cpp
  cpp/oneapi/dal/algo/covariance/test/spmd.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

chore(workflows): add `editorconfig-checker`
  .ci/env/editorconfig-checker.sh
  .ci/pipeline/ci.yml
  .ecrc
  .editorconfig
Due: .ci/pipeline/ci.yml

chore(workflows): update `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: .ci/pipeline/ci.yml

chore(workflows): update `renovate.json`
  .github/renovate.json
Due: .ci/pipeline/ci.yml

fix
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes for bazel
  cpp/daal/src/algorithms/engines/engine_batch_impl.h
  cpp/daal/src/algorithms/engines/mcg59/mcg59_batch_impl.h
  cpp/daal/src/algorithms/engines/mt19937/mt19937_batch_impl.h
  cpp/daal/src/algorithms/engines/mt2203/mt2203_batch_impl.h
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng_engine_collection.hpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
  dev/bazel/deps/onedal.bzl
  dev/bazel/deps/onedal.tpl.BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes for ci
  cpp/oneapi/dal/algo/knn/test/batch.cpp
  cpp/oneapi/dal/backend/primitives/lapack/test/eigen.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/sort/test/sort_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes for build
  cpp/oneapi/dal/backend/primitives/rng/rng_engine_collection.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Correct PCA nComponents description (#2853)
  cpp/daal/include/algorithms/pca/pca_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add section about nesting
  cpp/daal/src/threading/threading.h
  docs/source/contribution/threading.rst
  docs/source/includes/threading/dot-static-parallel.rst
  docs/source/includes/threading/nested-parallel-ls.rst
  docs/source/includes/threading/nested-parallel.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update sklearnex building and testing CI job
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

qemu version change
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

Create nightly-build.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Update nightly-build.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Improve comments in threading.h
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

Apply reviewer's suggestions
  CONTRIBUTING.md
  cpp/daal/src/threading/threading.h
  docs/source/contribution/threading.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor change: sum -> add
  docs/source/contribution/threading.rst
Due: .ci/pipeline/docs.yml

fixes
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add ONEDAL_EXPORT for sparse method
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update sklearnex building and testing CI job (#2861)
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

allow multiple versions
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

codefactor
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

typo
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

oops
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
