Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

Temporarily remove kmeans from BUILD file
  cpp/oneapi/dal/algo/BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove unreachable return statements
  cpp/daal/src/algorithms/distributions/bernoulli/bernoulli_impl.i
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_base.h
  cpp/daal/src/algorithms/kernel_function/kernel_function_dense_base.h
  cpp/daal/src/algorithms/kernel_function/oneapi/kernel_function_linear_kernel_oneapi.h
  cpp/daal/src/algorithms/kernel_function/oneapi/kernel_function_rbf_kernel_oneapi.h
  cpp/daal/src/algorithms/pca/pca_result_impl_fpt.cpp
  cpp/daal/src/data_management/service_numeric_table.h
Due: .ci/pipeline/ci.yml

remove redundant check
  cpp/daal/src/algorithms/dtrees/forest/df_training_parameter.cpp
Due: .ci/pipeline/ci.yml

remove redundant check
  cpp/daal/src/algorithms/pca/transform/pca_transform_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

remAdd non-zero check before division
  cpp/oneapi/dal/algo/louvain/backend/cpu/vertex_partitioning_default_kernel.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

workaround for bazel
  dev/bazel/deps/micromkl.bzl
  dev/bazel/deps/mkl.bzl
  dev/bazel/repos.bzl
Due: .ci/pipeline/ci.yml

Update docs/source/onedal/build_app/build-application.rst
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

minor fix
  dev/bazel/repos.bzl
Due: .ci/pipeline/ci.yml

Update build-application.rst
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

Fix format
  cpp/oneapi/dal/detail/policy.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/daal/src/algorithms/kmeans/kmeans_result_types.cpp
  cpp/daal/src/data_management/data_conversion.cpp
Due: .ci/pipeline/ci.yml

init implementation
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel.hpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor upd
  dev/bazel/repos.bzl
Due: .ci/pipeline/ci.yml

add debug tbb
  dev/bazel/repos.bzl
Due: .ci/pipeline/ci.yml

workaround upd
  dev/bazel/repos.bzl
  dev/make/deps.mkl.mk
  makefile
  samples/daal/cpp/mpi/makefile_lnx
  samples/daal/cpp/mysql/makefile_lnx
  samples/daal/cpp/oneccl/makefile_lnx
  samples/oneapi/dpc/ccl/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml

Fix memmory leak
  cpp/daal/src/algorithms/covariance/covariance_impl.i
  cpp/oneapi/dal/algo/knn/backend/cpu/train_kernel_kd_tree.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add status check
  cpp/daal/src/algorithms/covariance/covariance_impl.i
Due: .ci/pipeline/ci.yml

Update renovate.json
  .github/renovate.json
Due: .ci/pipeline/ci.yml

Fix OOB access, integer overflow and uncaught exception coverity hits (#2490)
  cpp/daal/src/algorithms/kmeans/kmeans_init_container.h
  cpp/daal/src/algorithms/kmeans/kmeans_result_types.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/ridge_regression/ridge_regression_training_result.cpp
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/services/service_environment.h
  cpp/daal/src/services/service_topo.cpp
  cpp/oneapi/dal/backend/common.hpp
  cpp/oneapi/dal/backend/interop/csr_block_owner.hpp
  cpp/oneapi/dal/detail/chunked_array_impl.cpp
  cpp/oneapi/dal/detail/common.hpp
  cpp/oneapi/dal/graph/detail/container.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add bazel tests
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/detail/finalize_compute_ops.hpp
  cpp/oneapi/dal/algo/basic_statistics/detail/partial_compute_ops.hpp
  cpp/oneapi/dal/algo/basic_statistics/test/fixture.hpp
  cpp/oneapi/dal/algo/basic_statistics/test/online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

recovering config
  .github/renovate.json
Due: .ci/pipeline/ci.yml

clang-format
  cpp/oneapi/dal/algo/louvain/backend/cpu/vertex_partitioning_default_kernel.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

recovering config (#2503)
  .github/renovate.json
Due: .ci/pipeline/ci.yml

Fix coverity hits (#2499)
  cpp/daal/src/algorithms/distributions/bernoulli/bernoulli_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_training_parameter.cpp
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_base.h
  cpp/daal/src/algorithms/kernel_function/kernel_function_dense_base.h
  cpp/daal/src/algorithms/kernel_function/oneapi/kernel_function_linear_kernel_oneapi.h
  cpp/daal/src/algorithms/kernel_function/oneapi/kernel_function_rbf_kernel_oneapi.h
  cpp/daal/src/algorithms/pca/pca_result_impl_fpt.cpp
  cpp/daal/src/algorithms/pca/transform/pca_transform_dense_default_batch_impl.i
  cpp/daal/src/data_management/service_numeric_table.h
  cpp/daal/src/services/service_arrays.h
  cpp/oneapi/dal/algo/louvain/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/table/backend/convert.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor refactor
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/partial_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/common.hpp
  cpp/oneapi/dal/algo/basic_statistics/compute_types.cpp
  cpp/oneapi/dal/algo/basic_statistics/compute_types.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

infra: compiler migration 2024.0 (#2497)
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_node_helpers.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl_dpc.cpp
  cpp/oneapi/dal/algo/svm/backend/gpu/smo_solver.hpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_local_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_heap_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/select_indexed_dpc.cpp
  dev/bazel/deps/micromkl.bzl
  dev/bazel/deps/micromkl.tpl.BUILD
  dev/bazel/deps/micromkldpc.tpl.BUILD
  dev/bazel/deps/mkl.bzl
  dev/bazel/deps/mkl.tpl.BUILD
  dev/bazel/deps/tbb.bzl
  dev/bazel/deps/tbb.tpl.BUILD
  dev/bazel/flags.bzl
  dev/bazel/repos.bzl
  dev/make/deps.mkl.mk
  docs/source/onedal/build_app/build-application.rst
  makefile
  samples/daal/cpp/mpi/makefile_lnx
  samples/daal/cpp/mysql/makefile_lnx
  samples/daal/cpp/oneccl/makefile_lnx
  samples/oneapi/dpc/ccl/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

[DOC] Update build-application page according to the dispatcher enabling (#2495)
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

Fixing part of codefactor hits (#2496)
  .ci/scripts/conformance-scripts/run_tests.py
  .ci/scripts/conformance-scripts/run_xpu_conformance.py
  deploy/local/vars_lnx.sh
  deploy/local/vars_mac.sh
  docs/dalapi/doxypy/model.py
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix memory leak (#2500)
  cpp/daal/src/algorithms/covariance/covariance_impl.i
  cpp/oneapi/dal/algo/knn/backend/cpu/train_kernel_kd_tree.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Return kmeans to BUILD file
  cpp/oneapi/dal/algo/BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/oneapi/dal/algo/covariance/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/partial_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/covariance/compute_types.cpp
  cpp/oneapi/dal/algo/covariance/compute_types.hpp
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops.hpp
  cpp/oneapi/dal/algo/covariance/detail/partial_compute_ops.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

removing just daal cpp oneccl samples
  samples/daal/cpp/oneccl/daal_lnx.lst
  samples/daal/cpp/oneccl/data/covcormoments_dense_1.csv
  samples/daal/cpp/oneccl/data/covcormoments_dense_2.csv
  samples/daal/cpp/oneccl/data/covcormoments_dense_3.csv
  samples/daal/cpp/oneccl/data/covcormoments_dense_4.csv
  samples/daal/cpp/oneccl/data/kmeans_dense.csv
  samples/daal/cpp/oneccl/data/pca_normalized_1.csv
  samples/daal/cpp/oneccl/data/pca_normalized_2.csv
  samples/daal/cpp/oneccl/data/pca_normalized_3.csv
  samples/daal/cpp/oneccl/data/pca_normalized_4.csv
  samples/daal/cpp/oneccl/license.txt
  samples/daal/cpp/oneccl/makefile_lnx
  samples/daal/cpp/oneccl/sources/covariance_dense_batch_distributed_oneccl.cpp
  samples/daal/cpp/oneccl/sources/covariance_dense_online_distributed_oneccl.cpp
  samples/daal/cpp/oneccl/sources/error_handling.h
  samples/daal/cpp/oneccl/sources/kmeans_dense_distributed_oneccl.cpp
  samples/daal/cpp/oneccl/sources/low_order_moments_dense_batch_distributed_oneccl.cpp
  samples/daal/cpp/oneccl/sources/low_order_moments_dense_online_distributed_oneccl.cpp
  samples/daal/cpp/oneccl/sources/pca_dense_batch_distributed_oneccl.cpp
  samples/daal/cpp/oneccl/sources/pca_dense_online_distributed_oneccl.cpp
  samples/daal/cpp/oneccl/sources/service.h
  samples/daal/cpp/oneccl/sources/service_sycl.h
Due: .ci/pipeline/ci.yml

naming upd
  cpp/oneapi/dal/algo/covariance/backend/cpu/partial_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/covariance/compute_types.cpp
  cpp/oneapi/dal/algo/covariance/compute_types.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

deprecated to removed
  cpp/daal/include/services/internal/sycl/execution_context_sycl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang
  cpp/daal/include/services/internal/sycl/execution_context_sycl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

removals from rebase
  cpp/daal/src/algorithms/algorithm_hyperparameter.cpp
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops.cpp
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops.hpp
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/covariance/detail/partial_compute_ops.cpp
  cpp/oneapi/dal/algo/covariance/detail/partial_compute_ops.hpp
  cpp/oneapi/dal/algo/covariance/detail/partial_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/covariance/finalize_compute.hpp
  cpp/oneapi/dal/algo/covariance/partial_compute.hpp
  cpp/oneapi/dal/chunked_array.hpp
  cpp/oneapi/dal/detail/chunked_array_impl.hpp
  cpp/oneapi/dal/detail/chunked_array_utils.hpp
  cpp/oneapi/dal/detail/finalize_compute_ops.hpp
  cpp/oneapi/dal/detail/partial_compute_ops.hpp
  cpp/oneapi/dal/finalize_compute.hpp
  cpp/oneapi/dal/partial_compute.hpp
  cpp/oneapi/dal/table/detail/metadata_utils.hpp
  cpp/oneapi/dal/table/detail/table_kinds.cpp
  cpp/oneapi/dal/table/detail/table_kinds.hpp
  cpp/oneapi/dal/table/heterogen.cpp
  cpp/oneapi/dal/table/heterogen.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml
