Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: FormatterChecks
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        .ci/env/editorconfig-checker.sh
  
        '
      displayName: Install Dependencies
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Added user defined destructor.
  cpp/daal/include/algorithms/pca/pca_explained_variance_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Delete copy assignment operator.
  cpp/daal/src/algorithms/pca/pca_result_impl.h
Due: .ci/pipeline/ci.yml

Fixed the assignment operator.
  cpp/daal/include/algorithms/pca/pca_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fixed formatting.
  cpp/daal/include/algorithms/pca/pca_explained_variance_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

restore kmeans
  cpp/oneapi/dal/algo/kmeans/test/batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fixes
  cpp/daal/src/algorithms/engines/mcg59/mcg59_batch_impl.h
  cpp/daal/src/algorithms/engines/mrg32k3a/mrg32k3a_batch_impl.h
  cpp/daal/src/algorithms/engines/mt19937/mt19937_batch_impl.h
  cpp/daal/src/algorithms/engines/mt2203/mt2203_batch_impl.h
  cpp/daal/src/algorithms/engines/philox4x32x10/philox4x32x10_batch_impl.h
  cpp/daal/src/externals/service_rng_mkl.h
  cpp/daal/src/externals/service_rng_openrng.h
  cpp/daal/src/externals/service_rng_ref.h
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
  docs/source/daal/algorithms/engines/philox4x32x10.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Use pre-built OpenBLAS on x86_64
  .ci/env/openblas.sh
Due: .ci/pipeline/ci.yml

Add fixes for coverity hits
  cpp/daal/include/algorithms/covariance/covariance_batch.h
  cpp/daal/include/algorithms/covariance/covariance_online.h
  cpp/daal/include/algorithms/covariance/covariance_types.h
  cpp/daal/include/algorithms/distance/correlation_distance.h
  cpp/daal/include/algorithms/distance/cosine_distance.h
  cpp/daal/src/algorithms/covariance/covariance_online_parameter.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix
  cpp/daal/include/algorithms/covariance/covariance_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Move implementations to cpp files
  cpp/daal/include/algorithms/covariance/covariance_types.h
  cpp/daal/src/algorithms/covariance/covariance_input.cpp
  cpp/daal/src/algorithms/covariance/covariance_step2_distr_input.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix error in bash script
  .ci/env/openblas.sh
Due: .ci/pipeline/ci.yml

fixes
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/newton_cg_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/dpc_engine.hpp
  cpp/oneapi/dal/backend/primitives/rng/host_engine.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
  docs/source/daal/algorithms/engines/mrg32k3a.rst
  docs/source/daal/algorithms/engines/philox4x32x10.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

formatting
  INSTALL.md
Due: .ci/pipeline/ci.yml

add comments and minor renaming
  cpp/oneapi/dal/algo/connected_components/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/louvain/backend/cpu/vertex_partitioning_default_kernel.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/spmd_fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/cg_solver_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/newton_cg_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/dpc_engine.hpp
  cpp/oneapi/dal/backend/primitives/rng/host_engine.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fixes
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Add proper CPUID eax checking
  cpp/daal/src/services/compiler/generic/env_detect_features.cpp
  cpp/daal/src/services/service_defines.h
Due: .ci/pipeline/ci.yml

DisableLinuxMakeGNU_OpenBLAS_x86 step in CI
  .ci/env/openblas.sh
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Revert unnecessary changes
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Add missiong EoF
  .ci/env/openblas.sh
Due: .ci/pipeline/ci.yml

DOC: Instructions for installing with dependencies from `conda` (#3016)
  INSTALL.md
Due: .ci/pipeline/ci.yml

conda instructions for other steups
  INSTALL.md
Due: .ci/pipeline/ci.yml

Improve descriptions of backend primitives classes
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  docs/source/api/data-management/backend-primitives.rst
  docs/source/api/data-management/backend/ndview.rst
  docs/source/conf.py
  docs/source/onedal/data-management/backend-primitives.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Remove unused job
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Correct license
  docs/source/api/data-management/backend-primitives.rst
  docs/source/api/data-management/backend/ndarray.rst
  docs/source/api/data-management/backend/ndview.rst
  docs/source/onedal/data-management/backend-primitives.rst
Due: .ci/pipeline/docs.yml

new fixes for rf
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_kernel_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_model_manager.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_feature_type_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_service_kernels_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/test/spmd.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove __daal_serv_cpu_extensions_available and add comments
  cpp/daal/src/services/compiler/generic/env_detect_features.cpp
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/detail/cpu.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update INSTALL.md
  INSTALL.md
Due: .ci/pipeline/ci.yml

Disable LinuxMakeGNU_OpenBLAS_x86 step in CI (#3024)
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Removed comment.
  cpp/daal/include/algorithms/pca/pca_explained_variance_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Canged the Input copy assignment to be deafult.
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/src/algorithms/pca/pca_input.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Changed the assignment operator to defaault.
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/src/algorithms/pca/pca_result_impl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
