Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

code quality improvement
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

formatting
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-formatting
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update Build Applications Page (#2797)
  docs/source/data-analytics-pipeline.rst
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

fix: reimplement custom daal calls for VC (#2803)
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/finalize_train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_svd.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update test.bat
  .ci/scripts/test.bat
Due: .ci/pipeline/ci.yml

Update build.bat
  .ci/scripts/build.bat
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

add function for workaround
  cpp/oneapi/dal/backend/communicator.cpp
  cpp/oneapi/dal/detail/ccl/communicator.hpp
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
  cpp/oneapi/dal/spmd/communicator.hpp
  cpp/oneapi/dal/test/engine/thread_communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  examples/daal/cpp/source/svm/svm_two_class_thunder_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

another debug...
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes
  examples/daal/cpp/source/svm/svm_two_class_thunder_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_two_class_thunder_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix for svm examples
  cpp/daal/src/threading/service_thread_pinner.cpp
  examples/daal/cpp/source/svm/svm_multi_class_boser_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_boser_dense_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_model_builder.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_dense_batch.cpp
  examples/daal/cpp/source/svm/svm_two_class_boser_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_two_class_boser_dense_batch.cpp
  examples/daal/cpp/source/svm/svm_two_class_model_builder.cpp
  examples/daal/cpp/source/svm/svm_two_class_thunder_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/daal/cpp/target_excludes.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Added csrmultd and csrmv ref implementation
  cpp/daal/src/externals/service_spblas_ref.h
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp/target_excludes.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/src/threading/threading.cpp
  examples/daal/cpp/source/svm/svm_multi_class_boser_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang format fix
  cpp/daal/src/externals/service_spblas_ref.h
Due: .ci/pipeline/ci.yml

Update SECURITY.md
  SECURITY.md
Due: .ci/pipeline/ci.yml

alternative workaround
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove debug
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Initial commit to replace internally developed sparse GEMM with MKL sparse gemm
  cpp/oneapi/dal/algo/kmeans/BUILD
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  examples/daal/cpp/source/svm/svm_multi_class_boser_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_boser_dense_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_model_builder.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
  docs/source/daal/services/managing-computational-environment.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

create function to identify mpi backend
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update deps.mk
  dev/make/deps.mk
Due: .ci/pipeline/ci.yml

Create build_oneDAL.yml
  .github/workflows/build_oneDAL.yml
Due: .ci/pipeline/ci.yml

Update build_oneDAL.yml
  .github/workflows/build_oneDAL.yml
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

revert previous
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
