Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

Add documentation for CSR tables (#2295)
  docs/source/api/data-management/table/csr.rst
  docs/source/api/data-management/tables.rst
  docs/source/conf.py
  docs/source/onedal/data-management/table/csr.rst
  docs/source/onedal/data-management/table/images/zero-based-csr.png
  docs/source/onedal/data-management/tables.rst
  docs/source/onedal/glossary.rst
Due: .ci/pipeline/docs.yml

Decision forest random splitter (#2270)
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_best_split_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_misc_structs.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_model_manager.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_node_helpers.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_helpers.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_sp_opt_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/common.cpp
  cpp/oneapi/dal/algo/decision_forest/common.hpp
  cpp/oneapi/dal/algo/decision_forest/test/batch.cpp
  docs/source/api/algorithms/ensembles/decision-forest.rst
  examples/oneapi/dpc/source/decision_forest/df_cls_hist_batch_random.cpp
  examples/oneapi/dpc/source/decision_forest/df_reg_hist_batch_random.cpp
  samples/oneapi/dpc/mpi/sources/decision_forest_reg_hist_distr_mpi.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

rename service_memset_sequential -> service_memset_incrementing
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/externals/service_memory.h
Due: .ci/pipeline/ci.yml

feat: make useConstFeatures configurable via params
  cpp/daal/include/algorithms/decision_forest/decision_forest_training_parameter.h
  cpp/daal/src/algorithms/dtrees/dtrees_train_data_helper.i
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_training_parameter.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

sample directly in findBestSplit function to make it O(_maxFeatures)
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

disable bottlenecks caused by memorySavingMode=false
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

fixup comments
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

fixup add missing initialization
  cpp/daal/src/algorithms/dtrees/forest/df_training_parameter.cpp
Due: .ci/pipeline/ci.yml

Use drawKFromBufferWithoutReplacement in df training
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/externals/service_memory.h
  cpp/daal/src/externals/service_rng.h
Due: .ci/pipeline/ci.yml

feat: add drawSample function with O(k) runtime
  cpp/daal/src/externals/service_rng.h
Due: .ci/pipeline/ci.yml

clean up
  cpp/daal/src/externals/service_rng.h
Due: .ci/pipeline/ci.yml

fixup use int64_t for split index helpers
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

revert using int64_t in findBestSplit* functions
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

fixup comments and function name
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/externals/service_memory.h
Due: .ci/pipeline/ci.yml

fixup add useConstFeatures parameter to oneapi interface
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/train_kernel_cls.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/train_kernel_reg.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_misc_structs.hpp
  cpp/oneapi/dal/algo/decision_forest/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert "feat: make useConstFeatures configurable via params"
  cpp/daal/include/algorithms/decision_forest/decision_forest_training_parameter.h
  cpp/daal/src/algorithms/dtrees/dtrees_train_data_helper.i
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_training_parameter.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert "fixup add useConstFeatures parameter to oneapi interface"
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/train_kernel_cls.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/train_kernel_reg.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_misc_structs.hpp
  cpp/oneapi/dal/algo/decision_forest/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

cleanup after revert
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/externals/service_rng.h
Due: .ci/pipeline/ci.yml

feat: status checks for node splitting algorithms
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

One tree memory capacity computing fix.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add daal forward
  cpp/daal/src/services/service_arrays.h
Due: .ci/pipeline/ci.yml

Minor updates: proper usage of constants. Add missing wait_and_throw().
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove redundant comments
  cpp/daal/src/services/service_arrays.h
  cpp/oneapi/dal/algo/objective_function/common.cpp
  cpp/oneapi/dal/algo/objective_function/common.hpp
  cpp/oneapi/dal/algo/objective_function/compute_types.cpp
  cpp/oneapi/dal/algo/objective_function/compute_types.hpp
  cpp/oneapi/dal/algo/objective_function/test/fixture.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix(RF): performance of feature sampling for node splits (#2292)
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_training_parameter.cpp
  cpp/daal/src/externals/service_memory.h
  cpp/daal/src/externals/service_rng.h
Due: .ci/pipeline/ci.yml

Update types.
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

treshold -> threshold
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/common.hpp
  docs/source/api/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

treshold -> threshold (#2303)
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/common.hpp
  docs/source/api/algorithms/ensembles/decision-forest.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-formatting
  cmake/scripts/generate_config.cmake
Due: .ci/pipeline/ci.yml

clang-formatting
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

revert file chmod to original
  cmake/scripts/generate_config.cmake
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_kernel.h
Due: .ci/pipeline/ci.yml

resolving engine issue
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Remove Camel case
  cpp/oneapi/dal/algo/logloss_objective/common.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Substitute sycl::reduction with sycl::atomic_reference. Performance drop!!!
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Clang-format
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

More precise memory computation
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Dev/logloss primitive fix (#2304)
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Split reduction kernel in two kernels to avoid error when compiled with MDd option
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml
