Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

Compression deprecation (#2338)
  cpp/daal/include/data_management/compression/bzip2compression.h
  cpp/daal/include/data_management/compression/compression.h
  cpp/daal/include/data_management/compression/compression_stream.h
  cpp/daal/include/data_management/compression/lzocompression.h
  cpp/daal/include/data_management/compression/rlecompression.h
  cpp/daal/include/data_management/compression/zlibcompression.h
  cpp/daal/src/services/compression/compression_stream.cpp
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp/source/decision_forest/df_cls_default_dense_batch.cpp
  examples/daal/cpp/source/decision_forest/df_cls_hist_dense_batch.cpp
  examples/daal/cpp/source/logistic_regression/log_reg_dense_batch.cpp
  examples/daal/cpp/source/optimization_solvers/custom_obj_func.h
  examples/daal/cpp_sycl/CMakeLists.txt
  examples/daal/cpp_sycl/source/decision_forest/df_cls_dense_batch.cpp
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/dpc/CMakeLists.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format
  cpp/oneapi/dal/table/backend/interop/host_csr_table_adapter.cpp
  cpp/oneapi/dal/table/test/csr.cpp
  cpp/oneapi/dal/table/test/table_adapter.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix typo in math syntax in K-Means algorithm description (#2325)
  docs/source/onedal/algorithms/clustering/kmeans.rst
Due: .ci/pipeline/docs.yml

Kmeans init doc update (#2329)
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
  docs/source/api/algorithms/clustering/kmeans-init.rst
  docs/source/includes/clustering/kmeans-init-introduction.rst
  docs/source/onedal/algorithms/clustering/kmeans-init.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update version to 2023.2
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  docs/doxygen/doxygen_conf_java.txt
  docs/doxygen/doxygen_conf_java_examples.txt
  docs/doxygen/doxygen_conf_java_web.txt
  makefile.ver
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update version to 2023.2 (#2343)
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  docs/doxygen/doxygen_conf_java.txt
  docs/doxygen/doxygen_conf_java_examples.txt
  docs/doxygen/doxygen_conf_java_web.txt
  makefile.ver
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

address review
  docs/source/includes/covariance/covariance-introduction.rst
  docs/source/onedal/algorithms/covariance/covariance.rst
Due: .ci/pipeline/docs.yml

address review
  docs/source/onedal/algorithms/covariance/covariance.rst
Due: .ci/pipeline/docs.yml

address review
  docs/source/onedal/algorithms/decomposition/pca.rst
Due: .ci/pipeline/docs.yml

knn oneapi docs updates and general docs fixes
  docs/source/conf.py
  docs/source/daal/algorithms/boosting/brownboost.rst
  docs/source/daal/algorithms/distance/cosine.rst
  docs/source/daal/algorithms/em/expectation-maximization.rst
  docs/source/daal/algorithms/gradient_boosted_trees/gradient-boosted-trees-regression.rst
  docs/source/daal/algorithms/implicit_als/computation-batch.rst
  docs/source/daal/algorithms/implicit_als/computation-distributed-prediction.rst
  docs/source/daal/algorithms/implicit_als/computation-distributed-training.rst
  docs/source/daal/algorithms/k_nearest_neighbors/k-nearest-neighbors-knn-classifier.rst
  docs/source/daal/algorithms/kmeans/computation-batch.rst
  docs/source/daal/algorithms/kmeans/computation-distributed.rst
  docs/source/daal/algorithms/kmeans/k-means-clustering.rst
  docs/source/daal/algorithms/optimization-solvers/iterative-solver.rst
  docs/source/daal/algorithms/optimization-solvers/objective-function.rst
  docs/source/daal/algorithms/optimization-solvers/objective-functions/computation.rst
  docs/source/daal/algorithms/optimization-solvers/objective-functions/cross-entropy.rst
  docs/source/daal/algorithms/optimization-solvers/objective-functions/logistic-loss.rst
  docs/source/daal/algorithms/optimization-solvers/objective-functions/mse.rst
  docs/source/daal/algorithms/optimization-solvers/objective-functions/sum-of-functions.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/adaptive-subgradient-method.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/computation.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/coordinate-descent.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/lbfgs.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/stochastic-average-gradient-accelerated-method.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/stochastic-gradient-descent-algorithm.rst
  docs/source/daal/algorithms/pca/computation-distributed.rst
  docs/source/daal/cpu-vs-gpu.rst
  docs/source/daal/data-management/data-management.rst
  docs/source/daal/training-prediction.rst
  docs/source/daal/usage/algorithms.rst
  docs/source/includes/nearest-neighbors/knn-examples.rst
  docs/source/includes/nearest-neighbors/knn-introduction.rst
  docs/source/legal.rst
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
  docs/source/onedal/algorithms/nearest-neighbors/knn.rst
Due: .ci/pipeline/docs.yml

update docs reqs, minor revisions to fix display
  docs/requirements.txt
  docs/source/legal.rst
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
  docs/source/onedal/algorithms/nearest-neighbors/knn.rst
Due: .ci/pipeline/docs.yml

complete revert of legal
  docs/source/legal.rst
Due: .ci/pipeline/docs.yml

initial test output
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Update df_regression_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

switch to 480
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

fix select
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Revert "fix select"
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

knn oneapi docs updates and general docs fixes (#2344)
  docs/requirements.txt
  docs/source/conf.py
  docs/source/daal/algorithms/boosting/brownboost.rst
  docs/source/daal/algorithms/distance/cosine.rst
  docs/source/daal/algorithms/em/expectation-maximization.rst
  docs/source/daal/algorithms/gradient_boosted_trees/gradient-boosted-trees-regression.rst
  docs/source/daal/algorithms/implicit_als/computation-batch.rst
  docs/source/daal/algorithms/implicit_als/computation-distributed-prediction.rst
  docs/source/daal/algorithms/implicit_als/computation-distributed-training.rst
  docs/source/daal/algorithms/k_nearest_neighbors/k-nearest-neighbors-knn-classifier.rst
  docs/source/daal/algorithms/kmeans/computation-batch.rst
  docs/source/daal/algorithms/kmeans/computation-distributed.rst
  docs/source/daal/algorithms/kmeans/k-means-clustering.rst
  docs/source/daal/algorithms/optimization-solvers/iterative-solver.rst
  docs/source/daal/algorithms/optimization-solvers/objective-function.rst
  docs/source/daal/algorithms/optimization-solvers/objective-functions/computation.rst
  docs/source/daal/algorithms/optimization-solvers/objective-functions/cross-entropy.rst
  docs/source/daal/algorithms/optimization-solvers/objective-functions/logistic-loss.rst
  docs/source/daal/algorithms/optimization-solvers/objective-functions/mse.rst
  docs/source/daal/algorithms/optimization-solvers/objective-functions/sum-of-functions.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/adaptive-subgradient-method.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/computation.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/coordinate-descent.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/lbfgs.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/stochastic-average-gradient-accelerated-method.rst
  docs/source/daal/algorithms/optimization-solvers/solvers/stochastic-gradient-descent-algorithm.rst
  docs/source/daal/algorithms/pca/computation-distributed.rst
  docs/source/daal/cpu-vs-gpu.rst
  docs/source/daal/data-management/data-management.rst
  docs/source/daal/training-prediction.rst
  docs/source/daal/usage/algorithms.rst
  docs/source/includes/nearest-neighbors/knn-examples.rst
  docs/source/includes/nearest-neighbors/knn-introduction.rst
  docs/source/onedal/algorithms/ensembles/decision-forest.rst
  docs/source/onedal/algorithms/nearest-neighbors/knn.rst
Due: .ci/pipeline/docs.yml

enable constFeature check for memorySavingMode
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

clang-formatting
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

fix clang
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add block size computing
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Adjust if statement in oneDALConnfigVersion.cmake
  cmake/templates/oneDALConfigVersion.cmake.in
Due: .ci/pipeline/ci.yml

Adjust if statement in generate_config.cmake
  cmake/scripts/generate_config.cmake
Due: .ci/pipeline/ci.yml

Update requirements.txt
  docs/requirements.txt
Due: .ci/pipeline/docs.yml

add genRandomBinIdx to dtrees_train_data_helper.i
  cpp/daal/src/algorithms/dtrees/dtrees_train_data_helper.i
Due: .ci/pipeline/ci.yml

Remove genRandomBinIdx from classification
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

remove genRandomBinIdx from regression
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

clang-formating
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

linting
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model_builder.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model_builder.h
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_builder.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixing misprints
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

remove some unused code
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

external loop
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor upd
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

rename variables
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

linting
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

rows size upd
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove obsolete lines
  makefile
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
