Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: ubuntu-22.04
    steps:
    - script: 'sudo apt-get update && sudo apt-get install -y clang-format-14
  
        sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-14 100
  
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-20.04
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

icx compiler and avx2 optimization level for CI (#2401)
  .ci/pipeline/ci.yml
  cpp/daal/include/data_management/data/internal/finiteness_checker.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/oneapi/dal/algo/triangle_counting/backend/cpu/intersection_tc.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update dev/make/cmplr.gnu.mkl.mk
  dev/make/cmplr.gnu.mkl.mk
Due: .ci/pipeline/ci.yml

Update dev/make/cmplr.gnu.ref.mk
  dev/make/cmplr.gnu.ref.mk
Due: .ci/pipeline/ci.yml

test cpu backend
  cpp/oneapi/dal/algo/pca/backend/cpu/infer_kernel.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/infer_kernel_dpc.cpp
  examples/oneapi/cpp/source/pca/pca_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Changed default backend to 'mkl'
  makefile
Due: .ci/pipeline/ci.yml

GBT inference optimization (#2391)
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/gbt_predict_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

1. Move csr_accessor from dal::detail to dal:: namespace. 2. Add C++ example for csr_accessor
  cpp/oneapi/dal/backend/interop/table_conversion.hpp
  cpp/oneapi/dal/table/backend/interop/host_csr_table_adapter.hpp
  cpp/oneapi/dal/table/csr_accessor.hpp
  cpp/oneapi/dal/table/detail/csr_accessor.hpp
  examples/oneapi/cpp/source/table/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format
  examples/oneapi/cpp/source/table/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Debug prints added
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
  cpp/oneapi/dal/table/test/csr.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

deploy(fix): update pkg-config cflags to avoid deprecation warnings
  deploy/pkg-config/generate_pkgconfig.py
Due: .ci/pipeline/ci.yml

Initial commit
  cpp/oneapi/dal/algo/logloss_objective/common.hpp
  cpp/oneapi/dal/algo/objective_function/common.hpp
  cpp/oneapi/dal/algo/objective_function/compute_types.hpp
  docs/source/api/algorithms/objective-function/index.rst
  docs/source/api/algorithms/objective-function/logloss.rst
  docs/source/includes/objective-function/logloss-examples.rst
  docs/source/includes/objective-function/logloss-introduction.rst
  docs/source/onedal/algorithms/index.rst
  docs/source/onedal/algorithms/objective-function/index.rst
  docs/source/onedal/algorithms/objective-function/logloss.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Buildable onedal_c
  cpp/oneapi/dal/backend/primitives/rng/rnd_seq.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_engine.hpp
  cpp/oneapi/dal/backend/primitives/rng/utils.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/io/csv/backend/interop/read_graph_service.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Added clang support
  dev/make/cmplr.clang.mkl.mk
  dev/make/cmplr.clang.ref.mk
Due: .ci/pipeline/ci.yml

doc: provide maxBins/minBinSize/binningStrategy description
  docs/source/daal/algorithms/decision_forest/decision-forest-classification.rst
  docs/source/daal/algorithms/decision_forest/decision-forest-regression.rst
Due: .ci/pipeline/docs.yml

Compiler fixes for icc, icx, vc plus clang-format
  cpp/daal/src/algorithms/dtrees/gbt/regression/oneapi/gbt_regression_train_dense_default_oneapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_init_dense_batch_kernel_ucapi_impl.i
  cpp/daal/src/externals/config_mkl.h
  cpp/daal/src/externals/config_ref.h
  cpp/daal/src/externals/service_rng_ref.h
  cpp/daal/src/services/library_version_info.cpp
  dev/make/cmplr.gnu.mk
  dev/make/cmplr.icc.mkl.mk
  dev/make/cmplr.icx.mkl.mk
  dev/make/cmplr.vc.mkl.mk
Due: .ci/pipeline/ci.yml

doc: move common parameters to common description, sort alphabetically
  docs/source/daal/algorithms/decision_forest/decision-forest-classification.rst
  docs/source/daal/algorithms/decision_forest/decision-forest-regression.rst
  docs/source/daal/algorithms/decision_forest/decision-forest.rst
Due: .ci/pipeline/docs.yml

Update dev/make/cmplr.clang.ref.mk
  dev/make/cmplr.clang.ref.mk
Due: .ci/pipeline/ci.yml

deploy(fix): update pkg-config cflags to avoid deprecation warnings (#2403)
  deploy/pkg-config/generate_pkgconfig.py
Due: .ci/pipeline/ci.yml

doc: provide maxBins/minBinSize/binningStrategy description (#2407)
  docs/source/daal/algorithms/decision_forest/decision-forest-classification.rst
  docs/source/daal/algorithms/decision_forest/decision-forest-regression.rst
  docs/source/daal/algorithms/decision_forest/decision-forest.rst
Due: .ci/pipeline/docs.yml

Modify csr_accessor.cpp test to use dal::csr_accessor
  cpp/oneapi/dal/table/detail/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format
  cpp/oneapi/dal/table/detail/test/csr_accessor.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

primitive for gpu test
  cpp/oneapi/dal/algo/pca/backend/cpu/infer_kernel.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/backend/primitives/stat/cov.hpp
  cpp/oneapi/dal/backend/primitives/stat/cov_dpc.cpp
  examples/oneapi/cpp/source/pca/pca_dense_batch.cpp
  examples/oneapi/cpp/source/pca/pca_precomputed_dense_batch.cpp
  examples/oneapi/data/c_cov.csv
  examples/oneapi/data/c_data.csv
  examples/oneapi/data/c_ev.csv
  examples/oneapi/data/c_mns.csv
  examples/oneapi/data/c_vrs.csv
  examples/oneapi/dpc/source/pca/pca_precomputed_cor_dense_batch.cpp
  examples/oneapi/dpc/source/pca/pca_precomputed_cov_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix bundle
  cpp/daal/include/services/internal/sycl/kernel_scheduler_sycl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add descriptor docs
  cpp/oneapi/dal/algo/objective_function/compute_types.hpp
  docs/source/api/algorithms/objective-function/logloss.rst
  docs/source/includes/objective-function/logloss-introduction.rst
  docs/source/onedal/algorithms/objective-function/index.rst
  docs/source/onedal/algorithms/objective-function/logloss.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix bundle (#2408)
  cpp/daal/include/services/internal/sycl/kernel_scheduler_sycl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix bundle (#2409)
  cpp/daal/include/services/internal/sycl/kernel_scheduler_sycl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

gpu backend modify
  cpp/oneapi/dal/algo/pca/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/backend/primitives/stat/cov.hpp
  cpp/oneapi/dal/backend/primitives/stat/cov_dpc.cpp
  examples/oneapi/dpc/source/pca/pca_cor_dense_batch.cpp
  examples/oneapi/dpc/source/pca/pca_precomputed_cov_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor
  examples/oneapi/dpc/source/pca/pca_precomputed_cov_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add mean center and whiten support to pca
  cpp/oneapi/dal/algo/pca/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/backend/primitives/stat/cov.hpp
  cpp/oneapi/dal/backend/primitives/stat/cov_dpc.cpp
  examples/oneapi/cpp/source/pca/pca_dense_batch.cpp
  examples/oneapi/cpp/source/pca/pca_precomputed_dense_batch.cpp
  examples/oneapi/data/c_cov.csv
  examples/oneapi/data/c_data.csv
  examples/oneapi/data/c_ev.csv
  examples/oneapi/data/c_mns.csv
  examples/oneapi/data/c_vrs.csv
  examples/oneapi/dpc/source/pca/pca_precomputed_cov_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

formatting fix
  cpp/oneapi/dal/algo/pca/backend/cpu/infer_kernel.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/backend/primitives/stat/cov.hpp
  cpp/oneapi/dal/backend/primitives/stat/cov_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

formatting fix
  examples/oneapi/dpc/source/pca/pca_cor_dense_batch.cpp
  examples/oneapi/dpc/source/pca/pca_precomputed_cor_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor
  examples/oneapi/cpp/source/pca/pca_dense_batch.cpp
  examples/oneapi/cpp/source/pca/pca_precomputed_dense_batch.cpp
  examples/oneapi/dpc/source/pca/pca_cor_dense_batch.cpp
  examples/oneapi/dpc/source/pca/pca_precomputed_cor_dense_batch.cpp
  examples/oneapi/dpc/source/pca/pca_precomputed_cov_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Empty api section
  docs/source/api/algorithms/objective-function/logloss.rst
  docs/source/onedal/algorithms/objective-function/logloss.rst
Due: .ci/pipeline/docs.yml

Bazel version update to 6.2 (#2371)
  .bazelversion
  .ci/pipeline/ci.yml
  WORKSPACE
  cpp/oneapi/dal/algo/louvain/test/louvain_test.cpp
  cpp/oneapi/dal/table/BUILD
  cpp/oneapi/dal/table/test/column_accessor.cpp
  cpp/oneapi/dal/table/test/common.cpp
  cpp/oneapi/dal/test/engine/BUILD
  cpp/oneapi/dal/test/engine/gtest_main.cpp
  dev/bazel/cc.bzl
  dev/bazel/dal.bzl
  third-party-programs.txt
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

WIP. Implement more correct sycl dependencies handling in CSR table
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
  cpp/oneapi/dal/table/backend/csr_kernels.hpp
  cpp/oneapi/dal/table/backend/csr_table_impl.hpp
  cpp/oneapi/dal/table/csr.cpp
  cpp/oneapi/dal/table/csr.hpp
  cpp/oneapi/dal/table/test/csr.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add checks and others
  cpp/oneapi/dal/algo/pca/backend/gpu/infer_kernel_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix the wrong jni method names in homogen_numeric_table_byte_buffer_impl.cpp
  java/com/intel/daal/data_management/data/homogen_numeric_table_byte_buffer_impl.cpp
Due: .ci/pipeline/ci.yml

samples(fix): update samples mpi options
  samples/daal/cpp/mpi/launcher.bat
  samples/daal/cpp/mpi/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
