Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

qemu version change (#2862)
  .ci/env/apt.sh
Due: .ci/pipeline/ci.yml

move dpc portions to scripts
  .ci/scripts/collect_opencl_rt.ps1
  .ci/scripts/install_dpc.ps1
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

add end lines
  .ci/scripts/collect_opencl_rt.ps1
  .ci/scripts/install_dpc.ps1
Due: .ci/pipeline/ci.yml

readd for testing
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

move to complete powershell
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

wget to ps native
  .ci/scripts/collect_opencl_rt.ps1
Due: .ci/pipeline/ci.yml

Spelling: benefitial -> beneficial
  docs/source/contribution/threading.rst
Due: .ci/pipeline/docs.yml

Fix in parallel reduction example
  docs/source/includes/threading/dot-parallel-reduction.rst
Due: .ci/pipeline/docs.yml

chore(workflows): `FormattersChecks` -> `FormatterChecks`
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

retry using vars.bat
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

change back to cmd
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

modify vc for dpc building
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

add deletion
  .ci/scripts/install_dpc.ps1
Due: .ci/pipeline/ci.yml

Update ci.yml
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

Minor
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add missing ONEDAL_EXPORT for sparse Logistic Regression (#2864)
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove changes to DevOps CI
  .ci/pipeline/ci.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

chore(workflows): add `skywalking-eyes` license header check
  .github/.licenserc.yaml
  .github/workflows/skywalking-eyes.yml
  cpp/daal/src/externals/service_math_ref.h
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_service_kernels.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_service_kernels_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

chore: replace `.md` exclusions with specific files
  .github/.licenserc.yaml
Due: .ci/pipeline/ci.yml

fixes
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_csr_impl_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/backend/micromkl/macro.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes for ci
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_csr_impl_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_dense_impl_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix: CPATH env var (#2777)
  deploy/local/vars_lnx.sh
  deploy/local/vars_win.bat
Due: .ci/pipeline/ci.yml

Initial version of sparse matmatd primitive
  cpp/oneapi/dal/backend/primitives/sparse_blas.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/matmatd.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/matmatd_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/matmatd_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add test for sparse SYCL matmatd
  cpp/oneapi/dal/backend/primitives/sparse_blas/matmatd_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/matmatd_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/daal/include/algorithms/normalization/zscore_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update docs/requirements.txt
  docs/requirements.txt
Due: .ci/pipeline/docs.yml

KMeans Init Sparsity Support (#2815)
  cpp/daal/src/algorithms/kmeans/kmeans_init_csr_parallelplus_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_csr_random_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/oneapi/dal/algo/kmeans/backend/cpu/infer_kernel.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/common.cpp
  cpp/oneapi/dal/algo/kmeans/common.hpp
  cpp/oneapi/dal/algo/kmeans/detail/infer_ops.hpp
  cpp/oneapi/dal/algo/kmeans/infer_types.cpp
  cpp/oneapi/dal/algo/kmeans/test/badarg.cpp
  cpp/oneapi/dal/algo/kmeans/test/fixture.hpp
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/to_daal_method.hpp
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
  cpp/oneapi/dal/algo/kmeans_init/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/kmeans_init/detail/compute_ops_dpc.cpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
  examples/oneapi/dpc/source/kmeans/kmeans_lloyd_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix WORKSPACE for big MKL
  WORKSPACE
Due: .ci/pipeline/ci.yml

minor fix for zscore
  cpp/daal/include/algorithms/normalization/zscore_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

rework tests with new macros
  cpp/oneapi/dal/algo/covariance/test/badargs.cpp
  cpp/oneapi/dal/algo/dbscan/test/badarg.cpp
  cpp/oneapi/dal/algo/kmeans/test/badarg.cpp
  cpp/oneapi/dal/algo/linear_kernel/test/badargs.cpp
  cpp/oneapi/dal/algo/linear_kernel/test/overflow.cpp
  cpp/oneapi/dal/algo/pca/test/badarg.cpp
  cpp/oneapi/dal/algo/pca/test/overflow.cpp
  cpp/oneapi/dal/algo/polynomial_kernel/test/badargs.cpp
  cpp/oneapi/dal/algo/polynomial_kernel/test/overflow.cpp
  cpp/oneapi/dal/algo/rbf_kernel/test/badargs.cpp
  cpp/oneapi/dal/algo/rbf_kernel/test/overflow.cpp
  cpp/oneapi/dal/algo/sigmoid_kernel/test/badargs.cpp
  cpp/oneapi/dal/algo/sigmoid_kernel/test/overflow.cpp
  cpp/oneapi/dal/table/test/homogen_serialization.cpp
  cpp/oneapi/dal/test/archives.cpp
  cpp/oneapi/dal/test/array_serialization.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fixes
  cpp/oneapi/dal/algo/pca/backend/test/sign_flip.cpp
  cpp/oneapi/dal/backend/primitives/test/ndarray.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update nightly-build.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Update install_dpc.ps1
  .ci/scripts/install_dpc.ps1
Due: .ci/pipeline/ci.yml

re-enable on PR to verify ubuntu-22.04
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

new fixes for tests+rework macros+decrease compiler date
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_csr_impl_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/dbscan/test/badarg.cpp
  cpp/oneapi/dal/algo/pca/test/badarg.cpp
  cpp/oneapi/dal/backend/primitives/lapack/test/eigen.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/cg_solver_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/newton_cg_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sort/test/sort_dpc.cpp
  cpp/oneapi/dal/backend/primitives/stat/test/cov_dpc.cpp
  cpp/oneapi/dal/backend/primitives/test/ndarray.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
