Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

rename GPU check and move to correct file
  cpp/oneapi/dal/algo/linear_regression/test/batch.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/test/engine/fixtures.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

upd macro
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
  makefile
Due: .ci/pipeline/ci.yml

more prints on 1 rank knn
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Add initial info about CPU features dispatching
  CONTRIBUTING.md
  docs/source/contribution/cpu_features.rst
  docs/source/index-toc.rst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix a typo
  docs/source/contribution/cpu_features.rst
Due: .ci/pipeline/docs.yml

fixes for alignas
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

fixes for kd tree
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

remove debug stuff
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Use spectral decomposition as more accurate fallback from Cholesky (#2930)
  cpp/daal/src/algorithms/service_kernel_math.h
  cpp/daal/src/externals/service_lapack.h
  cpp/daal/src/externals/service_lapack_declar_ref.h
  cpp/daal/src/externals/service_lapack_mkl.h
  cpp/daal/src/externals/service_lapack_ref.h
  cpp/oneapi/dal/algo/linear_regression/test/batch.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

fixes for dbg build
  makefile
Due: .ci/pipeline/ci.yml

minor fix
  makefile
Due: .ci/pipeline/ci.yml

tmp rm predict
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

partial restore
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Update nightly-build.yml
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

fixes for allocation
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

just find neighbours
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

[enhancement] Store windows basekit with symlink-preserving compression for nightly-build (#2938)
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

Update nightly-build.yml (#2947)
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

fix windows build name and artifact name for nightly-build
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

jus tpredict
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

restore neighbours
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch.h
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

partially restore fnn
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

fixes
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch.h
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Add code samples
  docs/source/contribution/cpu_features.rst
  docs/source/includes/cpu_features/abc-classification-train-kernel.rst
  docs/source/includes/cpu_features/abc-classification-train-method1-fpt-cpu.rst
  docs/source/includes/cpu_features/abc-classification-train-method1-impl.rst
  docs/source/includes/cpu_features/abc-classification-train-method2-impl.rst
Due: .ci/pipeline/docs.yml

fixes for forest
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  examples/oneapi/dpc/source/decision_forest/df_cls_hist_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes for knn
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Fix a typo in CONTRIBUTING.md
  CONTRIBUTING.md
Due: .ci/pipeline/ci.yml

minor fix
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

Fix typos
  docs/source/contribution/cpu_features.rst
Due: .ci/pipeline/docs.yml

Add clarification about 'fpt' abbreviation meaning
  docs/source/contribution/cpu_features.rst
Due: .ci/pipeline/docs.yml

train threads 1
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

xcp ref implementation (#2895)
  cpp/daal/src/externals/service_stat_ref.h
Due: .ci/pipeline/ci.yml

fixes for threading
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Update ci.yml
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

workaround for knn
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Add information about compiler-specific and CPU-specific macros
  docs/source/contribution/cpu_features.rst
Due: .ci/pipeline/docs.yml
