Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

Update compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

added ILP64 to the cache key for gcc+openblas builds
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

test fix
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

updated cache key and changed qemu version
  .ci/env/apt.sh
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

init check
  .ci/pipeline/ci.yml
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/finalize_train_kernel_norm_eq.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update requests version
  docs/requirements.txt
Due: .ci/pipeline/docs.yml

add finalize
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

Update requests version (#2804)
  docs/requirements.txt
Due: .ci/pipeline/docs.yml

fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

minor fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

Update BUILD
  cpp/oneapi/dal/algo/BUILD
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

initial commit
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
  cpp/oneapi/dal/algo/kmeans_init/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/kmeans_init/detail/compute_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix comments
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

fix for pca nad bs
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_svd.cpp
  cpp/oneapi/dal/backend/interop/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Changed openblas build to ILP64 (#2801)
  .ci/env/apt.sh
  .ci/env/openblas.sh
  .ci/pipeline/ci.yml
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp/target_excludes.cmake
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_random_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/to_daal_method.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fixes
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/src/threading/threading.cpp
Due: .ci/pipeline/ci.yml

revert debug
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

mpich condition with prints
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix public CI
  cpp/oneapi/dal/test/engine/thread_communicator.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang
  cpp/oneapi/dal/detail/mpi/communicator.hpp
  cpp/oneapi/dal/test/engine/thread_communicator.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

formatting
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml

fixes
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_svd.cpp
  cpp/oneapi/dal/backend/interop/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

conflict resolving
  .ci/pipeline/ci.yml
Due: .ci/pipeline/ci.yml

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

x->data
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml
