Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

CI fixes and removal of some indicated functionality
  cpp/daal/include/algorithms/decision_tree/decision_tree_classification_model.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model.h
  cpp/oneapi/dal/table/backend/accessor_compat.hpp
  cpp/oneapi/dal/table/backend/csr_table_impl.hpp
  cpp/oneapi/dal/table/backend/empty_table_impl.hpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.hpp
  cpp/oneapi/dal/table/detail/access_iface_compat.hpp
  cpp/oneapi/dal/test/engine/mocks.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

accessor compat removal
  cpp/oneapi/dal/table/backend/accessor_compat.hpp
  cpp/oneapi/dal/table/backend/empty_table_impl.hpp
  cpp/oneapi/dal/table/backend/homogen_table_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Attempt to fix warnings
  dev/make/deps.mkl.mk
Due: .ci/pipeline/ci.yml

temporary workaround for old mkl
  dev/bazel/deps/mkl.bzl
  dev/bazel/deps/mkl.tpl.BUILD
Due: .ci/pipeline/ci.yml

fix examples
  examples/oneapi/cpp/source/covariance/cor_dense_online.cpp
  examples/oneapi/cpp/source/covariance/cov_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

upd examples
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  examples/oneapi/dpc/source/covariance/cor_dense_online.cpp
  examples/oneapi/dpc/source/covariance/cov_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

revert onedal to old layout
  dev/bazel/deps/onedal.bzl
  dev/bazel/deps/onedal.tpl.BUILD
Due: .ci/pipeline/ci.yml

revert mkl paths and change tbb in make
  .ci/scripts/test.sh
  dev/bazel/deps/mkl.bzl
  dev/bazel/deps/mkl.tpl.BUILD
  docs/source/onedal/build_app/build-application.rst
  makefile
  samples/daal/cpp/mpi/makefile_lnx
  samples/daal/cpp/mysql/makefile_lnx
  samples/daal/cpp/oneccl/makefile_lnx
  samples/daal/java/hadoop/launcher.sh
  samples/daal/java/spark/launcher.sh
  samples/daal/scala/spark/launcher.sh
  samples/oneapi/dpc/ccl/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

small revert
  .ci/scripts/test.sh
Due: .ci/pipeline/ci.yml

add variable
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  examples/oneapi/cpp/source/covariance/cor_dense_online.cpp
  examples/oneapi/cpp/source/covariance/cov_dense_online.cpp
  examples/oneapi/dpc/source/covariance/cor_dense_online.cpp
  examples/oneapi/dpc/source/covariance/cov_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix tbb for win
  makefile
Due: .ci/pipeline/ci.yml

additional build issue fixes (more to come)
  cpp/daal/include/algorithms/kmeans/kmeans_init_types.h
  cpp/daal/include/algorithms/optimization_solver/saga/saga_types.h
  cpp/daal/src/algorithms/decision_tree/decision_tree_classification_model_impl.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_parameter_types.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

More coverity hits fixed
  cpp/daal/include/data_management/features/internal/identifiers_impl.h
  cpp/daal/include/services/collection.h
  cpp/daal/src/algorithms/dbscan/dbscan_result_types.cpp
  cpp/daal/src/algorithms/distributions/uniform/uniform_impl.i
  cpp/daal/src/algorithms/optimization_solver/sgd/sgd_dense_minibatch_impl.i
  cpp/daal/src/algorithms/pca/pca_result.cpp
  cpp/daal/src/algorithms/stump/stump_classification_train_aux.i
  cpp/oneapi/dal/detail/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add check for division by zero hit
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

Add Random Forest coverity hits fixes
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_container.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_container.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_training_types.cpp
  cpp/daal/src/algorithms/dtrees/forest/df_train_dense_default_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_container.h
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_dense_default_impl.i
Due: .ci/pipeline/ci.yml

fix tbb
  makefile
Due: .ci/pipeline/ci.yml

Fix integral_cast
  cpp/oneapi/dal/detail/common.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

infra: update binary version (#2468)
  cpp/daal/include/daal_win.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/dll.rc
  docs/source/onedal/build_app/build-application.rst
  makefile.ver
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Temporary disabling gemv test (#2463)
  cpp/oneapi/dal/backend/primitives/blas/test/gemv_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove mention of compression in docs (#2467)
  docs/source/daal/data-management/data-compression.rst
  docs/source/daal/data-management/data-management.rst
  docs/source/daal/data-management/data-serialization-and-deserialization.rst
Due: .ci/pipeline/docs.yml

Init addition of online interfaces in Covariance (#2455)
  cpp/daal/src/algorithms/covariance/covariance_dense_default_online_fpt_cpu.cpp
  cpp/oneapi/dal.hpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/finalize_compute_kernel.hpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/partial_compute_kernel.hpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/partial_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/finalize_compute_kernel.hpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel.hpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/covariance/compute_types.cpp
  cpp/oneapi/dal/algo/covariance/compute_types.hpp
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops.cpp
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops.hpp
  cpp/oneapi/dal/algo/covariance/detail/finalize_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/covariance/detail/partial_compute_ops.cpp
  cpp/oneapi/dal/algo/covariance/detail/partial_compute_ops.hpp
  cpp/oneapi/dal/algo/covariance/detail/partial_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/covariance/finalize_compute.hpp
  cpp/oneapi/dal/algo/covariance/partial_compute.hpp
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  cpp/oneapi/dal/algo/covariance/test/online.cpp
  cpp/oneapi/dal/backend/interop/common.hpp
  cpp/oneapi/dal/detail/finalize_compute_ops.hpp
  cpp/oneapi/dal/detail/partial_compute_ops.hpp
  cpp/oneapi/dal/finalize_compute.hpp
  cpp/oneapi/dal/partial_compute.hpp
  cpp/oneapi/dal/test/engine/common.hpp
  cpp/oneapi/dal/test/engine/fixtures.hpp
  examples/oneapi/cpp/source/covariance/cor_dense_online.cpp
  examples/oneapi/cpp/source/covariance/cov_dense_online.cpp
  examples/oneapi/cpp/source/example_util/input_helpers.hpp
  examples/oneapi/dpc/source/covariance/cor_dense_online.cpp
  examples/oneapi/dpc/source/covariance/cov_dense_online.cpp
  examples/oneapi/dpc/source/example_util/input_helpers.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

AVX/SSSE3/AVX512_MIC ISA cleanup (#2465)
  INSTALL.md
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
  cpp/daal/include/algorithms/algorithm_container_base_common.h
  cpp/daal/include/services/env_detect.h
  cpp/daal/include/services/internal/daal_kernel_defines.h
  cpp/daal/src/algorithms/dtrees/gbt/gbt_train_hist_kernel.i
  cpp/daal/src/algorithms/k_nearest_neighbors/kdtree_knn_classification_train_dense_default_impl.i
  cpp/daal/src/algorithms/kernel.h
  cpp/daal/src/algorithms/kernel_function/kernel_function_csr_impl.i
  cpp/daal/src/algorithms/linear_model/linear_model_train_qr_update_impl.i
  cpp/daal/src/algorithms/naivebayes/naivebayes_predict_fast_impl.i
  cpp/daal/src/algorithms/naivebayes/naivebayes_train_impl.i
  cpp/daal/src/algorithms/qr/qr_dense_default_batch_impl.i
  cpp/daal/src/algorithms/qr/qr_dense_default_pcl_impl.i
  cpp/daal/src/algorithms/svd/svd_dense_default_batch_impl.i
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/algo/subgraph_isomorphism/backend/cpu/compiler_adapt.hpp
  cpp/oneapi/dal/backend/dispatcher.cpp
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/dispatcher_cpu.hpp
  cpp/oneapi/dal/backend/interop/common.hpp
  cpp/oneapi/dal/backend/micromkl/macro.hpp
  cpp/oneapi/dal/backend/primitives/intersection/intersection.hpp
  cpp/oneapi/dal/detail/dispatcher.hpp
  cpp/oneapi/dal/detail/policy.hpp
  docs/source/daal/services/managing-computational-environment.rst
  java/com/intel/daal/services/CpuType.java
  makefile
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add the link to oneAPI samples browser (#2470)
  docs/source/examples.rst
Due: .ci/pipeline/docs.yml

local bazel tests/build are good
  cpp/daal/src/algorithms/kernel_inst_x86.h
  cpp/daal/src/algorithms/logitboost/logitboost_training_result_fpt.cpp
Due: .ci/pipeline/ci.yml

resolve merge conflict while rebasing in Fix incorrect include in service_hash_table.h file
  cpp/daal/src/algorithms/optimization_solver/sgd/sgd_types_fpt.cpp
Due: .ci/pipeline/ci.yml

clang
  cpp/daal/src/algorithms/kernel_inst_x86.h
  cpp/daal/src/algorithms/kmeans/kmeans_init_parameter_types.cpp
Due: .ci/pipeline/ci.yml

Add ability to pass hyperparameters from DAAL API to kernels in Covariance algorithm
  cpp/daal/include/algorithms/covariance/covariance_batch.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add else case for missing param
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_training_types.cpp
Due: .ci/pipeline/ci.yml

fix cpp examples of online covariance for old compilers (#2474)
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  examples/oneapi/cpp/source/covariance/cor_dense_online.cpp
  examples/oneapi/cpp/source/covariance/cov_dense_online.cpp
  examples/oneapi/dpc/source/covariance/cor_dense_online.cpp
  examples/oneapi/dpc/source/covariance/cov_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor
  cpp/daal/src/algorithms/optimization_solver/sgd/sgd_types_fpt.cpp
Due: .ci/pipeline/ci.yml

Update according code suggestions
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_container.h
  cpp/daal/src/algorithms/pca/pca_result.cpp
Due: .ci/pipeline/ci.yml

Replace DAALROOT with DALROOT
  .ci/pipeline/ci.yml
  deploy/local/vars_mac.sh
  examples/daal/java/launcher.bat
  examples/daal/java/launcher_lnx.sh
  examples/daal/java/launcher_mac.sh
  samples/daal/cpp/mpi/makefile_lnx
  samples/daal/cpp/mysql/makefile_lnx
  samples/daal/cpp/mysql/makefile_mac
  samples/daal/cpp/oneccl/makefile_lnx
  samples/daal/java/hadoop/launcher.sh
  samples/daal/java/spark/launcher.sh
  samples/daal/scala/spark/launcher.sh
  samples/oneapi/dpc/ccl/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove maven folder
  deploy/maven/README-doc
  deploy/maven/README-natives
  deploy/maven/README-src
  deploy/maven/daal.pom
  deploy/maven/dal-natives.pom
  deploy/maven/dal-parent.pom
  deploy/maven/dal.pom
Due: .ci/pipeline/ci.yml

update examples
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  examples/oneapi/cpp/source/covariance/cor_dense_online.cpp
  examples/oneapi/cpp/source/covariance/cov_dense_online.cpp
  examples/oneapi/dpc/source/covariance/cor_dense_online.cpp
  examples/oneapi/dpc/source/covariance/cov_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update README.md for bazel
  dev/bazel/README.md
Due: .ci/pipeline/ci.yml

kmeans accidental deletion, minor docs
  cpp/daal/include/algorithms/decision_tree/decision_tree_regression_model.h
  cpp/daal/src/algorithms/kmeans/kmeans_init_parameter_types.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

newline
  cpp/daal/src/algorithms/kmeans/kmeans_init_parameter_types.cpp
Due: .ci/pipeline/ci.yml
