Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

.ci/pipeline/ci.yml:
  jobs:
  - job: ClangFormat
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - script: '.ci/env/apt.sh clang-format
  
        '
      displayName: apt-get
    - script: '.ci/scripts/clang-format.sh
  
        '
      displayName: clang-format check
      failOnStderr: true
  - job: LinuxMakeGNU_MKL
    timeoutInMinutes: 0
  ...

.ci/pipeline/docs.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - script: 'cd docs
  
      sudo apt-get install python3-setuptools
  
      sudo pip3 install -r requirements.txt
  
      sudo apt-get update
  
      sudo apt-get install doxygen
  
      '
    displayName: Install requirements
  - script: 'cd docs
  
      make html
  
      '
  ...

minor fixes
  cpp/oneapi/dal/algo/linear_kernel/test/badargs.cpp
  cpp/oneapi/dal/algo/sigmoid_kernel/test/overflow.cpp
  cpp/oneapi/dal/backend/primitives/stat/test/cov_dpc.cpp
  cpp/oneapi/dal/backend/primitives/test/ndarray.cpp
  cpp/oneapi/dal/test/archives.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Disable Intel libs link for icx compiler
  dev/make/compiler_definitions/icx.mkl.32e.mk
Due: .ci/pipeline/ci.yml

[CI, Enhancement] generate a nightly oneDAL build for sklearnex Github Actions (#2863)
  .ci/scripts/collect_opencl_rt.ps1
  .ci/scripts/install_dpc.ps1
  .github/workflows/nightly-build.yml
Due: .ci/pipeline/ci.yml

adding engline_list
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Disable Intel libs link for icx compiler (#2870)
  dev/make/compiler_definitions/icx.mkl.32e.mk
Due: .ci/pipeline/ci.yml

minor fix
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

adding backward comp cpu gpu gen
  cpp/daal/src/algorithms/engines/engine_batch_impl.h
  cpp/daal/src/algorithms/engines/mcg59/mcg59_batch_impl.h
  cpp/daal/src/algorithms/engines/mt19937/mt19937_batch_impl.h
  cpp/daal/src/algorithms/engines/mt2203/mt2203_batch_impl.h
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

remove interop/common_dpc.hpp from new file
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Replace double backtick with single backtick in comments
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

add init dispatcher
  cpp/oneapi/dal/backend/primitives/rng/rng.hpp
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

adding shared memory
  cpp/oneapi/dal/backend/primitives/rng/rng_dpc.cpp
  cpp/oneapi/dal/backend/primitives/rng/test/rng_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

address undefined uint error
  examples/daal/cpp/source/optimization_solvers/custom_obj_func.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

chore(workflows): add `editorconfig-checker` (#2849)
  .ci/env/editorconfig-checker.sh
  .ci/pipeline/ci.yml
  .ecrc
  .editorconfig
  .github/renovate.json
  CONTRIBUTING.md
Due: .ci/pipeline/ci.yml

minor fixes
  .bazelversion
  cpp/daal/BUILD
Due: .ci/pipeline/ci.yml

fix for win
  makefile
Due: .ci/pipeline/ci.yml

Updated comments in threading.h
  cpp/daal/src/threading/threading.h
Due: .ci/pipeline/ci.yml

Apply review comments to threading.rst
  docs/source/contribution/threading.rst
Due: .ci/pipeline/docs.yml

minor fix for bw comp
  makefile
Due: .ci/pipeline/ci.yml

Initial commit to replace internally developed sparse GEMM with MKL sparse gemm
  cpp/oneapi/dal/algo/kmeans/BUILD
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix dimensionality error
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Add dependencies parameter into CSR compute_data_squares function
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Attempt to align empty clusters handling for sparse and dense SYCL input
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove incorrectly used communicator from sparse GPU Kmeans
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Fix failure in K-means double tests
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Simplify CSR update_centroids implementation
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

revert unneeded change
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_dense_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Refactoring
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove incorrectly added files
  cpp/oneapi/dal/algo/kmeans/test/batch__.cpp
  cpp/oneapi/dal/algo/kmeans/test/batch__my.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

clang-format
  cpp/oneapi/dal/algo/kmeans/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/detail/train_ops_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor change
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Implement review comments
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/detail/train_ops_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/test/batch__.cpp
  cpp/oneapi/dal/algo/kmeans/test/batch__my.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add comments
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix
  makefile
Due: .ci/pipeline/ci.yml

updates for master
  cpp/daal/src/algorithms/k_nearest_neighbors/oneapi/bf_knn_classification_model_ucapi_impl.h
  dev/make/compiler_definitions/icx.mkl.32e.mk
Due: .ci/pipeline/ci.yml

Fix errors after rebase
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

update version to 2024.7.0 (#2819)
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml
