Repository oneapi-src/oneDAL: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Path conditions:
  .ci/pipeline/ci.yml: any file but: docs, .ci/pipeline/docs.yml
  .ci/pipeline/docs.yml: any of: cpp/daal/include, cpp/oneapi, docs, examples, .ci/pipeline/docs.yml

fix typo
  docs/source/get-started/build-and-run-examples.rst
Due: .ci/pipeline/docs.yml

fix typo
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

Move the optimizer dispatching logic to minimize function
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_dense_batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/optimizer_impl.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/optimizer.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Minor
  cpp/oneapi/dal/algo/logistic_regression/backend/optimizer_impl.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/common.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_svd_impl_dpc.cpp
  examples/oneapi/dpc/source/pca/pca_svd_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Document functions and separate declarations and implementations
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

add init kernel for partial train
  cpp/oneapi/dal/algo/pca/backend/cpu/partial_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/detail/finalize_train_ops.hpp
  cpp/oneapi/dal/algo/pca/train_types.cpp
  cpp/oneapi/dal/algo/pca/train_types.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Profiling additions for benchmarking
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
  cpp/oneapi/dal/backend/primitives/search/search_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

review comments #1
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_predict_types.h
  cpp/daal/src/algorithms/dtrees/gbt/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_builder.cpp
  cpp/daal/src/algorithms/dtrees/gbt/gbt_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

review comments #2 - fix pImpl idiom
  cpp/daal/BUILD
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove debug output, change optimizer_impl minimize interface
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_dense_batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/optimizer_impl.hpp
  cpp/oneapi/dal/algo/logistic_regression/common.cpp
  cpp/oneapi/dal/algo/logistic_regression/common.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/optimizer.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/newton_cg/common.cpp
  cpp/oneapi/dal/algo/newton_cg/common.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/cg_solver_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/line_search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/newton_cg_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/newton_cg_dpc.cpp
  examples/oneapi/dpc/source/logistic_regression/logistic_regression_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add cpu finalize kernel +minor fixes
  cpp/daal/src/algorithms/pca/pca_dense_correlation_online_kernel.h
  cpp/oneapi/dal/algo/pca.hpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/partial_train_kernel_cov.cpp
  examples/oneapi/cpp/source/pca/pca_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove redundant header and fix example
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
  examples/oneapi/dpc/source/logistic_regression/logistic_regression_dense_batch.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove redundatn imports
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

extending tests
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  cpp/oneapi/dal/algo/covariance/test/online.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
  cpp/oneapi/dal/algo/pca/test/online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

comments resolve
  cpp/oneapi/dal/algo/covariance/test/online.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/partial_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/partial_train_kernel.hpp
  cpp/oneapi/dal/algo/pca/detail/finalize_train_ops.cpp
  cpp/oneapi/dal/algo/pca/detail/finalize_train_ops.hpp
  cpp/oneapi/dal/algo/pca/detail/finalize_train_ops_dpc.cpp
  cpp/oneapi/dal/algo/pca/detail/partial_train_ops.hpp
  cpp/oneapi/dal/algo/pca/detail/partial_train_ops_dpc.cpp
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
  cpp/oneapi/dal/algo/pca/test/online.cpp
  examples/oneapi/cpp/source/pca/pca_dense_online.cpp
  examples/oneapi/dpc/source/pca/pca_cor_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

refactor: replace boolean parameters with DAAL_UINT64 flag
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_predict_types.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_predict_types.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_types.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_container.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_result_fpt.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_types.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor fix
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/partial_train_kernel_cov_dpc.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update makefile, remove dependency from rng_primitive
  cpp/oneapi/dal/algo/logistic_regression/BUILD
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
  makefile.lst
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Clang format
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix: usage of bias/margin for LightGBM models
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
Due: .ci/pipeline/ci.yml

review comments #2
  cpp/daal/src/algorithms/dtrees/dtrees_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

[doc] Update setvars (#2551)
  docs/source/get-started/build-and-run-examples.rst
  docs/source/onedal/build_app/build-application.rst
Due: .ci/pipeline/docs.yml

fixup endless for loop
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
Due: .ci/pipeline/ci.yml

Dispatching functionality change
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/detail/dtype_dispatcher.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

use TArray, introduce TreeShapVersion enum
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

use TArray where possible
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

add draft svd
  cpp/daal/src/algorithms/pca/pca_dense_svd_online_fpt_cpu.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_svd.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/partial_train_kernel_svd.cpp
  cpp/oneapi/dal/algo/pca/detail/finalize_train_ops.cpp
  cpp/oneapi/dal/algo/pca/detail/partial_train_ops.cpp
  cpp/oneapi/dal/algo/pca/test/online.cpp
  cpp/oneapi/dal/algo/pca/train_types.cpp
  cpp/oneapi/dal/algo/pca/train_types.hpp
  cpp/oneapi/dal/backend/interop/common.hpp
  examples/oneapi/cpp/source/pca/pca_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

fix: move data field to implementation class
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_classification_model.h
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_model.h
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_model_impl.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_model_impl.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Update cpp/daal/include/algorithms/tree_utils/tree_utils.h
  cpp/daal/include/algorithms/tree_utils/tree_utils.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add typedef to shorten statements
  cpp/daal/include/algorithms/gradient_boosted_trees/gbt_regression_predict_types.h
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

add svd wa
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_svd.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/partial_train_kernel_svd.cpp
  cpp/oneapi/dal/algo/pca/train_types.cpp
  cpp/oneapi/dal/algo/pca/train_types.hpp
  examples/oneapi/cpp/source/pca/pca_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

provide doxygen description of gbt classification funtions
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

fix some typos
  cpp/daal/src/algorithms/dtrees/gbt/classification/gbt_classification_predict_dense_default_batch_impl.i
Due: .ci/pipeline/ci.yml

svd method
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_svd.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/partial_train_kernel_svd.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_svd_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/partial_train_kernel_svd_dpc.cpp
  cpp/oneapi/dal/algo/pca/detail/finalize_train_ops_dpc.cpp
  cpp/oneapi/dal/algo/pca/detail/partial_train_ops_dpc.cpp
  cpp/oneapi/dal/algo/pca/test/online.cpp
  cpp/oneapi/dal/algo/pca/train_types.cpp
  cpp/oneapi/dal/algo/pca/train_types.hpp
  examples/oneapi/cpp/source/pca/pca_dense_online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

Remove new interfaces from windows
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/backend/threading.cpp
  cpp/oneapi/dal/backend/threading.hpp
  cpp/oneapi/dal/detail/policy.cpp
  cpp/oneapi/dal/detail/policy.hpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

minor test update
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
  cpp/oneapi/dal/algo/pca/test/online.cpp
Due: .ci/pipeline/ci.yml, .ci/pipeline/docs.yml

consistently use size_t for node indexing; unsigned -> uint32_t
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.cpp
  cpp/daal/src/algorithms/dtrees/gbt/treeshap.h
Due: .ci/pipeline/ci.yml

Update makefile
  makefile.lst
Due: .ci/pipeline/ci.yml

Change data_management defines
  cpp/daal/src/data_management/data_conversion_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker.cpp
Due: .ci/pipeline/ci.yml
